10mwaVKMv1nbArbD.json
{"createdAt":"2025-10-22T00:21:24.452Z","updatedAt":"2025-10-22T00:21:28.644Z","id":"10mwaVKMv1nbArbD","name":"BACKUP Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-704,-40],"id":"24e303f0-2fa9-4e0f-8535-568aa743eb1c","name":"n8n","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-256,-112],"id":"be71c1c6-2df1-43d5-b274-4749f2d7d83f","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-480,-40],"id":"5cb31089-cc5d-401b-8ff4-89365dd2400a","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1600,-40],"id":"1e0e25b0-078d-484a-8595-597af8e5f03b","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1600,184],"id":"d52ece0b-a046-44f5-a98e-f05d442a2c05","name":"Error Trigger"},{"parameters":{"resource":"folder","operation":"search","query":"BACKUP_N8N"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-1376,-40],"id":"af013ab8-c87f-47cc-b058-9c276b78e39f","name":"search","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"resource":"folder","operation":"create","name":"=BACKUP_N8N_{{ $now.format('dd-MM-yyyy') }}","options":{}},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-928,-40],"id":"96c51724-1423-4708-b45d-7e2b0b0b963a","name":"create","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"fileName":"={{ $('Loop Over Items').first().json.name }}","parentId":"={{ $('create').first().json.id }}","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-32,-40],"id":"aa71530c-7dfd-491a-9a51-0dbbd225173f","name":"upload","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"resource":"folder","operation":"delete","folderId":"={{ $json.id }}"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-1152,-40],"id":"86b75775-57c5-4841-b2c5-587952962828","name":"delete","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - Backup Workflows","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1376,184],"id":"6f33fccb-25c0-488f-8ec6-62396d8eeb2a","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"upload","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"search","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"search":{"main":[[{"node":"delete","type":"main","index":0}]]},"create":{"main":[[{"node":"n8n","type":"main","index":0}]]},"upload":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"delete":{"main":[[{"node":"create","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dfe333b4-7430-4332-9d5f-cf0d99d8198f","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:21:24.452Z","updatedAt":"2025-10-22T00:21:24.452Z","role":"workflow:owner","workflowId":"10mwaVKMv1nbArbD","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}