12lWT7pu5ec2o3o6.json
{"createdAt":"2025-10-22T00:29:20.621Z","updatedAt":"2025-10-28T11:55:19.509Z","id":"12lWT7pu5ec2o3o6","name":"Agente STW - Suporte (MAIN)","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"CRDbFU3QQ5kqg2Zk","mode":"list","cachedResultUrl":"/workflow/CRDbFU3QQ5kqg2Zk","cachedResultName":"Agente STW - ParseMessage"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n{\n  messageType: $node['Webhook'].json.body.data.message.type,\n  text: $node['Webhook'].json.body.data.message.text,\n  mediaLink: $node['Webhook'].json.body.data.message.dataMedia.urlFile\n}\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[144,96],"id":"c69cb598-656f-49ac-9f83-94e3d68ec29c","name":"ParseMessage"},{"parameters":{"assignments":{"assignments":[{"id":"c80b3d57-9995-4326-913a-86e8caafee07","name":"payload.from","value":"={{ $node['Webhook'].json.body.data.number }}","type":"string"},{"id":"2a7a4aed-44b3-40e7-8121-a88fa72175ed","name":"payload.msg.chatId","value":"={{ $node['Webhook'].json.body.data.message.chatId }}","type":"string"},{"id":"290a9746-b930-468d-a2ee-4092c0b1b173","name":"payload.msg.id","value":"={{ $node['Webhook'].json.body.data.message.id }}","type":"string"},{"id":"474d9868-896c-4113-a5cf-76e660825e6e","name":"payload.msg.date","value":"={{ $now }}","type":"string"},{"id":"ac152d74-dc84-4e65-bac4-887342fdcc54","name":"payload.msg.content","value":"={{ $json.content }}","type":"string"},{"id":"14ccc193-976a-442e-bbdc-a8eb27802685","name":"payload.msg.sector","value":"={{ $node['Webhook'].json.body.data.sector }}","type":"string"},{"id":"920aff3e-5b5d-41f8-8441-58419cfddf0e","name":"payload.userInfo","value":"={{ $node['ClientInfo'].json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,96],"id":"5b8359b3-39c1-424c-9fd7-59daedd287d6","name":"Payload"},{"parameters":{"workflowId":{"__rl":true,"value":"cH3cfwVZ03618egA","mode":"list","cachedResultUrl":"/workflow/cH3cfwVZ03618egA","cachedResultName":"Agente STW - MessageQueue"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ $json.payload }}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[592,96],"id":"1ce40399-03b2-49c0-a812-a0e410927eb3","name":"MessageQueue"},{"parameters":{"workflowId":{"__rl":true,"value":"7m7I5nRHKmEgLV2H","mode":"list","cachedResultUrl":"/workflow/7m7I5nRHKmEgLV2H","cachedResultName":"Agente STW - IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{\n{\n  ...$node['Payload'].json.payload,\n  msg: {\n    ...$node['Payload'].json.payload.msg,\n    content: $json.message\n  }\n}\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[816,96],"id":"e187720e-9bac-4b8a-a5fd-2749c20caaec","name":"IA"},{"parameters":{"workflowId":{"__rl":true,"value":"MDrH0ovDDmHC47xi","mode":"list","cachedResultUrl":"/workflow/MDrH0ovDDmHC47xi","cachedResultName":"Agente STW - Response"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{\n  {\n    ...$node['Payload'].json.payload,\n    ia: $json.output\n  }\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1040,96],"id":"5d7d1522-9d73-4954-b087-2de6cf630eb7","name":"Response"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-304,320],"id":"8abfb37f-87fa-4c2c-afda-106edb8e2626","name":"Error Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,320],"id":"e6c15603-3514-4aae-a5df-8ec6ac0239c8","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"14d03e50-b531-489a-8436-75eafd820414","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,96],"id":"fd6dd393-aba0-4863-82ad-d70ef0728f9f","name":"Webhook","webhookId":"14d03e50-b531-489a-8436-75eafd820414"},{"parameters":{"workflowId":{"__rl":true,"value":"JhBcKNDy9aPAY9QQ","mode":"list","cachedResultUrl":"/workflow/JhBcKNDy9aPAY9QQ","cachedResultName":"Agente STW - ClientInfo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n{\n  whatsapp: $json.body.data.number,\n  chatId: $json.body.data.message.chatId,\n  sectorId: $json.body.data.sector\n}\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-80,96],"id":"05cab95a-bda9-423e-9f2f-31da13bdf6a7","name":"ClientInfo"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,-144],"id":"32f66b4b-9385-46aa-9678-75f73c74c867","name":"Delete table or rows","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"operation":"delete","key":"5514974009711_categories"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-96,-144],"id":"9fa517ba-2ac8-48fd-93a9-40b77b36db1b","name":"Redis","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}}],"connections":{"ParseMessage":{"main":[[{"node":"Payload","type":"main","index":0}]]},"Payload":{"main":[[{"node":"MessageQueue","type":"main","index":0}]]},"MessageQueue":{"main":[[{"node":"IA","type":"main","index":0}]]},"IA":{"main":[[]]},"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"ClientInfo","type":"main","index":0}]]},"ClientInfo":{"main":[[{"node":"ParseMessage","type":"main","index":0}]]},"Delete table or rows":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":231,"url":"https://n8n.systemway.com.vc/execution/workflow/1/231","retryOf":"34","error":{"message":"Example Error Message","stack":"Stacktrace"},"lastNodeExecuted":"Node With Error","mode":"manual"},"workflow":{"id":"1","name":"Example Workflow"}}}],"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"717","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"128.140.121.45","cf-ipcountry":"DE","cf-ray":"9929ba85fb7bf2c0-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"478622f3-8c9c-477a-a654-038c47ca2744","content-type":"application/json","x-forwarded-for":"128.140.121.45","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"type":"@evento","menu":"68d4042570eae17fb12f4d6a","data":{"chatId":"68f8ebb635262264fd6ed9fd","sector":"@chat.setor","sectorId":"@setor.codigo","name":"@contato.nomeWhatsapp","number":"5514974009711","chatDateStart":"22/10/2025 11:35:34","message":{"id":"68f8ebf8f31c1e89c5150084","chatId":"68f8ebb635262264fd6ed9fd","channelId":"68e00796f15e8aa72288f6b8","contactId":"681226bbce154d012a5dc9a9","organizationId":"68d400dd58603c555b1c135c","userId":null,"bySync":false,"isPrivate":false,"isMmms":false,"isReplyMessage":false,"origin":2,"text":"todos os sites","type":0,"dhSent":null,"dhDelivered":null,"dhRead":null,"dataLocation":{},"dataVCards":{},"dataMedia":{}}}},"webhookUrl":"https://n8n.systemway.com.vc/webhook/14d03e50-b531-489a-8436-75eafd820414","executionMode":"production"}}]},"versionId":"ed45f1af-1888-4cdf-b2ea-fb74ed0043c9","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:29:20.621Z","updatedAt":"2025-10-22T00:29:20.621Z","role":"workflow:owner","workflowId":"12lWT7pu5ec2o3o6","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}