23jRXNjT0gQjjnav.json
{"createdAt":"2025-07-18T19:30:59.110Z","updatedAt":"2025-10-13T17:28:49.923Z","id":"23jRXNjT0gQjjnav","name":"Prototipo Comercial","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","propertyName":"list_array","key":"=chat:{{ $('VARS').item.json.data.number }}","keyType":"list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-416,1040],"id":"0e420ad6-e683-4a1d-9ec1-cfaef0a34943","name":"Get","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=chat:{{ $('VARS').item.json.data.number }}","messageData":"={{ JSON.stringify($json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-864,1040],"id":"6c28bcb3-1e72-4be2-a8e3-4095533aca5e","name":"Push","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"feaeaaf1-4e83-4042-b729-6ce09719ba7e","name":"data.chatId","value":"={{ $json.body.data.chatId }}","type":"string"},{"id":"5b8b596d-0f32-4e4f-a4cd-dfdc17c70584","name":"data.name","value":"={{ $json.body.data.name }}","type":"string"},{"id":"3b00a701-d1a2-4a2c-8728-8fd72f92469c","name":"data.number","value":"={{ $json.body.data.number }}","type":"string"},{"id":"b43976d6-0d6d-4981-b937-60d355b224ef","name":"data.text","value":"={{ $json.body.data.text }}","type":"string"},{"id":"68805575-9b34-4cf0-85bf-719b9f91a364","name":"data.type","value":"={{ $json.body.data.type }}","type":"string"},{"id":"f2536bbd-0358-4de9-b203-0aee5f098be6","name":"data.audio","value":"={{ $json.body.data.audio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1984,1040],"id":"e9dd9c99-ac63-46ae-b8bf-deaad77067a4","name":"VARS"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-640,1040],"id":"6c3ef521-e0c1-4d8e-bbb5-825903d1277a","name":"Wait1","webhookId":"86ca040e-35ef-4333-a8eb-aa6c36cbaa1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9616cfb-f576-4767-aa46-f17766876425","leftValue":"={{ JSON.parse($json.list_array.last()).text }}","rightValue":"={{ $('VARS').item.json.data.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,1040],"id":"0174ff8f-a3ad-4491-831b-b235d27c457f","name":"If"},{"parameters":{"operation":"delete","key":"=chat:{{ $('VARS').item.json.data.number }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[32,1040],"id":"327ec483-0dee-4fc8-a6c6-533f1058e917","name":"delete2","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.message.audio","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1536,1136],"id":"db9fe516-7b57-4cb5-b1bd-6ac7577e8140","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1312,1136],"id":"6bbcfe2d-58e6-4734-8e39-c9d314ab6b8e","name":"OpenAI","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.type }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"a39a1369-60f9-4980-83b5-8ba66c2be7c9"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fdae08-1229-4043-a0fc-6f73d991f2cd","leftValue":"={{ $json.data.type }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1760,1040],"id":"e2453e82-7581-4625-840a-1ba14c5852ce","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,1136],"id":"c48d5ccc-51ab-4fa4-a464-97f048c2f707","name":"audio-text"},{"parameters":{"assignments":{"assignments":[{"id":"7569ac93-3a1c-4572-8b28-09d92b47ad91","name":"msg","value":"={{ $json.list_array.map(item => JSON.parse(item).text).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,1040],"id":"c2541214-4967-4e05-b470-e77de7348070","name":"context1"},{"parameters":{"assignments":{"assignments":[{"id":"d6d61980-2d21-4b46-b1a2-bb0f31e6a140","name":"message.text","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,944],"id":"0d174b03-0416-48ee-bac0-0cb709d7d90c","name":"text"},{"parameters":{"httpMethod":"POST","path":"10b0d4f0-5ad9-4117-b2f4-afad1229b0b0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2208,1040],"id":"2ce92548-e94e-411a-8336-f2a19149b94f","name":"Webhook","webhookId":"10b0d4f0-5ad9-4117-b2f4-afad1229b0b0"},{"parameters":{"promptType":"define","text":"=Mensagem: {{ $json.msg }}","options":{"systemMessage":"=Prompt Avançado para Agente Virtual Systemway\nVocê é um agente virtual responsável pelo atendimento ao cliente da Systemway.\nSeu objetivo é tirar dúvidas sobre os serviços da empresa usando contexto inteligente, agendar reuniões, transferir o cliente para o setor adequado, se necessário, encerrar o atendimento cordialmente quando apropriado.\n\n## Ferramentas disponíveis:\n- Postgres PGVector Store2 (com Embeddings/Reranker): consultar e fornecer informações detalhadas sobre serviços Systemway e FAQs usando inteligência contextual.\n- Outlook: para criar e gerenciar agendamentos de reuniões.\n- Transferir: direcionar o atendimento para o setor Suporte ou outro setor específico.\n- Encerrar: finalizar o atendimento de forma educada, quando apropriado.\n\nFluxo de Atendimento\n1. Saudação\n- Cumprimente o cliente, apresente-se como agente virtual Systemway e pergunte como pode ajudar.\n\n2. Entendimento da Demanda\n- Se o cliente perguntar sobre serviços, consulte o PGVector Store2/Embeddings para responder de forma detalhada.\n- Se pedir agendamento, colete nome e preferência de data/horário; agende via Outlook e confirme os detalhes.\n- Se solicitar transferência, demonstrar confusão ou não souber o que precisa, utilize a ferramenta Transferir para o setor adequado.\n- Ao encerrar qualquer atendimento (ex: dúvida sanada ou reunião marcada), utilize a ferramenta Encerrar para finalizar o contato cordialmente.\n- Caso não haja mais dúvidas, sempre ofereça a transferência para um setor especializado, se achar necessário.\n\n3. Transferência de Setor\nTransfira somente se:\n- Cliente pedir explicitamente,\n- Estiver confuso/perdido,\n- A conversa tiver terminado, mas ele precisar de atendimento especializado.\nAvise o cliente antes da transferência, dizendo para qual setor ele será direcionado.\n\n4. Encerramento\n- Após transferir ou solucionar a demanda, agradeça o contato e finalize usando a ferramenta Encerrar.\n\n\nRegras de ouro\n- Nunca transfira para um humano genérico; apenas para setores específicos usando a ferramenta correta.\n- Nunca invente respostas; sempre consulte as ferramentas antes de responder.\n- Seja cordial, objetivo e profissional em todo momento.\n- Respeite a privacidade dos dados dos clientes.\n- Dê respostas resumidas, mas claras.\n\nContexto:\nData de hoje: {{ $now }}\nChatId: {{ $('VARS').first().json.data.chatId }}\nNome do Cliente: {{ $('VARS').item.json.data.name }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[736,1040],"id":"49dc56fb-e654-4539-9b8d-0d0c4a355916","name":"AI Agent"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-1536,1472],"id":"a0395c19-9ca3-467e-a56d-f16bff612402","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"kTWa69Ohgi6CKr9J","name":"Supabase Systemway"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1536,1696],"id":"8a66780d-286b-45be-b453-fad9b743a4f8","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2208,2016],"id":"a7e63098-893f-4251-b755-b80ead76d667","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":"01EXHUDS6TCNVOWHDSQFDLAEI36LJSAP2R"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-2208,1584],"id":"355aaecb-ec2b-4c7f-b4a7-8bda7e597a39","name":"Microsoft OneDrive","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"jsCode":"const inputText = $input.first().json.data;\n\n// Split each service section by regex, keeping the title in the section\nconst serviceSections = inputText.split(/(?=\\d+\\.\\s*STW [A-Z0-9]+)/);\n\n// Remove any empty or non-service elements\nconst cleanedSections = serviceSections.filter(section =>\n  section.trim().match(/^\\d+\\.\\s*STW [A-Z0-9]+/)\n);\n\n// Return each as a new item, extracting the service name as extra info if you want\nconst outputItems = cleanedSections.map(section => {\n  const serviceMatch = section.match(/^\\d+\\.\\s*(STW [A-Z0-9]+)/);\n  const serviceName = serviceMatch ? serviceMatch[1] : 'Unknown Service';\n\n  return {\n    json: {\n      serviceName,\n      fulltext: section.trim()\n    }\n  };\n});\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,1584],"id":"1ea421a2-3b30-4271-a4f6-8c9062254a8b","name":"Code"},{"parameters":{"operation":"search","query":"RAG"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-2208,608],"id":"f08cf922-db7c-4ccb-a350-c8f32a5353a8","name":"Microsoft OneDrive1","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Code').item.json.fulltext }}","options":{"metadata":{"metadataValues":[{"name":"=serviceName","value":"={{ $('Code').item.json.serviceName }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1408,1696],"id":"208e750f-2164-42d6-a7f0-c492e0887d47","name":"Default Data Loader"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1984,1584],"id":"e3530b6a-7e39-4b5c-a2bc-fec4e99bd435","name":"Extract from File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1008,1472],"id":"251862ce-0773-4c58-996a-bc6560f98202","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[1136,1472],"id":"7a0db234-8691-44e4-8cb6-f29419f4dde8","name":"Reranker Cohere1","credentials":{"cohereApi":{"id":"5ekKUDlPzH7UfYSe","name":"CohereApi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_{{ $('VARS').item.json.data.number }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[608,1264],"id":"6db6d742-120b-45af-a099-ea8cdd9e8e99","name":"Chat Memory","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,1264],"id":"cc31a00c-cfc7-453f-a1ec-29fe8dac6eeb","name":"OpenAI1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"resource":"event","operation":"create","calendarId":{"__rl":true,"value":"AQMkAGUxZDUzMwA4ZS0xNmMxLTQ4NzQtYTA2ZC0xODdkYWM1MTc0N2MARgAAA52g0guWxB1Or0d8WnGzwPsHAB_vSSxhcRlEj1BEQ2DSA6oAAAIBBgAAAB_vSSxhcRlEj1BEQ2DSA6oAAAKCgwAAAA==","mode":"list","cachedResultName":"Calendário"},"subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Será o nome da pessoa`, 'string') }}","startDateTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Será a data e horário de inicio da reunião nesse formato (2025-06-12 12:23:37).`, 'string') }}","endDateTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Será a data de horário e encerramento da reunião nesse formato (2025-06-12 12:23:37).`, 'string') }}","additionalFields":{"body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","timeZone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[736,1264],"id":"537bdaf2-05cc-4144-b0f4-16434bf01327","name":"Outlook","webhookId":"aa9aa080-2dd7-440a-84e4-93a2eead4f22","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"toolDescription":"- Transferir: direcionar o atendimento para o setor Suporte ou outro setor específico.","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Deve pegar o id do chat e colocar na url: https://api.stw.chat/core/v2/api/chats/{id}/transfer\n\nExemplo:\nhttps://api.stw.chat/core/v2/api/chats/687a3e52482b1f71161caeac/transfer\n\nNão acrescente mais nada na url, somente igual ao exemplo acima`, 'string') }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"6629387fe26118c7bb7daa0d"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[864,1264],"id":"1bc999cd-9979-443d-a479-6be86b7745c9","name":"Transferir"},{"parameters":{"mode":"insert","tableName":"documents","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-1312,2016],"id":"0f6e1b29-b74b-4b7c-a763-40e83fbb8fc5","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"operation":"download","fileId":"01EXHUDS6TCNVOWHDSQFDLAEI36LJSAP2R"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-1984,2016],"id":"e7fa606c-556e-4df6-87f4-d0ba4c932318","name":"Microsoft OneDrive2","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"jsCode":"// n8n Code Node - Split SystemWay Services\n// Recebe como entrada um campo \"data\" com o texto completo dos serviços e retorna um item para cada serviço\n\nconst inputText = $input.first().json.data;\n\n// Split each service section by regex, keeping the title in the section\nconst serviceSections = inputText.split(/(?=\\d+\\.\\s*STW [A-Z0-9]+)/);\n\n// Remove any empty or non-service elements\nconst cleanedSections = serviceSections.filter(section =>\n  section.trim().match(/^\\d+\\.\\s*STW [A-Z0-9]+/)\n);\n\n// Return each as a new item, extracting the service name as extra info if you want\nconst outputItems = cleanedSections.map(section => {\n  const serviceMatch = section.match(/^\\d+\\.\\s*(STW [A-Z0-9]+)/);\n  const serviceName = serviceMatch ? serviceMatch[1] : 'Unknown Service';\n\n  return {\n    json: {\n      serviceName,\n      fulltext: section.trim()\n    }\n  };\n});\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,2016],"id":"28dbe2d6-37fa-434c-a5a8-26c51c7d1239","name":"Code1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1760,2016],"id":"a0f2d56d-b3ca-40fc-8229-143c984fbbb6","name":"Extract from File1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1312,2240],"id":"ed013c69-3e0f-45c6-997f-e001794ccdcd","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Code1').item.json.fulltext }}","options":{"metadata":{"metadataValues":[{"name":"serviceName","value":"={{ $('Code1').item.json.serviceName }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1184,2240],"id":"d42616ba-dab3-4f2d-bb97-0b1bf60f6818","name":"Default Data Loader1"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use essa tool para tirar duvidas do cliente","tableName":"documents","topK":20,"useReranker":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[992,1264],"id":"778366c0-ed6b-4997-8a03-b583fdd491f0","name":"Postgres PGVector Store2","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"toolDescription":"- Encerrar: finalizar o atendimento de forma educada, quando apropriado.","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Deve pegar o chatId e colocar na url: https://api.stw.chat/core/v2/api/chats/{id}/finalize\n\nExemplo:\nhttps://api.stw.chat/core/v2/api/chats/687a3e52482b1f71161caeac/finalize\n\nNão acrescente mais nada na url, siga o exemplo`, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1280,1264],"id":"f624b1b1-7172-41f5-a67f-d0d47c4076b5","name":"Encerrar"},{"parameters":{"resource":"folder","operation":"search","query":"BACKUP"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-1984,2448],"id":"2fcb3282-d557-4fde-a21f-415aaf024a7c","name":"Search a folder","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}}],"connections":{"Get":{"main":[[{"node":"If","type":"main","index":0}]]},"Push":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"VARS":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get","type":"main","index":0}]]},"If":{"main":[[{"node":"delete2","type":"main","index":0}]]},"delete2":{"main":[[{"node":"context1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"audio-text","type":"main","index":0}]]},"Switch":{"main":[[{"node":"text","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"audio-text":{"main":[[{"node":"Push","type":"main","index":0}]]},"text":{"main":[[{"node":"Push","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"VARS","type":"main","index":0}]]},"context1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Microsoft OneDrive2","type":"main","index":0}]]},"Microsoft OneDrive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Code":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Postgres PGVector Store2","type":"ai_embedding","index":0}]]},"Reranker Cohere1":{"ai_reranker":[[{"node":"Postgres PGVector Store2","type":"ai_reranker","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Outlook":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Transferir":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Microsoft OneDrive2":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Postgres PGVector Store2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Encerrar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"334","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"157.90.254.255","cf-ipcountry":"DE","cf-ray":"9612b3c48c01d3a4-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"48776092-ebed-43b6-8fda-90f9a8338a85","content-type":"application/json","x-forwarded-for":"157.90.254.255","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"type":"MESSAGE_RECEIVE","typeLog":"MSG","data":{"chatId":"687a3e52482b1f71161caeac","userId":"66cf854a8d45e52a01cf1144","name":"Vinicius Marotti","number":"5514974009711","text":"Queria saber melhor como funciona o serviço de firewall de vocês","type":"0","chatDateStart":"18/07/2025 09:30:10","audio":"@chat.mensagem.midia.url"}},"webhookUrl":"https://n8n.systemway.com.vc/webhook/10b0d4f0-5ad9-4117-b2f4-afad1229b0b0","executionMode":"production"}}]},"versionId":"d548e395-5caf-46d3-8301-3b791b2e48f6","triggerCount":3,"shared":[],"tags":[]}