3PdR43U1wcENiplJ.json
{"createdAt":"2025-10-22T00:22:01.905Z","updatedAt":"2025-10-27T14:56:55.777Z","id":"3PdR43U1wcENiplJ","name":"Integracao STW Chat e Desk - Salvar Informaçoes BANCO 240","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":401,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":402,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e3fb6fa-9f25-4d89-a5ea-6759fc24276f","leftValue":"={{ $json.trigger }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1520,96],"id":"fa18062e-6ace-4002-a68e-be5e4f6530d7","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1136,3712],"id":"8b0a2f0d-7fcb-48ab-8ebc-8e572b73d803","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - STW Salvar Solicitantes","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1360,3712],"id":"b321abad-a5c1-46fc-8aed-c42879376eb0","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\nconst request = {\n  url: \"https://api.desk.ms/AutoCategorias/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst data = response.root || [];\n\n// Filtra e transforma os dados\nconst resultado = data\n  .filter(item => typeof item.Assunto === 'string' && item.Assunto.includes(' - '))\n  .map(item => {\n    const partes = item.Assunto.split(' - ').map(p => p.trim());\n\n    return {\n      chave: item.Chave || null,\n      categoria: partes[0] || '',\n      subcategoria: partes[1] || '',\n      tipo: partes[2] || ''\n    };\n  });\n\nreturn resultado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-16],"id":"360e7a5a-f81f-460a-996a-9c90377c8c86","name":"Code3","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-16],"id":"8ea879be-f8b5-413f-8364-e4891d8cc749","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,-16],"id":"6f0c7ce4-aed7-4071-b642-aaf5c0167696","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-16],"id":"c11824d1-8563-4e99-b811-ca359c0e693c","name":"getToken1"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"autocategoria_desk","mode":"list","cachedResultName":"autocategoria_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-80,-16],"id":"7e2088cf-10f7-4d24-bda5-d5c53c70e982","name":"delete","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO autocategoria_desk (id, category, sub_category, type_category, auto_category)\nVALUES ('{{ $json.chave }}', '{{ $json.categoria }}', '{{ $json.subcategoria }}', '{{ $json.tipo }}', '{{ $json.categoria }} - {{ $json.subcategoria }} - {{ $json.tipo }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[816,-16],"id":"466f993f-92e6-4c0f-bd01-0789f0ecfa11","name":"insert","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst operadoresRequest = {\n  url: \"https://api.desk.ms/Operadores/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst operadoresResponse = await this.helpers.httpRequest(operadoresRequest);\nconst operadores = operadoresResponse.root || [];\n\nconst gruposRequest = {\n  url: \"https://api.desk.ms/Grupos/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst gruposResponse = await this.helpers.httpRequest(gruposRequest);\nconst grupos = gruposResponse.root || [];\n\nconst grupoMap = {};\nfor (const grupo of grupos) {\n  grupoMap[grupo.Nome.trim()] = grupo.Chave;\n}\n\nconst resultado = operadores.map(item => {\n  const grupoNome = item.GrupoPrincipal?.trim();\n  const grupoChave = grupoMap[grupoNome] || null;\n\n  return{\n    chave: item.Chave,\n    nome: item.Nome,\n    sobrenome: item.Sobrenome,\n    email: item.Email,\n    grupoPrincipal: grupoNome,\n    chaveGrupo: grupoChave\n  }\n});\n\nreturn resultado.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,1296],"id":"1c08552d-ca57-4dc1-890a-b100a346f5f9","name":"Code5","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2864,1296],"id":"04323c04-d0ca-47fa-a389-e8f87d95b00c","name":"Loop Over Items1","disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2016,1296],"id":"fd7507a9-b31d-4489-834f-c94204bee7fd","name":"Schedule Trigger1","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,1296],"id":"db4efeb9-42fa-49be-8ea5-ce79a1b5b9e5","name":"getToken2","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"operadores_desk","mode":"list","cachedResultName":"operadores_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2240,1296],"id":"58d709e0-509a-40ab-b7f8-9c4bbc4e0dc4","name":"delete1","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO operadores_desk (id, name, last_name, fullname, email, group_id, group_name)\nVALUES (\n  '{{ $json.chave }}',\n  '{{ $json.nome }}',\n  '{{ $json.sobrenome }}',\n  '{{(() => {\n      const nome = $json.nome || \"\";\n      const sobrenome = $json.sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.email }}',\n  '{{ $json.chaveGrupo }}',\n  '{{ $json.grupoPrincipal }}'\n  );","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3136,1296],"id":"2c80831d-0799-4e73-ad6f-9f6a6538220e","name":"insert1","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst request = {\n  url: \"https://api.desk.ms/Status/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"1\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst status = response.root || [];\n\nreturn status.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,736],"id":"5132c1bc-2570-41f5-b6d1-d0994d6680fe","name":"Code7","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,736],"id":"f846425b-84cc-447d-bcfa-f4b16e0d50a4","name":"Loop Over Items3"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,736],"id":"6338ecf5-1499-421d-aea3-987d34430d1a","name":"Schedule Trigger3"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,736],"id":"3b09fc9a-e1d9-40ca-a1d1-3b7d0ad34e73","name":"getToken5"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"status_desk","mode":"list","cachedResultName":"status_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-80,736],"id":"c717a947-af0f-4e53-ba69-0998f7aaae13","name":"delete3","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO status_desk (id, sequence_id, name)\nVALUES ('{{ $json.Chave }}', '{{ $json.Sequencia }}', '{{ $json.Nome }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[816,784],"id":"a5ad05a8-28a1-422a-b2ad-3dbb6e80048e","name":"insert3","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Buscar todos os grupos\nconst requestGroupsList = {\n  url: \"https://api.desk.ms/GrupoEmpresas/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst responseGroupLists = await this.helpers.httpRequest(requestGroupsList);\nconst groupLists = responseGroupLists.root || [];\n\n// 2. Para cada grupo, buscar as empresas e montar a lista única de empresas+grupo\nlet empresas = [];\n\nfor (const grupo of groupLists) {\n  const requestEmpresas = {\n    url: \"https://api.desk.ms/GrupoEmpresas\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Chave\": grupo.Sequencia\n    }\n  };\n\n  const responseEmpresas = await this.helpers.httpRequest(requestEmpresas);\n  const infoGrupo = responseEmpresas.TGrupoEmpresa || {};\n  const listaEmpresas = infoGrupo.ListaEmpresas || [];\n\n  listaEmpresas.forEach(emp => {\n    empresas.push({\n      empresa_id: emp.id,\n      name: emp.text,\n      grupo_nome: grupo.Nome,\n      codigo_sequencia: grupo.Sequencia\n    });\n  });\n}\n\n// 3. Retornar uma empresa por item\nreturn empresas.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,368],"id":"a2f4f2ce-5c24-4266-a939-534667a174a6","name":"Code8","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,368],"id":"a174147c-6366-421e-87d8-b36922358b8a","name":"Loop Over Items4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,368],"id":"ecce8f85-9603-43ed-b40d-e2682851ec9b","name":"Schedule Trigger4"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,368],"id":"c3a3debb-2c0d-47ab-81f1-8ec76c7e6466","name":"getToken6"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"grupo_empresas_desk","mode":"list","cachedResultName":"grupo_empresas_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-80,368],"id":"292bfb0b-dc81-4864-ac2b-77f9fa312a51","name":"delete4","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO grupo_empresas_desk (company_id, company_name, group_company_id, group_company_name)\nVALUES ('{{ $json.empresa_id }}', '{{ $json.name.replace(/'/g, \"''\") }}', '{{ $json.codigo_sequencia }}', '{{ $json.grupo_nome.replace(/'/g, \"''\") }}')","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[816,368],"id":"0734a3e7-9604-4c1f-9ff5-db5b8be325ce","name":"insert4","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"httpMethod":"POST","path":"fea5778f-8c02-4ba8-a003-8f722b427c0a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1072,112],"id":"b04ae4ed-3943-4a6d-be13-99661e67e1e9","name":"Solicitantes","webhookId":"fea5778f-8c02-4ba8-a003-8f722b427c0a"},{"parameters":{"content":"# Salvar Solicitantes Desk no DB","height":568,"width":1112,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-112],"id":"25c5bed7-d9e8-495c-abec-ff9408881446","name":"Sticky Note","disabled":true},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Lista de usuários\nconst requestList = {\n  url: \"https://api.desk.ms/Usuarios/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst responseList = await this.helpers.httpRequest(requestList);\nconst data = responseList.root || [];\n\n// 2. Faz requisições em paralelo usando Promise.all\nconst resultados = await Promise.all(data.map(async (item) => {\n  const chave = item.Chave;\n\n  const requestDetail = {\n    url: \"https://api.desk.ms/Usuarios\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      Chave: chave\n    },\n    json: true\n  };\n\n  try {\n    const responseDetail = await this.helpers.httpRequest(requestDetail);\n    const telefone = responseDetail?.TUsuario?.SMSNumero || \"\";\n\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone\n      }\n    };\n  } catch (err) {\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone: \"\"\n      }\n    };\n  }\n}));\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,112],"id":"c6e13484-9d8b-42b4-b973-1dd47be0066a","name":"Code6","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3152,112],"id":"e48692c4-752a-4d5a-8b8d-7b1b73ba291e","name":"Loop Over Items2","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2272,112],"id":"f852c193-c426-43cd-8154-63c4737dd19b","name":"Schedule Trigger2","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,112],"id":"1626c2a6-02aa-40d4-8222-aed2aa6d8c7b","name":"getToken4","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"solicitantes_desk","mode":"list","cachedResultName":"solicitantes_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2496,112],"id":"1287323b-dda0-42b5-a179-3cdd13e96f58","name":"delete2","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"content":"# Salvar Operadores Desk","height":560,"width":904},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1088],"id":"f08275b3-9301-4112-8e10-f9d77fbb3b7d","name":"Sticky Note2"},{"parameters":{"content":"# Salvar Auto Categoria Desk","height":320,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-112],"id":"beccdbfa-502d-4cfc-83ef-96fec998d67d","name":"Sticky Note3"},{"parameters":{"content":"# Salvar Status Desk","height":352,"width":1320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,624],"id":"e077b579-8962-442f-85b5-f884254867f4","name":"Sticky Note4","disabled":true},{"parameters":{"content":"# Salvar Grupo Empresas Desk","height":324,"width":1320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,256],"id":"201618fa-0ef7-4a34-bda3-22fdcb96d012","name":"Sticky Note5","disabled":true},{"parameters":{"operation":"executeQuery","query":"update solicitantes_desk set\n    name = '{{ $('VARS1').item.json.data.TUsuario.Nome.replace(/'/g, \"''\") }}',\n    last_name = '{{ $('VARS1').item.json.data.TUsuario.Sobrenome.replace(/'/g, \"''\") }}',\n    fullname = '{{(() => {\n      const nome = $('VARS1').item.json.data.TUsuario.Nome || \"\";\n      const sobrenome = $('VARS1').item.json.data.TUsuario.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n    email = '{{ $('VARS1').item.json.data.TUsuario.Email.replace(/'/g, \"''\") }}',\n    number = '{{ $('VARS1').item.json.data.TUsuario.SMS }}',\n    client_id = '{{ $('VARS1').item.json.data.TUsuario.CodCliente }}',\n    client_name = '{{ $json.fantasy_name }}'\n  where id = '{{ $('VARS1').item.json.data.TUsuario.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1968,112],"id":"47063789-82bb-4d3e-9685-692c6bd792da","name":"Execute a SQL query","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO solicitantes_desk (\n  id,\n  name,\n  last_name,\n  fullname,\n  email,\n  number,\n  client_id,\n  client_name\n)\nVALUES (\n  '{{ $json.chave }}',\n  '{{ $json.nome.replace(/'/g, \"''\") }}',\n  '{{ $json.sobrenome.replace(/'/g, \"''\") }}',\n   '{{(() => {\n      const nome = $json.nome || \"\";\n      const sobrenome = $json.sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.email.replace(/'/g, \"''\") }}',\n  '{{ $json.telefone }}',\n  '{{ $json.codigo_cliente }}',\n  '{{ $json.cliente.replace(/'/g, \"''\") }}'\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3408,96],"id":"20e6dde7-f455-435d-8635-a43be137ebaf","name":"insert5","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE status_desk\nSET is_enabled = CASE\n  WHEN id IN ('1330','368') THEN false\n  ELSE true\nEND;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[816,640],"id":"2c662be8-91e9-4504-bf15-cf85bc8d0470","name":"is_enabled","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"delete from solicitantes_desk where id = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,304],"id":"e80fa564-e216-4ab4-8ec7-74ca914b911f","name":"Execute a SQL query1","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO solicitantes_desk (\n  id,\n  name,\n  last_name,\n  fullname,\n  email,\n  number,\n  client_id,\n  client_name\n)\nVALUES (\n  '{{ $('VARS1').item.json.data.TUsuario.Chave[0] }}',\n  '{{ $('VARS1').item.json.data.TUsuario.Nome.replace(/'/g, \"''\") }}',\n  '{{ $('VARS1').item.json.data.TUsuario.Sobrenome.replace(/'/g, \"''\") }}',\n  '{{(() => {\n      const nome = $('VARS1').item.json.data.TUsuario.Nome || \"\";\n      const sobrenome = $('VARS1').item.json.data.TUsuario.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $('VARS1').item.json.data.TUsuario.Email.replace(/'/g, \"''\") }}',\n  '{{ $('VARS1').item.json.data.TUsuario.SMS }}',\n  '{{ $('VARS1').item.json.data.TUsuario.CodCliente }}',\n  '{{ $json.fantasy_name.replace(/'/g, \"''\") }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1968,-80],"id":"254379dd-9b6e-48d2-a05d-aae42ea05177","name":"Execute a SQL query2","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Lista de usuários\nconst requestList = {\n  url: \"https://api.desk.ms/Clientes/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst responseList = await this.helpers.httpRequest(requestList);\nconst data = responseList.root || [];\n\nreturn data;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,704],"id":"b31ffbfa-6ff5-49a4-b6db-ae07c6e9e61a","name":"Code9","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2896,704],"id":"b609451a-fbd7-410e-ac29-8ba7767d7e0e","name":"Loop Over Items5","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2016,704],"id":"9b0e877a-fcb2-4478-bd18-21e4d62b8dbb","name":"Schedule Trigger5","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,704],"id":"31b660a4-c819-4933-81ac-2df92628ab02","name":"getToken","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"empresas_desk","mode":"list","cachedResultName":"empresas_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2240,704],"id":"00383c90-8a70-49b2-b9ad-d0423225af90","name":"delete5","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO empresas_desk (\n  id,\n  fantasy_name,\n  social_responsibility_name\n)\nVALUES (\n  '{{ $json.Chave }}',\n  '{{ $json.Fantasia.replace(/'/g, \"''\") }}',\n  '{{ $json.RazaoSocial.replace(/'/g, \"''\") }}'\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3152,688],"id":"a1ebee34-af08-481d-9e38-958f86a49049","name":"insert6","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select fantasy_name from empresas_desk where id = '{{ $json.data.TUsuario.CodCliente }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,-80],"id":"f27caff9-fcb5-47c0-b874-3256e508becc","name":"Execute a SQL query3","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"select fantasy_name from empresas_desk where id = '{{ $json.data.TUsuario.CodCliente }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,112],"id":"15f64af1-e0a3-4757-981a-6fca47378bdf","name":"Execute a SQL query4","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,704],"id":"5e2881ea-d0bd-45f1-a394-249b1246d187","name":"Code2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":301,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":302,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62ae8b36-96e0-4589-a693-09da05ff09f0","leftValue":"={{ $json.trigger }}","rightValue":303,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1520,688],"id":"0b938b7a-fc00-4f63-9f72-91252076d8ea","name":"Switch2"},{"parameters":{"content":"# Salvar Empresas Desk no DB","height":552,"width":904,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,496],"id":"d6f69a08-9239-4a67-96d0-c697dad6dc93","name":"Sticky Note6"},{"parameters":{"operation":"executeQuery","query":"update empresas_desk set\n    fantasy_name = '{{ $json.data.TCliente.Fantasia }}',\n    social_responsibility_name = '{{ $json.data.TCliente.RazaoSocial }}'\n  where id = '{{ $json.data.TCliente.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,704],"id":"55d0e92a-6fdb-4e92-bdab-fdc3da0c88ba","name":"Execute a SQL query10","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"delete from empresas_desk where id = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,896],"id":"aa617198-a9ca-40f0-bae7-96dc12d3993b","name":"Execute a SQL query11","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO empresas_desk (\n  id,\n  fantasy_name,\n  social_responsibility_name\n)\nVALUES (\n  '{{ $json.data.TCliente.Chave[0] }}',\n  '{{ $json.data.TCliente.Fantasia }}',\n  '{{ $json.data.TCliente.RazaoSocial }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,512],"id":"50411383-df95-4fc0-9474-2e1ae730f93e","name":"Execute a SQL query12","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"httpMethod":"POST","path":"127c6a0f-5c9d-4c43-b18b-5d94caa30534","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1072,704],"id":"7f57e9b4-9fd7-49f0-a88b-4971a6d5832e","name":"Webhook","webhookId":"127c6a0f-5c9d-4c43-b18b-5d94caa30534"},{"parameters":{"httpMethod":"POST","path":"c31928fe-68d1-402e-869e-36ed9ed2026c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1072,1296],"id":"c37035dc-f5b3-4ffe-873b-d58504d21a54","name":"Webhook1","webhookId":"c31928fe-68d1-402e-869e-36ed9ed2026c"},{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,1296],"id":"5d524656-ad1e-4ada-80cb-58ab594ebe2d","name":"Code4"},{"parameters":{"operation":"executeQuery","query":"delete from operadores_desk where id = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1744,1488],"id":"903edb74-52f7-4f0e-9a46-3a158f8872d2","name":"Execute a SQL query5","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":101,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":102,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"136a326f-110e-43ca-88ba-9bdb5397ba44","leftValue":"={{ $json.trigger }}","rightValue":103,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1520,1280],"id":"4b80ff50-72b7-4555-b447-f2b81a7c26af","name":"Switch3"},{"parameters":{"operation":"executeQuery","query":"update operadores_desk set\n    name = '{{ $json.data.TOperador.Nome }}',\n    last_name = '{{ $json.data.TOperador.Sobrenome }}',\n    fullname = '{{(() => {\n      const nome = $json.data.TOperador.Nome || \"\";\n      const sobrenome = $json.data.TOperador.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n    email = '{{ $json.data.TOperador.Email }}',\n    group_id = '{{ $json.data.TOperador.GrupoPrincipal }}'\n  where id = '{{ $json.data.TOperador.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,1296],"id":"409473ef-7084-47a1-a9b3-da3b56418d3b","name":"Execute a SQL query13","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO operadores_desk\n  (id, name, last_name, fullname, email, group_id)\nVALUES (\n  '{{ $json.data.TOperador.Chave[0] }}',\n  '{{ $json.data.TOperador.Nome }}',\n  '{{ $json.data.TOperador.Sobrenome }}',\n  '{{(() => {\n      const nome = $json.data.TOperador.Nome || \"\";\n      const sobrenome = $json.data.TOperador.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.data.TOperador.Email }}',\n  '{{ $json.data.TOperador.GrupoPrincipal }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1744,1104],"id":"ca971c1d-7c66-4455-8262-c2b647fe41ee","name":"Execute a SQL query14","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,112],"id":"0fc9feea-cd95-4b5b-b077-92eba915e4da","name":"VARS1"},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst request = {\n  url: \"https://api.desk.ms/Causas/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"1\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst status = response.root || [];\n\nreturn status.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1136],"id":"e88c5d38-c311-470d-9f3e-f0a34e9856fc","name":"Code","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,1136],"id":"5d4b4daf-4cb2-49e0-acf4-63bc94a0fe9c","name":"Loop Over Items6"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,1136],"id":"f22b422a-99c8-46c1-a5aa-54dafe8dee69","name":"Schedule Trigger6"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,1136],"id":"dcd468d2-8684-4dac-a9ac-9306917c9245","name":"getToken7"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"causa_desk","mode":"list","cachedResultName":"causa_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-80,1136],"id":"9ea5b9a2-bd92-438f-ae21-d101323c26a2","name":"delete6","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"content":"# Salvar Causa Desk","height":352,"width":1320,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,1024],"id":"5ac6309e-52ea-41e1-869f-b8f802d3c529","name":"Sticky Note7","disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO causa_desk (id, sequence_id, name)\nVALUES ('{{ $json.Chave }}', '{{ $json.Sequencia }}', '{{ $json.Nome }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[800,1184],"id":"0e16a58a-e9e0-4000-b621-e7f992e36603","name":"insert7","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}}],"connections":{"Switch":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}],[{"node":"Execute a SQL query4","type":"main","index":0}],[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"insert","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"delete","type":"main","index":0}]]},"getToken1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"delete":{"main":[[{"node":"getToken1","type":"main","index":0}]]},"insert":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"insert1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"delete1","type":"main","index":0}]]},"getToken2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"delete1":{"main":[[{"node":"getToken2","type":"main","index":0}]]},"insert1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"is_enabled","type":"main","index":0}],[{"node":"insert3","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"delete3","type":"main","index":0}]]},"getToken5":{"main":[[{"node":"Code7","type":"main","index":0}]]},"delete3":{"main":[[{"node":"getToken5","type":"main","index":0}]]},"insert3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"insert4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"delete4","type":"main","index":0}]]},"getToken6":{"main":[[{"node":"Code8","type":"main","index":0}]]},"delete4":{"main":[[{"node":"getToken6","type":"main","index":0}]]},"insert4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Solicitantes":{"main":[[{"node":"VARS1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"insert5","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"delete2","type":"main","index":0}]]},"getToken4":{"main":[[{"node":"Code6","type":"main","index":0}]]},"delete2":{"main":[[{"node":"getToken4","type":"main","index":0}]]},"insert5":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"insert6","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"delete5","type":"main","index":0}]]},"getToken":{"main":[[{"node":"Code9","type":"main","index":0}]]},"delete5":{"main":[[{"node":"getToken","type":"main","index":0}]]},"insert6":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Execute a SQL query12","type":"main","index":0}],[{"node":"Execute a SQL query10","type":"main","index":0}],[{"node":"Execute a SQL query11","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Execute a SQL query14","type":"main","index":0}],[{"node":"Execute a SQL query13","type":"main","index":0}],[{"node":"Execute a SQL query5","type":"main","index":0}]]},"VARS1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"insert7","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"delete6","type":"main","index":0}]]},"getToken7":{"main":[[{"node":"Code","type":"main","index":0}]]},"delete6":{"main":[[{"node":"getToken7","type":"main","index":0}]]},"insert7":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]}},"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"1717","user-agent":"Python-urllib/2.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"98.82.126.115","cf-ipcountry":"US","cf-ray":"98b6adca5c164376-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"5b2638ed-9a8d-408f-ba1f-d02bb7186317","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"98.82.126.115","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"{\"action\": \"save.client\", \"trigger\": 301, \"data\": {\"MarcarTodosDefault\": \"off\", \"TCliente\": {\"RazaoSocial\": \"Marotti Teste\", \"Avulso\": \"off\", \"Complemento\": \"\", \"Bloquear\": \"off\", \"ReabreDias\": \"0\", \"Nome\": \"\", \"ServiceDesk\": \"on\", \"AberturaPortal\": \"on\", \"MinAprovacaoAtivo\": \"off\", \"Fornecedor\": \"off\", \"EnviaEmail\": \"on\", \"ObrigaCatalogo\": \"off\", \"Telefone\": \"\", \"PrioridadeAtivo\": \"off\", \"OAssuntoAtivo\": \"on\", \"ObsBloquear\": \"\", \"Email\": \"\", \"AbChamadoEmail\": \"on\", \"Cnpj\": \"48.642.645/0001-54\", \"Uf\": \"\", \"ImpactoAtivo\": \"off\", \"CssPortal\": \"\", \"FinalizaAuto\": \"off\", \"ObservadorIntEmail\": \"on\", \"Bairro\": \"\", \"Matriz\": \"off\", \"Observacoes\": \"\", \"Numero\": \"\", \"IntChamadoEmail\": \"on\", \"Chave\": [811], \"PorGerente\": \"off\", \"UrgenciaAtivo\": \"off\", \"MostraSomaPortal\": \"off\", \"DominioAd\": \"\", \"Cep\": \"\", \"MostraHoraChamado\": \"\", \"Pais\": \"BR\", \"Alterado\": \"\", \"PsAtivo\": \"on\", \"ChamadosMes\": \"\", \"HabilitarDuploFator\": \"off\", \"MapaAtendimento\": \"off\", \"GrupoAtivo\": \"off\", \"HorasMes\": \"\", \"ReabreAtivo\": \"off\", \"AbChatAtivo\": \"off\", \"Cidade\": \"\", \"PorAdministrador\": \"off\", \"Contato\": \"\", \"Cpf\": \"\", \"AnexoAtivo\": \"on\", \"AlertaChEmailFim\": \"off\", \"Juridico\": \"S\", \"BloqEmailReabre\": \"off\", \"Sobrenome\": \"\", \"AAssuntoAtivo\": \"on\", \"JustificarAprovacao\": \"off\", \"Endereco\": \"\", \"Fantasia\": \"Marotti Teste\", \"TipoAtivo\": \"off\", \"AlertaChSmsFim\": \"off\", \"ServerAd\": \"\", \"InteracaoPortal\": \"on\", \"ArvoreBloco\": \"on\", \"AdAtivo\": \"off\", \"MinAprovacao\": \"\", \"GerarToken\": \"off\", \"IdiomaAlterar\": \"off\", \"IcsAtivo\": \"off\", \"CCCatalogo\": \"off\", \"CategoriaAtivo\": \"off\", \"TocorrenciaAtivo\": \"off\", \"Criado\": \"\", \"ExternalID\": \"\", \"AlteraItensAssunto\": \"off\", \"Aprovacao\": \"off\", \"AtivoLogo\": \"N\"}, \"MarcarTodosCextra\": \"off\"}}":""},"webhookUrl":"https://n8n.systemway.com.vc/webhook/7b7bfe60-cea3-4842-9cbe-b2218416cdf1","executionMode":"production"}}],"Webhook1":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"5276","user-agent":"Python-urllib/2.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"54.81.29.188","cf-ipcountry":"US","cf-ray":"98b76618299380d3-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"5b2638ed-9a8d-408f-ba1f-d02bb7186317","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"54.81.29.188","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"{\"action\": \"save.operator\", \"trigger\": 101, \"data\": {\"TOperador\": {\"Fumante\": \"off\", \"Complemento\": \"\", \"PerfAssinatura\": \"off\", \"Nome\": \"TesteWebhook\", \"Recchgrupo\": \"off\", \"Myspace\": \"\", \"Sms\": \"\", \"Assinatura\": \"<p><br></p>\", \"UpSuperior\": \"off\", \"Datanasc\": \"\", \"Telefone\": \"\", \"Horarios\": \"\", \"BloqLoginLocal\": \"off\", \"Autenticacao\": \"0\", \"PerfPermClientes\": \"off\", \"Valorhora\": \"0.00\", \"Email\": \"teste@systemway.com.vc\", \"Admissao\": \"\", \"MudarSenha\": \"off\", \"Visdadospessoais\": \"off\", \"Ramal\": \"\", \"GrupoPrincipal\": \"000001\", \"UpFuncao\": \"off\", \"Bairro\": \"\", \"Horaextra\": \"off\", \"Visgruposemresp\": \"off\", \"Numero\": \"\", \"Sexo\": \"\", \"Chave\": [34], \"Visgrupo\": \"off\", \"PerfGrupoAdcionais\": \"off\", \"Facebook\": \"\", \"Cep\": \"\", \"Upatendcli\": \"off\", \"PadraoUrgencia\": \"\", \"ChamadosMes\": \"\", \"Acesso\": \"off\", \"MapaAtendimento\": \"off\", \"Envchgrupo\": \"off\", \"Horames\": \"\", \"Gerente\": \"off\", \"Admin\": \"off\", \"Cidade\": \"\", \"BoasVindas\": \"off\", \"UpCargo\": \"off\", \"IpInterno\": \"off\", \"Sobrenome\": \"Marotti\", \"Ipcliente\": \"off\", \"Upautocategoria\": \"off\", \"Endereco\": \"\", \"Login\": \"teste.webhook\", \"Uf\": \"\", \"Microsoft\": \"off\", \"PerfPermGrupos\": \"off\", \"Telefone2\": \"\", \"Telefone1\": \"\", \"Google\": \"off\", \"MarcarTodos\": \"off\", \"PerfRestGrupos\": \"off\", \"PerfNegGrupoClientes\": \"off\", \"PadraoImpacto\": \"\", \"Twitter\": \"\", \"Celular2\": \"\", \"PerfRestClientes\": \"off\", \"Linkedin\": \"\", \"Celular1\": \"\", \"Tumblr\": \"\", \"Perfatop\": \"off\", \"Upespecialidade\": \"off\", \"Celular\": \"\", \"Skype\": \"\", \"PerfPermGrupoClientes\": \"off\", \"Email2\": \"\", \"Email3\": \"\", \"Upgempresa\": \"off\", \"Email1\": \"\"}, \"TPermissao\": {\"2712\": \"off\", \"2713\": \"off\", \"2548\": \"off\", \"2716\": \"off\", \"2717\": \"off\", \"2714\": \"off\", \"2715\": \"off\", \"2718\": \"off\", \"2719\": \"off\", \"2602\": \"off\", \"2656\": \"off\", \"2655\": \"off\", \"2654\": \"off\", \"133\": \"off\", \"132\": \"off\", \"131\": \"off\", \"2711\": \"off\", \"137\": \"off\", \"136\": \"off\", \"2605\": \"off\", \"138\": \"off\", \"2323\": \"off\", \"25\": \"off\", \"2321\": \"off\", \"2320\": \"off\", \"2324\": \"off\", \"2170\": \"off\", \"2248\": \"off\", \"2249\": \"off\", \"2246\": \"off\", \"2247\": \"off\", \"2883\": \"off\", \"2408\": \"off\", \"2409\": \"off\", \"2859\": \"off\", \"2858\": \"off\", \"2912\": \"off\", \"2851\": \"off\", \"2850\": \"off\", \"2853\": \"off\", \"2852\": \"off\", \"2855\": \"off\", \"2854\": \"off\", \"2857\": \"off\", \"2629\": \"off\", \"125\": \"off\", \"2799\": \"off\", \"2314\": \"off\", \"2315\": \"off\", \"2313\": \"off\", \"2783\": \"off\", \"2411\": \"off\", \"2410\": \"off\", \"2413\": \"off\", \"2412\": \"off\", \"2415\": \"off\", \"2414\": \"off\", \"2416\": \"off\", \"2253\": \"off\", \"2797\": \"off\", \"2251\": \"off\", \"2250\": \"off\", \"2779\": \"off\", \"2784\": \"off\", \"2443\": \"off\", \"2770\": \"off\", \"2771\": \"off\", \"2772\": \"off\", \"67\": \"off\", \"2568\": \"off\", \"2768\": \"off\", \"2828\": \"off\", \"2829\": \"off\", \"2803\": \"off\", \"2824\": \"off\", \"2827\": \"off\", \"119\": \"off\", \"2821\": \"off\", \"2814\": \"off\", \"2823\": \"off\", \"2543\": \"off\", \"2308\": \"off\", \"2547\": \"off\", \"2546\": \"off\", \"2545\": \"off\", \"2544\": \"off\", \"2445\": \"off\", \"2798\": \"off\", \"2307\": \"off\", \"2172\": \"off\", \"2667\": \"off\", \"2268\": \"off\", \"2171\": \"off\", \"2177\": \"off\", \"2388\": \"off\", \"2178\": \"off\", \"2179\": \"off\", \"2266\": \"off\", \"2267\": \"off\", \"2265\": \"off\", \"2604\": \"off\", \"2289\": \"off\", \"2769\": \"off\", \"2607\": \"off\", \"2444\": \"off\", \"2322\": \"off\", \"2763\": \"off\", \"2767\": \"off\", \"2751\": \"off\", \"2608\": \"off\", \"2766\": \"off\", \"2603\": \"off\", \"2886\": \"off\", \"167\": \"off\", \"2831\": \"off\", \"2830\": \"off\", \"2046\": \"off\", \"2047\": \"off\", \"32\": \"off\", \"37\": \"off\", \"2048\": \"off\", \"2200\": \"off\", \"2169\": \"off\", \"2168\": \"off\", \"2165\": \"off\", \"2164\": \"off\", \"2167\": \"off\", \"2166\": \"off\", \"2161\": \"off\", \"2163\": \"off\", \"2162\": \"off\", \"2860\": \"off\", \"2861\": \"off\", \"2290\": \"off\", \"2862\": \"off\", \"2190\": \"off\", \"2191\": \"off\", \"66\": \"off\", \"2197\": \"off\", \"2802\": \"off\", \"2199\": \"off\", \"2800\": \"off\", \"2801\": \"off\", \"173\": \"off\", \"172\": \"off\", \"2051\": \"off\", \"2050\": \"off\", \"2204\": \"off\", \"2205\": \"off\", \"2884\": \"off\", \"2885\": \"off\", \"2565\": \"off\", \"2567\": \"off\", \"2566\": \"off\", \"2433\": \"off\", \"2369\": \"off\", \"6\": \"off\", \"2367\": \"off\", \"2366\": \"off\", \"2365\": \"off\", \"2364\": \"off\", \"2363\": \"off\", \"2362\": \"off\", \"2361\": \"off\", \"2360\": \"off\", \"2428\": \"off\", \"2429\": \"off\", \"2584\": \"off\", \"2583\": \"off\", \"2627\": \"off\", \"2813\": \"off\", \"2812\": \"off\", \"2628\": \"off\", \"2368\": \"off\", \"2424\": \"off\", \"2425\": \"off\", \"2426\": \"off\", \"2427\": \"off\", \"2183\": \"off\", \"2182\": \"off\", \"2181\": \"off\", \"2180\": \"off\", \"2187\": \"off\", \"2186\": \"off\", \"2185\": \"off\", \"2184\": \"off\", \"91\": \"off\", \"2189\": \"off\", \"2188\": \"off\", \"160\": \"off\", \"10\": \"off\", \"12\": \"off\", \"2899\": \"off\", \"2898\": \"off\", \"2911\": \"off\", \"2895\": \"off\", \"2894\": \"off\", \"2897\": \"off\", \"2896\": \"off\", \"2756\": \"off\", \"2754\": \"off\", \"2755\": \"off\", \"2752\": \"off\", \"2753\": \"off\", \"2577\": \"off\", \"2352\": \"off\", \"2350\": \"off\", \"2734\": \"off\", \"2735\": \"off\", \"2736\": \"off\", \"152\": \"off\", \"2731\": \"off\", \"2732\": \"off\", \"2733\": \"off\", \"159\": \"off\", \"2432\": \"off\", \"2431\": \"off\", \"2430\": \"off\", \"2435\": \"off\", \"2434\": \"off\", \"2811\": \"off\", \"2626\": \"off\", \"2049\": \"off\", \"2810\": \"off\", \"2347\": \"off\", \"2346\": \"off\", \"2341\": \"off\", \"2343\": \"off\", \"2820\": \"off\", \"2822\": \"off\", \"202\": \"off\", \"2721\": \"off\", \"2720\": \"off\", \"76\": \"off\", \"75\": \"off\", \"72\": \"off\", \"2781\": \"off\", \"2856\": \"off\", \"2376\": \"off\", \"2780\": \"off\", \"2377\": \"off\", \"2335\": \"off\", \"2782\": \"off\", \"2887\": \"off\", \"2538\": \"off\", \"2539\": \"off\", \"2372\": \"off\", \"2423\": \"off\", \"2373\": \"off\"}}}":""},"webhookUrl":"https://n8n.systemway.com.vc/webhook/c31928fe-68d1-402e-869e-36ed9ed2026c","executionMode":"production"}}],"Solicitantes":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"85","user-agent":"Python-urllib/2.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"44.222.187.42","cf-ipcountry":"US","cf-ray":"98bddbf468e2dda4-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"5b2638ed-9a8d-408f-ba1f-d02bb7186317","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"44.222.187.42","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"{\"action\": \"delete.user\", \"trigger\": 403, \"data\": {\"Chave\": [\"3471\"], \"respedit\": 6}}":""},"webhookUrl":"https://n8n.systemway.com.vc/webhook/fea5778f-8c02-4ba8-a003-8f722b427c0a","executionMode":"production"}}]},"versionId":"85a4452a-8fbd-454d-8cf3-fab07c1de3b6","triggerCount":7,"shared":[{"createdAt":"2025-10-22T00:22:01.905Z","updatedAt":"2025-10-22T00:22:01.905Z","role":"workflow:owner","workflowId":"3PdR43U1wcENiplJ","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}