4hYaJ84nhC8aAjFh.json
{"createdAt":"2025-10-22T00:27:52.740Z","updatedAt":"2025-10-27T17:20:23.142Z","id":"4hYaJ84nhC8aAjFh","name":"Integracao STW Chat e Desk - Salvar Informações","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,176],"id":"5c2fb0ce-97ac-4fb9-ae3e-515e17dffe2f","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":401,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":402,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[928,272],"id":"1eb03eb7-8733-4c67-9d09-80522056f835","name":"Switch"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO SOLICITANTES_DESK (\n  chave,\n  codigo_cliente,\n  cliente,\n  email,\n  nome,\n  sobrenome,\n  nome_completo,\n  telefone\n)\nVALUES (\n  '{{ $('VARS').item.json.chave_solicitante }}',\n  '{{ $('VARS').item.json.codigo_cliente }}',\n  '{{ $json.cliente.replace(/'/g, \"\") }}',\n  '{{ $('VARS').item.json.email }}',\n  '{{ $('VARS').item.json.nome }}',\n  '{{ $('VARS').item.json.sobrenome }}',\n  '{{ $('VARS').item.json.nome_completo }}',\n  '{{ $('VARS').item.json.telefone }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1376,176],"id":"51c5cec4-03fe-45b8-bc91-06604953f115","name":"MySQL","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct cliente from SOLICITANTES_DESK where codigo_cliente = {{ $json.codigo_cliente }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1152,176],"id":"bc03188e-5f3d-46c2-b086-099460476f6b","name":"MySQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"assignments":{"assignments":[{"id":"dd802348-208b-4f0b-b43d-c68c4277336d","name":"trigger","value":"={{ $json.trigger }}","type":"number"},{"id":"d1404644-6f25-4f04-8175-ff477ab4510b","name":"chave_solicitante","value":"={{ $json.data.TUsuario.Chave[0] }}","type":"number"},{"id":"1de8f9c5-a516-4b05-a702-ced0faef0661","name":"codigo_cliente","value":"={{ $json.data.TUsuario.CodCliente }}","type":"string"},{"id":"8766d85a-6033-40dc-8691-0ea140e96281","name":"email","value":"={{ $json.data.TUsuario.Email.replace(/'/g, \"\") }}","type":"string"},{"id":"f53e6da9-c9c7-4a68-9808-edbcc6cca9f9","name":"nome","value":"={{ $json.data.TUsuario.Nome.replace(/'/g, \"\") }}","type":"string"},{"id":"867c12a0-2c8a-4f70-82e2-59da70844e49","name":"sobrenome","value":"={{ $json.data.TUsuario.Sobrenome.replace(/'/g, \"''\") }}","type":"string"},{"id":"1e43bcdd-a656-4c6e-8495-16fd70fc7be1","name":"nome_completo","value":"={{ $json.data.TUsuario.Nome.replace(/'/g, \"\") + ($json.data.TUsuario.Sobrenome ? ' ' + $json.data.TUsuario.Sobrenome.replace(/'/g, \"\") : '') }}","type":"string"},{"id":"66b8dbb7-a1d5-470a-a19c-03479f72535c","name":"telefone","value":"={{ $json.data.TUsuario.SMS }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,272],"id":"aadc08d2-f05f-4c9b-83e0-302c525aa2ad","name":"VARS"},{"parameters":{"operation":"executeQuery","query":"delete from SOLICITANTES_DESK where chave = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,80],"id":"0ba86b07-8203-4981-b4e9-41e413224653","name":"MySQL3","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct cliente from SOLICITANTES_DESK where codigo_cliente = {{ $json.codigo_cliente }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1152,384],"id":"dde12f44-79a0-4770-8382-55f9e9399079","name":"MySQL4","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd6128ef-4098-4605-aa18-e5507510280d","leftValue":"={{ $json.trigger }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,176],"id":"3d4468f1-ff7d-4916-9cdd-caef7a8f1e9e","name":"If"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[128,2368],"id":"9c4856d3-fe0b-4876-b017-24544f9d10b5","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - STW Salvar Solicitantes","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[352,2368],"id":"98cb5d1f-4f04-4aed-8631-e7f627a33f14","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\nconst request = {\n  url: \"https://api.desk.ms/AutoCategorias/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst data = response.root || [];\n\n// Filtra e transforma os dados\nconst resultado = data\n  .filter(item => typeof item.Assunto === 'string' && item.Assunto.includes(' - '))\n  .map(item => {\n    const partes = item.Assunto.split(' - ').map(p => p.trim());\n\n    return {\n      chave: item.Chave || null,\n      categoria: partes[0] || '',\n      subcategoria: partes[1] || '',\n      tipo: partes[2] || ''\n    };\n  });\n\nreturn resultado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,1264],"id":"4c750fbe-9ae5-4ea5-89a0-a024f9a78424","name":"Code3","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,1264],"id":"c541096f-fc25-4507-b1cc-eafec675844c","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,1264],"id":"c57a6bae-5996-4808-9b9a-247aaa4d9a09","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1264],"id":"4c7151be-7570-46c4-a87f-68682febea39","name":"getToken1"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"AUTO_CATEGORIA_DESK","mode":"list","cachedResultName":"AUTO_CATEGORIA_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[368,1264],"id":"e4313149-10ee-4d0f-8076-386c23108c22","name":"delete","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO AUTO_CATEGORIA_DESK (chave, categoria, sub_categoria, tipo, assunto_completo, data_atualizacao)\nVALUES ('{{ $json.chave.toString() }}', '{{ $json.categoria }}', '{{ $json.subcategoria }}', '{{ $json.tipo }}', '{{ $json.categoria }} - {{ $json.subcategoria }} - {{ $json.tipo }}', '{{ $now }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1248,1264],"id":"3bb8cd47-8751-4e5c-bb36-912cd60b8826","name":"insert","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst operadoresRequest = {\n  url: \"https://api.desk.ms/Operadores/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst operadoresResponse = await this.helpers.httpRequest(operadoresRequest);\nconst operadores = operadoresResponse.root || [];\n\nconst gruposRequest = {\n  url: \"https://api.desk.ms/Grupos/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst gruposResponse = await this.helpers.httpRequest(gruposRequest);\nconst grupos = gruposResponse.root || [];\n\nconst grupoMap = {};\nfor (const grupo of grupos) {\n  grupoMap[grupo.Nome.trim()] = grupo.Chave;\n}\n\nconst resultado = operadores.map(item => {\n  const grupoNome = item.GrupoPrincipal?.trim();\n  const grupoChave = grupoMap[grupoNome] || null;\n\n  return{\n    chave: item.Chave,\n    nome: item.Nome,\n    sobrenome: item.Sobrenome,\n    email: item.Email,\n    grupoPrincipal: grupoNome,\n    chaveGrupo: grupoChave\n  }\n});\n\nreturn resultado.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,880],"id":"4f887086-039f-4852-9dc5-0f77fe4248a0","name":"Code5","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1008,880],"id":"b1c7e5ae-a2f5-4c56-a468-0190b9b01b66","name":"Loop Over Items1"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[160,880],"id":"6f74689d-05b1-4880-a8bd-ef26bedc12e4","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,880],"id":"1d514923-1251-46b9-8a10-2d978df303a7","name":"getToken2"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"OPERADORES_DESK","mode":"list","cachedResultName":"OPERADORES_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[384,880],"id":"ca9a619e-2f1f-41a2-8d39-b825e41fc0ef","name":"delete1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO OPERADORES_DESK (chave, nome, sobrenome, email, grupo, data_atualizacao, nome_completo, chaveGrupo)\nVALUES ('{{ $json.chave.toString() }}', '{{ $json.nome }}', '{{ $json.sobrenome }}', '{{ $json.email }}', '{{ $json.grupoPrincipal }}', '{{ $now }}', '{{ $json.nome }} {{ $json.sobrenome }}', '{{ $json.chaveGrupo }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1280,880],"id":"cab9c38d-3c4d-41e4-a889-7dab70190d0b","name":"insert1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst request = {\n  url: \"https://api.desk.ms/Status/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"1\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst status = response.root || [];\n\nreturn status.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,1648],"id":"f06b1c7b-0428-4854-9045-63c3168640d1","name":"Code7","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,1648],"id":"18a57bca-cec7-45f2-bc82-335404b37a6d","name":"Loop Over Items3"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,1648],"id":"cdfd4dc5-29db-428c-b146-9a332b3705da","name":"Schedule Trigger3"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1648],"id":"eb335e54-b51c-478c-80e7-e9e9c6c11ad9","name":"getToken5"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"STATUS_DESK","mode":"list","cachedResultName":"STATUS_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[368,1648],"id":"137cdbd6-faad-43a8-9329-49b0230e4331","name":"delete3","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO STATUS_DESK (chave, sequencia, status, data_atualizacao)\nVALUES ('{{ $json.Chave }}', '{{ $json.Sequencia }}', '{{ $json.Nome }}', '{{ $now }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1248,1648],"id":"d38ffd14-f5da-456e-9186-f2c45ca5956a","name":"insert3","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Buscar todos os grupos\nconst requestGroupsList = {\n  url: \"https://api.desk.ms/GrupoEmpresas/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst responseGroupLists = await this.helpers.httpRequest(requestGroupsList);\nconst groupLists = responseGroupLists.root || [];\n\n// 2. Para cada grupo, buscar as empresas e montar a lista única de empresas+grupo\nlet empresas = [];\n\nfor (const grupo of groupLists) {\n  const requestEmpresas = {\n    url: \"https://api.desk.ms/GrupoEmpresas\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Chave\": grupo.Sequencia\n    }\n  };\n\n  const responseEmpresas = await this.helpers.httpRequest(requestEmpresas);\n  const infoGrupo = responseEmpresas.TGrupoEmpresa || {};\n  const listaEmpresas = infoGrupo.ListaEmpresas || [];\n\n  listaEmpresas.forEach(emp => {\n    empresas.push({\n      empresa_id: emp.id,\n      name: emp.text,\n      grupo_nome: grupo.Nome,\n      codigo_sequencia: grupo.Sequencia\n    });\n  });\n}\n\n// 3. Retornar uma empresa por item\nreturn empresas.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2048],"id":"406f01ba-7da7-44ef-8e1c-bec50a112ed3","name":"Code8","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1008,2048],"id":"67160186-2437-4e8c-bbab-f0955f6c190b","name":"Loop Over Items4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[128,2048],"id":"3eea1ba5-a66a-4ae3-85b1-e90daac47693","name":"Schedule Trigger4"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,2048],"id":"5bc0c7ae-97b1-49bc-81c8-9706a92f8380","name":"getToken6"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"GRUPO_EMPRESAS_DESK","mode":"list","cachedResultName":"GRUPO_EMPRESAS_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[352,2048],"id":"e1e3a4be-cd74-43a5-8aeb-3f0d25b1d98b","name":"delete4","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO GRUPO_EMPRESAS_DESK (empresa_id, empresa_nome, grupo_nome, grupo_sequencia, data_atualizacao)\nVALUES ('{{ $json.empresa_id }}', '{{ $json.name.replace(/'/g, \"''\") }}', '{{ $json.grupo_nome.replace(/'/g, \"\") }}', '{{ $json.codigo_sequencia }}', '{{ $now.format('dd-MM-yyyy') }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1232,2048],"id":"9d24edb1-4c7f-4027-a67f-b7c5dad75751","name":"insert4","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"content":"# Salvar Solicitantes Desk no DB e STW Chat","height":728,"width":1560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7aa797fe-8ef2-47e2-917a-744f28ef1177","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2528,352],"id":"3e8894bb-07c3-4fb4-a2c1-bda1c44c1a3b","name":"Loop Over Items2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1648,352],"id":"6b4c5a6e-3e24-488d-bd71-9c87939031f6","name":"Schedule Trigger2"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,352],"id":"412ead51-e965-4cef-8c5d-bd9a0971ba45","name":"getToken4"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"SOLICITANTES_DESK","mode":"list","cachedResultName":"SOLICITANTES_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1872,352],"id":"d4be26b7-091b-4255-8706-602b72f92bb9","name":"delete2","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"content":"# Salvar Operadores Desk","height":320,"width":1560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,768],"id":"94cbf28f-7381-4b88-9f9b-d77ee332fbe8","name":"Sticky Note2"},{"parameters":{"content":"# Salvar Auto Categoria Desk","height":320,"width":1560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1152],"id":"38562c1d-cb65-4b7a-98c6-d49ca0b1fce2","name":"Sticky Note3"},{"parameters":{"content":"# Salvar Status Desk","height":320,"width":1560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1536],"id":"1b04989a-1a7b-4dd9-948d-851af5f6146a","name":"Sticky Note4"},{"parameters":{"content":"# Salvar Grupo Empresas Desk","height":340,"width":1560,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1920],"id":"87c6cc81-5cc8-4405-b37c-8ca102c441ea","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"689a61a95706d77b7eb722cb"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nickName\": \"{{ $('VARS').item.json.nome }}\",\n  \"number\": \"{{ $('VARS').item.json.telefone }}\",\n  \"updateIfExists\": true\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,16],"id":"0b46c8b5-6315-48e0-ad6b-7393fa2d0918","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"689a61a95706d77b7eb722cb"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nickName\": \"{{ $('VARS').item.json.nome }}\",\n  \"number\": \"{{ $('VARS').item.json.telefone }}\",\n  \"updateIfExists\": true\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,544],"id":"56f9657b-358c-4abf-bff2-e8bc8109a24d","name":"HTTP Request1"},{"parameters":{"operation":"executeQuery","query":"update SOLICITANTES_DESK set codigo_cliente = '{{ $('VARS').item.json.codigo_cliente }}', cliente = '{{ $json.cliente.replace(/'/g, \"\") }}', email = '{{ $('VARS').item.json.email }}', nome = '{{ $('VARS').item.json.nome }}', sobrenome = '{{ $('VARS').item.json.sobrenome }}', nome_completo = '{{ $('VARS').item.json.nome_completo }}', telefone = '{{ $('VARS').item.json.telefone }}' where chave = '{{ $('VARS').item.json.chave_solicitante }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1376,384],"id":"9a94fb1d-9e3a-4808-8da5-320e2858b401","name":"Execute a SQL query","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO SOLICITANTES_DESK (\n  chave,\n  codigo_cliente,\n  cliente,\n  email,\n  nome,\n  sobrenome,\n  nome_completo,\n  telefone\n)\nVALUES (\n  '{{ $json.chave }}',\n  '{{ $json.codigo_cliente }}',\n  '{{ $json.cliente.replace(/'/g, \"\") }}',\n  '{{ $json.email.replace(/'/g, \"\") }}',\n  '{{ $json.nome.replace(/'/g, \"\") }}',\n  '{{ $json.sobrenome.replace(/'/g, \"\") }}',\n   '{{(() => {\n      const nome = $json.nome || \"\";\n      const sobrenome = $json.sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.telefone }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2784,336],"id":"613c2dc4-0397-422c-9583-a95210649d42","name":"insert5","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO SOLICITANTES_DESK (\n  chave,\n  codigo_cliente,\n  cliente,\n  email,\n  nome,\n  sobrenome,\n  nome_completo,\n  telefone\n) VALUES ($1, $2, $3, $4, $5, $6, $7, $8);\n","options":{"queryReplacement":"={{$json.chave}},{{$json.codigo_cliente}},{{$json.cliente}},{{$json.email}},{{$json.nome}},{{$json.sobrenome}},{{($json.sobrenome ? ($json.nome || \"\") + \" \" + $json.sobrenome : ($json.nome || \"\")).slice(0,100)}},{{$json.telefone}}"}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2544,160],"id":"b69a6f03-7b52-412d-8696-b7a704c21b64","name":"insert2","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE STATUS_DESK\nSET is_enabled = CASE\n  WHEN chave IN ('1330','371','368') THEN 0\n  ELSE 1\nEND;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1360,1552],"id":"d6ac1d2b-b68e-4531-be11-9e4ad56d092c","name":"is_enabled","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"httpMethod":"POST","path":"3e1f16b7-bf09-43d9-8135-da3b2444a60d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,176],"id":"d5eb46dc-a074-416a-893e-e109245f5188","name":"Webhook","webhookId":"3e1f16b7-bf09-43d9-8135-da3b2444a60d"},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Lista de usuários\nconst requestList = {\n  url: \"https://api.desk.ms/Usuarios/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst responseList = await this.helpers.httpRequest(requestList);\nconst data = responseList.root || [];\n\n// 2. Faz requisições em paralelo usando Promise.all\nconst resultados = await Promise.all(data.map(async (item) => {\n  const chave = item.Chave;\n\n  const requestDetail = {\n    url: \"https://api.desk.ms/Usuarios\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      Chave: chave\n    },\n    json: true\n  };\n\n  try {\n    const responseDetail = await this.helpers.httpRequest(requestDetail);\n    const telefone = responseDetail?.TUsuario?.SMSNumero || \"\";\n\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone\n      }\n    };\n  } catch (err) {\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone: \"\"\n      }\n    };\n  }\n}));\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,352],"id":"3b289d98-0f36-404f-8e94-97ea9c4eaa45","name":"Code6","alwaysOutputData":true}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"MySQL1","type":"main","index":0}],[{"node":"MySQL4","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"VARS":{"main":[[{"node":"Switch","type":"main","index":0}]]},"MySQL4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"If":{"main":[[{"node":"MySQL3","type":"main","index":0}],[{"node":"VARS","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"insert","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"delete","type":"main","index":0}]]},"getToken1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"delete":{"main":[[{"node":"getToken1","type":"main","index":0}]]},"insert":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"insert1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"delete1","type":"main","index":0}]]},"getToken2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"delete1":{"main":[[{"node":"getToken2","type":"main","index":0}]]},"insert1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"is_enabled","type":"main","index":0}],[{"node":"insert3","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"delete3","type":"main","index":0}]]},"getToken5":{"main":[[{"node":"Code7","type":"main","index":0}]]},"delete3":{"main":[[{"node":"getToken5","type":"main","index":0}]]},"insert3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"insert4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"delete4","type":"main","index":0}]]},"getToken6":{"main":[[{"node":"Code8","type":"main","index":0}]]},"delete4":{"main":[[{"node":"getToken6","type":"main","index":0}]]},"insert4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"insert5","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"delete2","type":"main","index":0}]]},"getToken4":{"main":[[{"node":"Code6","type":"main","index":0}]]},"delete2":{"main":[[{"node":"getToken4","type":"main","index":0}]]},"insert5":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":null,"pinData":{"Schedule Trigger4":[{"json":{"timestamp":"2025-10-24T23:00:25.026-03:00","Readable date":"October 24th 2025, 11:00:25 pm","Readable time":"11:00:25 pm","Day of week":"Friday","Year":"2025","Month":"October","Day of month":"24","Hour":"23","Minute":"00","Second":"25","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"d8052771-6a2c-4c53-827b-ad0bda963fab","triggerCount":6,"shared":[{"createdAt":"2025-10-22T00:27:52.740Z","updatedAt":"2025-10-22T00:27:52.740Z","role":"workflow:owner","workflowId":"4hYaJ84nhC8aAjFh","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}