4Nk7E5ebz7iFIIpm.json
{"createdAt":"2025-10-22T00:26:32.283Z","updatedAt":"2025-10-22T00:26:32.283Z","id":"4Nk7E5ebz7iFIIpm","name":"Create Client Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO partners (\n    company_name, fantasy_name, address, number, neighborhood, zip_code, city, state, enabled,\n    blocked, cnpj, complement, contact, email, site, obs, phone_1, phone_2, phone_3, cpf\n) VALUES (\n    '{{ $json.company_name }}', '{{ $json.fantasy_name || \"\" }}', '{{ $json.address }}', '{{ $json.number || \"\" }}', '{{ $json.neighborhood || \"\" }}', '{{ $json.zip_code || \"\" }}', '{{ $json.city || \"\" }}', '{{ $json.state || \"\" }}', '{{ $json.enabled }}', '{{ $json.blocked }}', '{{ $json.cnpj || \"\" }}', '{{ $json.complement || \"\" }}', '{{ $json.contact || null }}', '{{ $json.email || \"\" }}', '{{ $json.site || \"\" }}', '{{ $json.obs || \"\" }}', '{{ $json.phone_1 || null }}', '{{ $json.phone_2 || null }}', '{{ $json.phone_3 || null }}', '{{ $json.cpf || null }}'\n);","options":{}},"id":"f2b7204c-5801-4556-bf7c-192b14fdfc54","name":"Save Client BD","type":"n8n-nodes-base.mySql","typeVersion":2.3,"position":[0,464],"credentials":{"mySql":{"id":"gEA6lhy1r5qfo1Hu","name":"MySQL STWDOC"}}},{"parameters":{"jsCode":"return {\n  \"body\": {\n    \"topic\": \"ClienteFornecedor.Incluido\",\n    \"event\": {\n      \"tags\": [\n      {\"tag\": \"Cliente\"}\n    ],\n      \"codigo_cliente_omie\": 12345,\n      \"codigo_cliente_integracao\": \"ABC123\",\n      \"razao_social\": \"Empresa Exemplo LTDA\",\n      \"cnpj_cpf\": \"12.345.678/0001-90\",\n      \"nome_fantasia\": \"Exemplo\",\n      \"telefone1_ddd\": \"11\",\n      \"telefone1_numero\": \"987654321\",\n      \"contato\": \"João da Silva\",\n      \"endereco\": \"Rua Exemplo\",\n      \"endereco_numero\": \"123\",\n      \"bairro\": \"Centro\",\n      \"complemento\": \"Apto 101\",\n      \"estado\": \"SP\",\n      \"cidade\": \"3550308\",\n      \"cep\": \"01234-567\",\n      \"codigo_pais\": \"1058\",\n      \"separar_endereco\": \"N\",\n      \"pesquisar_cep\": \"S\",\n      \"telefone2_ddd\": \"11\",\n      \"telefone2_numero\": \"912345678\",\n      \"fax_ddd\": \"11\",\n      \"fax_numero\": \"123456789\",\n      \"email\": \"contato@empresaexemplo.com.br\",\n      \"homepage\": \"http://www.empresaexemplo.com.br\",\n      \"inscricao_estadual\": \"123456789\",\n      \"inscricao_municipal\": \"987654321\",\n      \"inscricao_suframa\": \"IS123456\",\n      \"optante_simples_nacional\": \"S\",\n      \"tipo_atividade\": \"1\",\n      \"cnae\": \"1234567\",\n      \"produtor_rural\": \"N\",\n      \"contribuinte\": \"S\",\n      \"observacao\": \"Cliente VIP\",\n      \"obs_detalhadas\": \"Sempre pagar em dia\",\n      \"recomendacao_atraso\": \"02\",\n      \"pessoa_fisica\": \"N\",\n      \"exterior\": \"N\",\n      \"logradouro\": \"DEPRECATED\",\n      \"importado_api\": \"S\",\n      \"bloqueado\": \"DEPRECATED\",\n      \"cidade_ibge\": \"3550308\",\n      \"valor_limite_credito\": 10000.00,\n      \"bloquear_faturamento\": \"N\",\n      \"recomendacoes\": {\n        \"codigo_recomendacao\": \"001\",\n        \"descricao\": \"Protesto após 30 dias\"\n      },\n      \"enderecoEntrega\": {\n        \"endereco\": \"Av. de Entrega\",\n        \"numero\": \"456\",\n        \"bairro\": \"Comercial\",\n        \"cep\": \"12345-678\",\n        \"cidade\": \"São Paulo\",\n        \"estado\": \"SP\",\n        \"complemento\": \"Prédio B\"\n      },\n      \"nif\": \"NIF123456\",\n      \"documento_exterior\": \"EX123456789\",\n      \"inativo\": \"N\",\n      \"dadosBancarios\": {\n        \"banco\": \"001\",\n        \"agencia\": \"1234\",\n        \"conta\": \"56789-0\"\n      },\n      \"caracteristicas\": [\n        {\n          \"codigo\": \"001\",\n          \"descricao\": \"Cliente frequente\"\n        },\n        {\n          \"codigo\": \"002\",\n          \"descricao\": \"Preferência por pagamento via boleto\"\n        }\n      ],\n      \"enviar_anexos\": \"S\",\n      \"info\": {\n        \"data_cadastro\": \"2024-10-17\",\n        \"usuario_responsavel\": \"admin\"\n      },\n      \"bloquear_exclusao\": \"S\"\n    }\n  }\n}"},"id":"bdfc1e6a-c622-4c72-89e9-8f05aa424b7b","name":"Format Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,624]},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"contentType":"=json","specifyBody":"json","bodyParameters":{"parameters":[{}]},"jsonBody":"{\n \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"id":"68fb5bb4-d05e-40a6-8a73-e1a200896111","name":"Authentication Desk","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"jsCode":"const formattedJSON = {\n  TCliente: {\n    CGrupoEmpresas: [],\n    Fantasia: $input.first().json.body.event.nome_fantasia ?? \"\",\n    RazaoSocial: $input.first().json.body.event.razao_social ?? \"\",\n    Juridico: $input.first().json.body.event.pessoa_fisica === \"S\" ?  \"N\" : \"S\",\n    Fornecedor: \"N\",\n    Matriz: \"N\",\n    Telefone: `${$input.first().json.body.event.telefone1_ddd ?? \"\"} ${$input.first().json.body.event.telefone1_numero ?? \"\"}`,\n    Email: $input.first().json.body.event.email ?? \"\",\n    Observacoes: $input.first().json.body.event.observacao ?? \"\",\n    Idioma: \"pt_br\",\n    IdiomaAlterar: \"S\",\n    DominiosPermitidos: [],\n    Cep: $input.first().json.body.event.cep ?? \"\",\n    Endereco: $input.first().json.body.event.endereco ?? \"\",\n    Numero: $input.first().json.body.event.endereco_numero ?? \"\",\n    Complemento: $input.first().json.body.event.complemento ?? \"\",\n    Bairro: $input.first().json.body.event.bairro ?? \"\",\n    Cidade: $input.first().json.body.event.cidade ?? \"\",\n    Uf: $input.first().json.body.event.estado ?? \"\",\n    EnviaEmail: \"S\",\n    PsAtivo: \"S\",\n    AbChamadoEmsil: \"S\",\n    IntChamadoEmail: \"S\",\n    AberturaPortal: \"S\",\n    InteracaoPortal: \"S\",\n    ObservadorIntEmail: \"S\",\n    AbChatAtivo: \"N\",\n    Avulso: \"N\",\n    Bloquear: \"N\",\n    ObsBloquear: \"\",\n    OAssuntoAtivo: \"S\",\n    AAssuntoAtivo: \"S\",\n    ArvoreBloco: \"S\",\n    GerarToken: \"N\",\n    MapaAtendimento: \"N\",\n    ReabreAtivo: \"S\",\n    ReabreDias: \"0\",\n    FormaAtendimento: \"\",\n    Causa: \"\",\n    AdAtivo: \"N\",\n    ServerAd: \"\",\n    DominioAd: \"\",\n    TipoSuporte: [],\n    SmtpGrupo: \"\",\n    HorasMes: \"\",\n    ChamadosMes: \"\",\n    MostraHoraChamado: \"\",\n    AlertaEmailOp: [],\n    AlertaEmailUsu: [],\n    AlertaChEmailFim: \"N\",\n    AlertaSmsOp: [],\n    AlertaSmsUsu: [],\n    AlertaChSmsFim: \"N\",\n    TocorrenciaAtivo: \"N\",\n    ImpactoAtivo: \"N\",\n    UrgenciaAtivo: \"N\",\n    PrioridadeAtivo: \"N\",\n    CategoriaAtivo: \"N\",\n    TipoAtivo: \"N\",\n    AnexoAtivo: \"S\",\n    IcsAtivo: \"N\",\n    GrupoAtivo: \"N\",\n    Aprovacao: \"N\",\n    PorGerente: \"N\",\n    PorAdministrador: \"N\",\n    PorUsuario: [],\n    MinAprovacaoAtivo: \"N\",\n    MinAprovacao: 0,\n    EnviaEmailAprovReprov: [],\n    OperadorPadrao: \"\",\n    AprovCodStatus: \"\",\n    FinalizaAuto: \"N\",\n    TBloqueioIp: [],\n    ServiceDesk: \"S\",\n    AtivoLogo: \"S\"\n  },\n  TCatalogos: [],\n  TBloqueioIp: [],\n  TCampoExtraGeral: {},\n  TCampoExtraVisualiza: {}\n}\n\nconst separateName = (fullName) => {\n    // Remove espaços extras e divide o nome completo por espaços\n    const parts = fullName.trim().split(\" \");\n    if (parts.length === 1) {\n        // Caso haja apenas uma parte, não há sobrenome\n        return {\n            name: parts[0],\n            lastName: \"\"\n        };\n    }\n    // O primeiro elemento é o nome\n    const name = parts[0];\n    // Junta o restante das partes como sobrenome\n    const lastName = parts.slice(1).join(\" \");\n\n    return {\n        name,\n        lastName\n    };\n}\n\n\nif ($input.first().json.body.event.pessoa_fisica === \"S\"){\n  const fullName = separateName($input.first().json.body.event.contato)\n  formattedJSON[\"TCliente\"][\"Nome\"] = fullName.name\n  formattedJSON[\"TCliente\"][\"Sobrenome\"] = fullName.lastName\n  formattedJSON[\"TCliente\"][\"Cpf\"] = $input.first().json.body.event.cnpj_cpf\n} else {\n  formattedJSON[\"TCliente\"][\"Cnpj\"] = $input.first().json.body.event.cnpj_cpf\n  formattedJSON[\"TCliente\"][\"Contato\"] = $input.first().json.body.event.contato\n}\n\nreturn formattedJSON"},"id":"42ca1c67-8268-402b-b6da-0704c8c80774","name":"Format Data Desk","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,128]},{"parameters":{"jsCode":"let formattedJSON = {\n  company_name: $input.first().json.body.event.razao_social ?? \"\",\n  fantasy_name: $input.first().json.body.event.nome_fantasia ?? \"\",\n  address: $input.first().json.body.event.endereco ?? \"\",\n  number: $input.first().json.body.event.endereco_numero ?? null,\n  neighborhood: $input.first().json.body.event.bairro ?? \"\",\n  zip_code: $input.first().json.body.event.cep ?? null,\n  city: $input.first().json.body.event.cidade ?? \"\",\n  state: $input.first().json.body.event.estado ?? \"\",\n  enabled: 1,\n  blocked: 0\n}\n\nfunction limparCPF(cpf) {\n  return cpf.replace(/[\\.\\-]/g, '');\n}\n\nfunction limparCNPJ(cnpj) {\n  return cnpj.replace(/[\\.\\/\\-]/g, '');\n}\n\nif($input.first().json.body.event.cnpj_cpf && $input.first().json.body.event.cnpj_cpf.length === 14){\n  \n  formattedJSON.cpf = limparCPF($input.first().json.body.event.cnpj_cpf)\n} else if ($input.first().json.body.event.cnpj_cpf) {\n  formattedJSON.cnpj = limparCNPJ($input.first().json.body.event.cnpj_cpf)\n}\n\nif($input.first().json.body.event.complemento){\n  formattedJSON.complement = $input.first().json.body.event.complemento\n}\n\nif($input.first().json.body.event.contato){\n  formattedJSON.contact = $input.first().json.body.event.contato\n}\n\nif($input.first().json.body.event.email){\n  formattedJSON.email = $input.first().json.body.event.email\n}\n\nif($input.first().json.body.event.homepage){\n  formattedJSON.site = $input.first().json.body.event.homepage\n}\n\nif($input.first().json.body.event.observacao){\n  formattedJSON.obs = $input.first().json.body.event.observacao\n}\n\nif($input.first().json.body.event.telefone1_ddd && $input.first().json.body.event.telefone1_numero){\n  formattedJSON.phone_1 = $input.first().json.body.event.telefone1_ddd + $input.first().json.body.event.telefone1_numero\n}\n\nif($input.first().json.body.event.telefone2_ddd && $input.first().json.body.event.telefone2_numero){\n  formattedJSON.phone_2 = $input.first().json.body.event.telefone2_ddd + $input.first().json.body.event.telefone2_numero\n}\n\nif($input.first().json.body.event.telefone3_ddd && $input.first().json.body.event.telefone3_numero){\n  formattedJSON.phone_3 = $input.first().json.body.event.telefone3_ddd + $input.first().json.body.event.telefone3_numero\n}\n\n\nreturn formattedJSON"},"id":"2b796445-f5b8-4b9d-88c1-06d18b33fd53","name":"Format Data BD","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,464]},{"parameters":{},"id":"ea3349b7-f6c6-42b2-a28b-e87ab5172161","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[224,112]},{"parameters":{"jsCode":"async function saveClientDesk() {\n  const requestData = {\n    url: \"https://api.desk.ms/Clientes\",\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": $input.first().json.data,\n      \"Content-Type\": \"application/json\",\n    },\n    body: {\n      TCliente: $input.last().json.TCliente,\n      TCatalogos: $input.last().json.TCatalogos,\n      TBloqueioIp: $input.last().json.TBloqueioIp,\n      TCampoExtraGeral: $input.last().json.TCampoExtraGeral,\n      TCampoExtraVisualiza: $input.last().json.TCampoExtraVisualiza,\n    },\n  };\n\n  const response = await this.helpers.httpRequest(requestData);\n\n  return [{ data: response }];\n}\n\nreturn saveClientDesk();"},"id":"d0db0e67-95a3-4b6f-a186-2c6888930d48","name":"Save Client Desk","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,112]},{"parameters":{"httpMethod":"POST","path":"497e9a87-b983-4e0d-aa5e-c31c3f93dcea","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,320],"id":"13f3145f-efd7-486f-b7b7-aa5994a83952","name":"Webhook","webhookId":"497e9a87-b983-4e0d-aa5e-c31c3f93dcea"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebe74ca-2f9d-4e9a-8ef1-67f38a6ff6e3","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,464],"id":"d74dfedf-8d22-4d55-a202-518f6f4f6c81","name":"End flow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c0aa9bf-93f2-4f92-97e0-a2969a2cd709","leftValue":"={{ $json.body.topic }}","rightValue":"ClienteFornecedor.Incluido","operator":{"type":"string","operation":"equals"}},{"id":"89e55963-c0ea-45e6-9005-f7cd3ef6f87f","leftValue":"={{ $json.body.event.tags[0].tag }}","rightValue":"Cliente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3ddd898a-9913-4bff-b7b5-b1da196d4795","name":"If inclusão e cliente","type":"n8n-nodes-base.if","typeVersion":2,"position":[-656,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebe74ca-2f9d-4e9a-8ef1-67f38a6ff6e3","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,112],"id":"ce4b28ea-3aeb-4fd6-8a15-989ec19b396b","name":"End flow 2"}],"connections":{"Save Client BD":{"main":[[{"node":"End flow","type":"main","index":0}]]},"Authentication Desk":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Format Data Desk":{"main":[[{"node":"Authentication Desk","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Format Data BD":{"main":[[{"node":"Save Client BD","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Save Client Desk","type":"main","index":0}]]},"Save Client Desk":{"main":[[{"node":"End flow 2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If inclusão e cliente","type":"main","index":0}]]},"If inclusão e cliente":{"main":[[{"node":"Format Data Desk","type":"main","index":0},{"node":"Format Data BD","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"82b40e97-be5c-4c8b-a7a6-11945e97c42f","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:26:32.283Z","updatedAt":"2025-10-22T00:26:32.283Z","role":"workflow:owner","workflowId":"4Nk7E5ebz7iFIIpm","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}