4wb6iFWt3JoR4SqB.json
{"createdAt":"2025-10-22T00:27:15.126Z","updatedAt":"2025-10-22T00:27:15.126Z","id":"4wb6iFWt3JoR4SqB","name":"Agente Regional - FORMULARIO RELATORIO","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Formulário relatório","formDescription":"Esse formulário serve para envio do relatório do sistema, para o envio dos templates e a realização dos agendamentos","options":{"buttonLabel":"Seguinte"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"a85af557-3227-4fe7-9254-a22c817a4363","name":"On form submission","webhookId":"0c7d33cf-542a-4539-8c28-fb489bfff6f2"},{"parameters":{"tableId":"clients_to_schedule","fieldsUi":{"fieldValues":[{"fieldId":"claim_number","fieldValue":"={{ $json.SINISTRO }}"},{"fieldId":"name","fieldValue":"={{ $json.SEGURADO }}"},{"fieldId":"phone","fieldValue":"={{ $json.TELEFONE.toString() }}"},{"fieldId":"product","fieldValue":"={{ $json.PRODUTO }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,192],"id":"9475e38b-8bb3-4708-b182-bd7b8d4f43a4","name":"Supabase","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,0],"id":"8daae5d0-0846-461c-9936-a65d8fe6bc7a","name":"Extract from File"},{"parameters":{"formFields":{"values":[{"fieldLabel":"data","fieldType":"file"}]},"options":{"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[224,0],"id":"849834dc-1f81-48a7-b554-60093910d083","name":"Form","webhookId":"6ddcec0f-b704-491e-ac34-2d42c349a7c3"},{"parameters":{"options":{"formDescription":"=Erros:  {{ $json.error.length }}"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[848,0],"id":"ca5047e1-db5d-4af7-90d8-074e6a68685a","name":"Form1","webhookId":"3a33407d-523e-4de8-9bbb-41d06c906781"},{"parameters":{"operation":"getAll","tableId":"clients_to_schedule"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,0],"id":"7595ebef-4da9-4aca-a9d0-8809c1b79e90","name":"Supabase1","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0044524-0344-46bf-ad0b-a27ce6a35865","leftValue":"={{ $json.attempts }}","rightValue":"={{ $now.format('yyyy-MM-dd') }}","operator":{"type":"number","operation":"empty","singleValue":true}},{"id":"c13517c4-74dd-48db-ac32-772d23eef965","leftValue":"={{\n  $json.send_status === \"enviado\" &&\n  $json.attempts < 3 &&  \n  $json.attempt_at.toDateTime().format('yyyy-MM-dd') != $now.format('yyyy-MM-dd')\n}}","rightValue":"enviado","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,0],"id":"4c941ab8-d5f8-4ab2-8c1b-1992117dd7b9","name":"If"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"6617e3c8005d062d14a218cd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.phone }}\",\n    \"templateId\": \"6841ebffbd613a710564f48c\",\n     \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.name }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.claim_number }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.product }}\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"60a40f8a-45cc-4b64-96b7-3afd42ad6b3e","name":"Send Template","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,672],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be20e9c-127d-4c57-a097-4231d5272d32","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,672],"id":"6e6eed97-ea69-43bc-bea9-f927218312f1","name":"Is Invalid Number?"},{"parameters":{"assignments":{"assignments":[{"id":"f89a9e57-e8e7-4d74-9ead-a4f09deca87f","name":"error.message","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,912],"id":"c25ee058-d874-4178-b8c4-57a2ef22ea23","name":"Set Error"},{"parameters":{"amount":3},"id":"b49984c2-d885-4ce6-a24e-bcf2f66b1b90","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[592,592],"webhookId":"bb3a1c88-c0aa-4fe9-90a8-851ea3e99a9e","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/messages/{{ $json.messageSentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"id":"5b157277-0ed7-4712-a59d-a3b7a5c8f292","name":"Message Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,592],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b7fe8a08-39d8-4948-8c36-8ac4bc9aeb91","leftValue":"={{ $json.status }}","rightValue":-1,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"09af8608-283a-4906-8e67-3f88187b5090","name":"Error Sent?","type":"n8n-nodes-base.if","typeVersion":2,"position":[992,592],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $('Loop_Envio').first().json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"send_status","fieldValue":"={{ $json.errorMessage }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,464],"id":"b8490665-ae11-461f-9193-03c516a3e0ec","name":"Supabase8","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"operation":"update","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $('Loop_Envio').first().json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"send_status","fieldValue":"=enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,704],"id":"95769369-e3eb-4cf8-a86c-5d671c04e97d","name":"Supabase9","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"4b7418a9-be32-445c-b865-68eb1f70b94f","name":"Loop_Cadastro"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,672],"id":"be589c9b-cc94-4706-bec9-4c9ac4a36fad","name":"Loop_Envio"},{"parameters":{"operation":"update","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $('Loop_Envio').first().json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"send_status","fieldValue":"={{ $json.error.message }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,912],"id":"0fccd1a0-2ec0-4ef3-964f-aba42f4ace74","name":"Supabase10","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}}],"connections":{"On form submission":{"main":[[{"node":"Form","type":"main","index":0}]]},"Form":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop_Cadastro","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop_Cadastro","type":"main","index":0}]]},"Form1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]},"Is Invalid Number?":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Set Error","type":"main","index":0}]]},"Send Template":{"main":[[{"node":"Is Invalid Number?","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Message Status","type":"main","index":0}]]},"Message Status":{"main":[[{"node":"Error Sent?","type":"main","index":0}]]},"Error Sent?":{"main":[[{"node":"Supabase8","type":"main","index":0}],[{"node":"Supabase9","type":"main","index":0}]]},"Loop_Cadastro":{"main":[[{"node":"Form1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Loop_Envio":{"main":[[],[{"node":"Send Template","type":"main","index":0}]]},"Set Error":{"main":[[{"node":"Supabase10","type":"main","index":0}]]},"Supabase8":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]},"Supabase9":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"submittedAt":"2025-06-02T12:56:14.592-03:00","formMode":"production"}}]},"versionId":"8fc24d66-7951-4d92-9bc7-3b0188605419","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:27:15.126Z","updatedAt":"2025-10-22T00:27:15.126Z","role":"workflow:owner","workflowId":"4wb6iFWt3JoR4SqB","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}