7m7I5nRHKmEgLV2H.json
{"createdAt":"2025-10-22T00:27:28.935Z","updatedAt":"2025-10-22T00:27:28.935Z","id":"7m7I5nRHKmEgLV2H","name":"Agente STW - IA","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,656],"id":"1a95fcab-ec5c-4cab-95cd-014c745e2b46","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,432],"id":"bd4caa9e-0879-48a8-931a-6045934f4783","name":"Payload"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[912,864],"id":"c3485b85-9abc-4cf8-86c7-77e68fec3e07","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.payload.from }}_chat","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1056,864],"id":"c0669b2f-8a84-459c-80be-3715fd06d2a9","name":"Chat Memory1","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"promptType":"define","text":"={{ $json.payload.msg.content }}","options":{"systemMessage":"=# Papel e Objetivo\nVocê é um assistente de diagnóstico e roteamento da System Way. Sua função é orquestrar as ferramentas corretas na ordem certa para identificar o problema do cliente com precisão e abrir um chamado. Você NUNCA resolve o problema, apenas o diagnostica e encaminha.\n\n# Contexto\nVocê está recebendo a PRIMEIRA mensagem de um cliente. Você já tem acesso às informações da empresa dele. A conversa já começou, então seja direto.\n\n# Dados Recebidos\n<userInfo>\n{{ $json.payload.userInfo.clients.toJsonString() }}\n</userInfo>\n\n# Ferramentas Disponíveis\n- `listar_servicos_contratados(codigo_cliente)`: Ferramenta interna para obter a lista de serviços que o cliente possui.\n- `identificar_categoria(problema_cliente, servicos_contratados)`: Sua ferramenta de diagnóstico principal (RAG 1) para encontrar o serviço mais provável.\n- `classificar_categoria(servico_identificado, problema_original)`: A ferramenta especialista (RAG 2) para encontrar a classificação final exata.\n- `abrir_chamado(assunto_completo, problema_original, userInfo)`: Ferramenta para abrir o chamado no sistema.\n- `transferir_humano()`: Ferramenta para transferir o atendimento para um humano.\n\n# Processo de Atendimento (Passo a Passo OBRIGATÓRIO)\n\n### Etapa 0: Identificação da Empresa (Ação Prioritária)\n- Verificação Inicial: Conte quantos objetos (empresas) existem dentro da lista na tag <userInfo>.\n\nSE houver mais de um objeto:\n- Sua única e imediata ação é responder ao cliente para que ele escolha a empresa. NÃO chame nenhuma outra ferramenta até que o cliente responda e confirme a empresa.\n\nSe a lista for pequena (2 a 3 empresas): Liste os nomes para o cliente escolher.\n- Exemplo de Resposta: \"Notei que seu contato está associado a mais de uma empresa. O problema se refere à System Way (STW) ou à STW Interno?\"\n\nSe a lista for grande (4 ou mais): Peça para o cliente digitar o nome da empresa.\n- Exemplo de Resposta: \"Notei que seu contato tem acesso a várias empresas. Por favor, poderia me informar o nome da empresa para a qual você precisa de suporte?\"\n\nSE houver apenas um objeto:\n- Prossiga silenciosamente para a Etapa 1. Você já tem o codigo_cliente necessário para as próximas ferramentas.\n\n### Etapa 1: Identificação do Serviço Principal (usando RAG 1)\n1.  Chame `listar_servicos_contratados` para obter a lista de serviços do cliente.\n2.  Chame `identificar_servico_rag` passando a `customerMessage` e a lista de serviços obtida.\n3.  Analise o resultado da ferramenta.\n4.  **Ação com base na Análise:**\n    * **Cenário A (Alta Confiança):** Se a ferramenta retornar um serviço com alta confiança, confirme o entendimento e prossiga.\n        - **Exemplo de Fala:** \"Ok, entendido. Um momento enquanto classifico seu chamado.\"\n        - **Próximo Passo:** Avance IMEDIATAMENTE para a \"Etapa 2\".\n    * **Cenário B (Ambiguidade Real):** Se os resultados mostrarem uma disputa entre serviços, inicie um diálogo de diagnóstico. Você pode fazer **até, no máximo, 3 perguntas** para tentar identificar o serviço. Se após a terceira pergunta e resposta do cliente você ainda não tiver um serviço de alta confiança, **pare o diagnóstico e acione a ferramenta `transferir_humano`**.\n        - **Exemplo de Diálogo:** Se a dúvida for entre Firewall e Link de Internet, a primeira pergunta pode ser: \"Entendi a lentidão. Isso acontece para acessar todos os sites ou apenas alguns específicos?\".\n\n### Etapa 2: Classificação Final (Delegação ao Especialista)\n1.  Com o serviço principal identificado internamente, chame a ferramenta especialista `classificar_chamado_rag`.\n\n### Etapa 3: Abertura do Chamado\n1.  Use o resultado final de `classificar_chamado_rag` para chamar imediatamente a ferramenta `abrir_chamado`.\n\n# Regras Críticas de Comunicação\n- **NUNCA REVELE DETALHES INTERNOS:** Nunca mencione nomes de produtos (`STW Firewall`), códigos de cliente, nomes de ferramentas (`RAG`) ou jargões técnicos.\n- **FOCO TOTAL NO SINTOMA:** Toda a sua comunicação deve ser na forma de perguntas sobre o problema que o cliente está sentindo.\n- **CONFIRMAÇÃO DE EMPRESA SÓ PELO NOME:** Ao confirmar a empresa, use APENAS os nomes das empresas. NUNCA mostre o `codigo_cliente`.\n- **SEJA DIRETO E EFICIENTE:** Evite conversas desnecessárias. Seu objetivo é coletar informação, diagnosticar e rotear.\n- **USE A FERRAMENTA DE TRANSFERÊNCIA:** Acione `transferir_humano` imediatamente se o cliente pedir, expressar frustração, ou se você atingir o limite de 3 perguntas de diagnóstico na Etapa 1 sem sucesso."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[544,432],"id":"bc2373b8-8920-4a65-91d7-1c548a3063a8","name":"STW"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"id":"a4cd4468-ce5f-41b7-81d3-75d59e09fceb","name":"Delete table or rows","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.payload.from }}_chat","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[352,656],"id":"951c31e0-517c-4b7d-85b6-4523fca3d86c","name":"Chat Memory","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,864],"id":"3ac6233e-7260-47de-bb96-5e76808ae442","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.payload.from }}_chat","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[448,864],"id":"bf0e2c4e-7628-4b01-bd53-b0aa843a961b","name":"Chat Memory2","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"description":"Aciona o workflow final para a criação de um novo chamado. Use esta ferramenta APENAS quando a classificação do problema for concluída com sucesso. Você DEVE fornecer três argumentos: 'assunto_completo' (a string de classificação final), 'resume' (um breve resumo do problema relatado pelo cliente para contexto) e 'payload'.","workflowId":{"__rl":true,"value":"8eWXcLRx1nj6Ohyf","mode":"list","cachedResultUrl":"/workflow/8eWXcLRx1nj6Ohyf","cachedResultName":"Agente STW - Open Ticket"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n  {\n    chatId: $node['Payload'].json.payload.msg.chatId,\n    solicitanteId: $node['Payload'].json.payload.userInfo.chave\n  }\n}}","resume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resume', `Resumo da conversa que o cliente teve relatando o problema.`, 'string') }}","assunto_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('assunto_completo', `Assunto completo identificado pelo agente.`, 'string') }}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"resume","displayName":"resume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"assunto_completo","displayName":"assunto_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,496],"id":"fc24fb99-77e6-48bd-8bb4-33d64a5fdd34","name":"abrir_chamado"},{"parameters":{"method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/{{ $node['Payload'].json.payload.msg.chatId }}/transfer","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"68d401bb6a56b9cc9fb8a085"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[592,864],"id":"9ff0c292-601e-4e7d-aeea-3c9216992496","name":"transfer_sector"},{"parameters":{"toolDescription":"- `transferir_humano()`: Ferramenta para transferir o atendimento para um humano.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"Papel: Você é um agente de sistema. Sua função é resumir o histórico da conversa, enviar esse resumo como uma nota interna e transferir o chat. Não interaja com o cliente.\n\nFerramentas:\n\nsend_whisper(parameters1_Value): Envia uma nota interna para o técnico.\n\ntransfer_sector(): Transfere o chat.\n\nOrdem de Execução Obrigatória:\n\nPRIMEIRO: Crie um resumo conciso do histórico e chame send_whisper, passando o resumo no parâmetro parameters1_Value.\n\nSEGUNDO: Chame transfer_sector().\n\nConclusão:\n\nO prompt grande é uma \"programação defensiva\". Ele é chato de escrever, mas garante consistência e reduz a chance de erro a quase zero.\n\nO prompt minimalista é mais limpo e rápido. Ele deve funcionar bem, mas se um dia, do nada, ele começar a falhar, a causa provável é que a IA precisou de instruções mais explícitas, como as da versão longa."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[496,656],"id":"502d99ac-c035-4994-99f7-59a9f9e20f61","name":"transferir_humano"},{"parameters":{"toolDescription":"send_whisper(parameters1_Value): Envia uma nota interna para o técnico.","method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $node['Payload'].json.payload.from }}"},{"name":"message","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Resumo geral da conversa com o cliente.`, 'string') }}"},{"name":"isWhisper","value":"true"},{"name":"forceSend","value":"true"},{"name":"verifyContact","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[720,864],"id":"e4ea4dde-5974-49fe-80a0-3a60a60d402e","name":"send_whisper"},{"parameters":{"description":"`listar_servicos_contratados(codigo_cliente)`: Use esta ferramenta primeiro para obter a lista de serviços que o cliente possui.","workflowId":{"__rl":true,"value":"ZenL07FlPIj4QC7z","mode":"list","cachedResultUrl":"/workflow/ZenL07FlPIj4QC7z","cachedResultName":"Agente STW - Categories"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n{\n  whatsapp: $node['Payload'].json.payload.from\n}\n}}","clientId":"={{ $fromAI('clientId', `Código do cliente identificado, Exemplo: 30`, 'string') }}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"clientId","displayName":"clientId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,336],"id":"1079babc-50fd-49a8-a00a-3ecc03393441","name":"listar_servicos_contratados"},{"parameters":{"toolDescription":"Use essa tool para consultar os dados na vector store. O parametro query representa o serviço solicitado","method":"POST","url":"https://bnjinlcfonzvxcdufldu.supabase.co/functions/v1/hybrid-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuamlubGNmb256dnhjZHVmbGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTA2MjcsImV4cCI6MjA3NTY2NjYyN30.VdZ1HvrCOl1LL-2A2ZgZzUNV2AQXtC7ULrJ7aaKV1sg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `duvida completa do cliente`, 'string') }}"},{"name":"type","value":"auto-category"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1184,864],"id":"bbc2ed17-5e62-4fff-acf4-e1b3986ea4a9","name":"HTTP Request1"},{"parameters":{"toolDescription":"Use essa tool para consultar os dados na vector store. O parametro query representa o serviço solicitado","method":"POST","url":"https://bnjinlcfonzvxcdufldu.supabase.co/functions/v1/hybrid-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuamlubGNmb256dnhjZHVmbGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTA2MjcsImV4cCI6MjA3NTY2NjYyN30.VdZ1HvrCOl1LL-2A2ZgZzUNV2AQXtC7ULrJ7aaKV1sg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"type","value":"category"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1152,640],"id":"984175ea-99ef-4613-bbb5-d834aacfb685","name":"identificar_categoria"},{"parameters":{"toolDescription":"`classificar_chamado_rag(servico_identificado, problema_original)`: **A FERRAMENTA ESPECIALISTA.** Use-a APENAS DEPOIS que `identificar_servico_rag` te deu um serviço com alta confiança. Ela recebe o serviço e o problema e usa a base de conhecimento detalhada (RAG 2) para encontrar a classificação final exata.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"# Papel e Objetivo\nVocê é um engenheiro especialista em diagnóstico. Sua única função é receber um serviço já identificado e a descrição de um problema, usar sua base de conhecimento técnica para encontrar a classificação exata, e retornar APENAS o assunto completo final.\n\n# Contexto\nVocê foi acionado por um assistente de triagem que já fez o trabalho inicial de identificar o serviço principal. Sua tarefa é o diagnóstico detalhado. Você já tem o nome do serviço (`servico_identificado`) e o problema original do cliente (`problema_original`).\n\n# Ferramentas Disponíveis\n- `buscar_classificacao_rag(servico_identificado, problema_original)`: Sua única ferramenta. Ela busca na base de conhecimento detalhada (RAG Nível 2) a classificação mais precisa para o problema dentro do serviço já conhecido.\n\n# Processo Obrigatório\n1.  **Use sua ferramenta.** A primeira e única ação que você deve tomar é chamar a ferramenta `buscar_classificacao_rag`, passando os parâmetros `servico_identificado` e `problema_original` que você recebeu.\n2.  **Analise o resultado da busca.** A ferramenta retornará os \"assuntos completos\" mais relevantes.\n3.  **Retorne a Resposta Final.** Sua resposta final para o assistente de triagem deve ser **APENAS a string de texto do campo `subject`** do resultado mais relevante. Não adicione nenhuma frase, explicação ou cumprimento.\n\n# Exemplo de Resposta Final\nSTW Firewall - Acesso - Analisar\n\n# Regras Críticas\n- NUNCA converse com o usuário. Sua comunicação é apenas com o assistente que te chamou.\n- NUNCA peça mais informações. Use a informação que você recebeu para encontrar a melhor correspondência possível.\n- Sua resposta final DEVE ser apenas a string do `assunto_completo` encontrado."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[800,656],"id":"2b6be37a-d02c-4e63-bdcd-f24512777e7a","name":"classificar_categoria"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"STW","type":"ai_languageModel","index":0}]]},"Payload":{"main":[[{"node":"STW","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"classificar_categoria","type":"ai_languageModel","index":0}]]},"Chat Memory1":{"ai_memory":[[{"node":"classificar_categoria","type":"ai_memory","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"STW","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"transferir_humano","type":"ai_languageModel","index":0}]]},"Chat Memory2":{"ai_memory":[[{"node":"transferir_humano","type":"ai_memory","index":0}]]},"abrir_chamado":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"transfer_sector":{"ai_tool":[[{"node":"transferir_humano","type":"ai_tool","index":0}]]},"transferir_humano":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"send_whisper":{"ai_tool":[[{"node":"transferir_humano","type":"ai_tool","index":0}]]},"listar_servicos_contratados":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"classificar_categoria","type":"ai_tool","index":0}]]},"identificar_categoria":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"classificar_categoria":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"from":"5514974009711","msg":{"chatId":"68ed54d539479db9b9f4e85c","id":"68ed552f3f1937b3d48fb922","date":"2025-10-13T16:38:25.985-03:00","content":"ME TRANSFIRA PARA um HUMANo","sector":"68d401bb6a56b9cc9fb8a085"},"userInfo":{"clients":[{"cliente":"STW Interno","codigo_cliente":"663"},{"cliente":"System Way (STW)","codigo_cliente":"30"}]}}}}]},"versionId":"1e45bcce-c60d-438f-a3c7-e72774e9afa2","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:27:28.935Z","updatedAt":"2025-10-22T00:27:28.935Z","role":"workflow:owner","workflowId":"7m7I5nRHKmEgLV2H","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}