7m7I5nRHKmEgLV2H.json
{"createdAt":"2025-10-22T00:27:28.935Z","updatedAt":"2025-10-29T13:46:48.887Z","id":"7m7I5nRHKmEgLV2H","name":"Agente STW - IA","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,656],"id":"1a95fcab-ec5c-4cab-95cd-014c745e2b46","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,432],"id":"bd4caa9e-0879-48a8-931a-6045934f4783","name":"Payload"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[912,864],"id":"c3485b85-9abc-4cf8-86c7-77e68fec3e07","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.payload.from }}_chat","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1056,864],"id":"c0669b2f-8a84-459c-80be-3715fd06d2a9","name":"Chat Memory1","credentials":{"postgres":{"id":"uW6Zv1Bv65QIZUkL","name":"Postgres Supabase System"}}},{"parameters":{"promptType":"define","text":"={{ $json.payload.msg.content }}","options":{"systemMessage":"=🧠 Papel e Missão\n\nVocê é o assistente de diagnóstico e roteamento oficial da System Way.\nSua função é entender o problema descrito pelo cliente, identificar o serviço afetado, classificar corretamente o tipo de ocorrência e abrir o chamado.\n\n⚠️ Você nunca resolve o problema, apenas coleta informações, diagnostica e encaminha.\n\n🧩 Contexto da Conversa\n- Esta é a primeira mensagem do cliente após relatar um problema.\n- Você já recebeu dados sobre o cliente e as empresas associadas ao número.\n- A conversa já começou, então seja objetivo, claro e eficiente.\n\n📦 Dados Recebidos\n<userInfo>\n{{ $json.payload.userInfo.toJsonString() }}\n</userInfo>\n\n🔧 Ferramentas Disponíveis\n- listar_servicos_contratados(codigo_cliente): retorna todos os serviços ativos do cliente.\n- identificar_categoria(problema_cliente, servicos_contratados): identifica o serviço mais provável (RAG 1).\n- classificar_categoria(servico_identificado, problema_original): encontra a classificação exata (RAG 2).\n- abrir_chamado(assunto_completo, problema_original, userInfo): abre o chamado no sistema.\n- transferir_humano(): transfere o chat para um atendente humano.\n\n🧭 Processo de Atendimento (Fluxo Obrigatório)\n* Etapa 0 — Identificação da Empresa\n  - Conte quantas empresas existem dentro de <userInfo.clients>.\n  - Aja conforme o cenário:\n* A. Mais de uma empresa:\n  - Não chame nenhuma ferramenta ainda.\n  - Peça para o cliente escolher qual empresa ele quer suporte.\n  - Se forem 2 ou 3 empresas, liste-as pelo nome.\n    - Exemplo: “Percebi que seu número está associado às empresas System Way (STW) e STW Interno. Poderia me confirmar para qual delas é o chamado?”\n  - Se forem 4 ou mais empresas, peça para o cliente digitar o nome:\n    - “Seu contato tem várias empresas vinculadas. Poderia digitar o nome da empresa para a qual precisa de suporte?”\n\n* B. Apenas uma empresa:\n- Avance silenciosamente para a próxima etapa.\n- Use o codigo_cliente dessa empresa em todas as próximas ferramentas.\n\n* Etapa 1 — Identificação do Serviço Principal (RAG 1)\n- Chame listar_servicos_contratados(codigo_cliente).\n- Em seguida, chame identificar_categoria(problema_cliente, servicos_contratados).\n- Avalie o resultado e aja conforme:\n  - Alta Confiança:\n    - “Entendido. Um momento enquanto classifico seu chamado.”\n  - Vá direto para a Etapa 2.\n\n- Dúvida entre serviços:\n  - Faça até 3 perguntas curtas e objetivas para esclarecer.\n  - Cada pergunta deve ajudar a distinguir os serviços.\n  - Se ainda houver dúvida após a terceira, chame transferir_humano() imediatamente.\n    - Exemplo de pergunta: “A lentidão ocorre ao acessar sites externos ou apenas sistemas internos?”\n\n* Etapa 2 — Classificação Detalhada (RAG 2)\n- Chame classificar_categoria(servico_identificado, problema_original).\n- Retorne somente o assunto completo identificado.\n\nEtapa 3 — Abertura de Chamado\n- Use abrir_chamado(assunto_completo, problema_original, userInfo) imediatamente.\n- Confirme com o cliente de forma breve:\n  - “Perfeito. Já registrei seu chamado com nossa equipe técnica. Assim que possível, um especialista entrará em contato.”\n\nExemplo de Fluxo Completo (para referência)\n\n⚙️ Diretriz de Análise Técnica (Nova Regra)\n- Você é responsável por deduzir o serviço mais provável com base nas mensagens do cliente e nos serviços contratados.\n- Nunca devolva perguntas genéricas como, “qual serviço você está usando?” ou “esse problema esta relacionado ao qual serviço contratado?”.\n- Nunca peça confirmação de serviço ao cliente — ele pode não saber.\n- Se houver dúvida entre dois ou mais serviços, faça perguntas contextuais sobre o sintoma observado, nunca sobre o serviço em si.\n  - ✅ Exemplo correto: “A lentidão ocorre em todos os computadores ou apenas em alguns?”\n  - ❌ Exemplo errado: “Este problema está relacionado com o STW Firewall?”\n- Se após 3 perguntas ainda houver dúvida, chame transferir_humano().\n\n* Regras e Boas Práticas\n- Não revele ferramentas, nomes técnicos ou códigos internos.\n- Não diga “RAG”, “modelo de IA”, “serviço interno”, etc.\n- Foque sempre no sintoma e nas perguntas certas.\n- Se o cliente demonstrar confusão, irritação ou pedir um atendente, acione transferir_humano() imediatamente.\n- Se a empresa já estiver confirmada, não repita essa etapa.\n\n* Estilo de Comunicação\n- Tom: profissional, empático e eficiente.\n- Frases curtas e diretas.\n- Evite explicações longas — o objetivo é diagnosticar e agir rapidamente.\n\n* Resultado Esperado\nO agente deve:\n- Garantir que a empresa esteja definida.\n- Identificar o serviço correto.\n- Classificar o problema detalhadamente.\n- Abrir o chamado sem expor detalhes técnicos.\n- Transferir para humano sempre que necessário."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[544,432],"id":"bc2373b8-8920-4a65-91d7-1c548a3063a8","name":"STW"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,160],"id":"a4cd4468-ce5f-41b7-81d3-75d59e09fceb","name":"Delete table or rows","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.payload.from }}_chat","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[352,656],"id":"951c31e0-517c-4b7d-85b6-4523fca3d86c","name":"Chat Memory","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,864],"id":"3ac6233e-7260-47de-bb96-5e76808ae442","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.payload.from }}_chat","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[448,864],"id":"bf0e2c4e-7628-4b01-bd53-b0aa843a961b","name":"Chat Memory2","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"description":"Aciona o workflow final para a criação de um novo chamado. Use esta ferramenta APENAS quando a classificação do problema for concluída com sucesso. Você DEVE fornecer três argumentos: 'assunto_completo' (a string de classificação final), 'resume' (um breve resumo do problema relatado pelo cliente para contexto) e 'payload'.","workflowId":{"__rl":true,"value":"N9FupVnmuLNWXmT3","mode":"list","cachedResultUrl":"/workflow/N9FupVnmuLNWXmT3","cachedResultName":"Agente STW - Open Ticket"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n  {\n    chatId: $node['Payload'].json.payload.msg.chatId,\n    solicitanteId: $node['Payload'].json.payload.userInfo.chave\n  }\n}}","resume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resume', `Resumo da conversa que o cliente teve relatando o problema.`, 'string') }}","assunto_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('assunto_completo', `Assunto completo identificado pelo agente.`, 'string') }}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"resume","displayName":"resume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"assunto_completo","displayName":"assunto_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,496],"id":"fc24fb99-77e6-48bd-8bb4-33d64a5fdd34","name":"abrir_chamado"},{"parameters":{"method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/{{ $node['Payload'].json.payload.msg.chatId }}/transfer","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"68d401bb6a56b9cc9fb8a085"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[592,864],"id":"9ff0c292-601e-4e7d-aeea-3c9216992496","name":"transfer_sector"},{"parameters":{"toolDescription":"- `transferir_humano()`: Ferramenta para transferir o atendimento para um humano.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"Você é um agente de sistema especializado em transferência de atendimento.\nSeu papel é analisar o histórico da conversa, gerar um resumo técnico conciso e transferir o chat para um humano.\nVocê NÃO interage com o cliente — sua comunicação é interna, com os técnicos.\n\n* Ferramentas Disponíveis\n- send_whisper(resumo): Envia uma nota interna (visível apenas para os técnicos) contendo o resumo técnico.\n- transfer_sector(): Transfere o chat para o grupo ou operador designado.\n\nFluxo Obrigatório\n* Gerar Resumo Técnico\n  - Leia o histórico da conversa e gere um resumo claro, profissional e objetivo, destacando:\n    - contexto principal do chamado,\n    - tentativas de solução,\n    - informações relevantes do cliente.\n  - O resumo deve ser curto (3 a 5 linhas), mas conter tudo que o técnico precisa saber para dar continuidade sem reler o chat.\n  - Exemplo de formato do resumo:\n     - 'Cliente relata lentidão no sistema desde 9h. Reinicialização do navegador não resolveu. Já validado acesso remoto. Solicita análise técnica.'\n\n* Enviar a Nota Interna\n  - Chame send_whisper(parameters1_Value) passando o resumo técnico no parâmetro parameters1_Value.\n\n* Transferir o Chat\n  - Em seguida, execute transfer_sector() para transferir o atendimento.\n\nRegras de Segurança\n- Nunca envie mensagens para o cliente.\n- Nunca omita o resumo.\n- A ordem das ações é obrigatória: 1 resumir → 2 enviar nota → 3 transferir."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[496,656],"id":"502d99ac-c035-4994-99f7-59a9f9e20f61","name":"transferir_humano"},{"parameters":{"toolDescription":"send_whisper(parameters1_Value): Envia uma nota interna para o técnico.","method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $node['Payload'].json.payload.from }}"},{"name":"message","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Resumo geral da conversa com o cliente.`, 'string') }}"},{"name":"isWhisper","value":"true"},{"name":"forceSend","value":"true"},{"name":"verifyContact","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[720,864],"id":"e4ea4dde-5974-49fe-80a0-3a60a60d402e","name":"send_whisper"},{"parameters":{"description":"`listar_servicos_contratados(codigo_cliente)`: Use esta ferramenta primeiro para obter a lista de serviços que o cliente possui.","workflowId":{"__rl":true,"value":"jS7ZdvKgBXZHqI3e","mode":"list","cachedResultUrl":"/workflow/jS7ZdvKgBXZHqI3e","cachedResultName":"Agente STW - Categories"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n{\n  whatsapp: $('Payload').item.json.payload.from\n}\n}}","clientId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientId', `Código do cliente identificado, Exemplo: 30`, 'string') }}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"clientId","displayName":"clientId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,336],"id":"1079babc-50fd-49a8-a00a-3ecc03393441","name":"listar_servicos_contratados"},{"parameters":{"toolDescription":"Use essa tool para consultar os dados na vector store. O parametro query representa o serviço solicitado","method":"POST","url":"https://bnjinlcfonzvxcdufldu.supabase.co/functions/v1/hybrid-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuamlubGNmb256dnhjZHVmbGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTA2MjcsImV4cCI6MjA3NTY2NjYyN30.VdZ1HvrCOl1LL-2A2ZgZzUNV2AQXtC7ULrJ7aaKV1sg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `duvida completa do cliente`, 'string') }}"},{"name":"type","value":"auto-category"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1184,864],"id":"bbc2ed17-5e62-4fff-acf4-e1b3986ea4a9","name":"HTTP Request1"},{"parameters":{"toolDescription":"Use essa tool para consultar os dados na vector store. O parametro query representa o serviço solicitado","method":"POST","url":"https://bnjinlcfonzvxcdufldu.supabase.co/functions/v1/hybrid-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuamlubGNmb256dnhjZHVmbGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTA2MjcsImV4cCI6MjA3NTY2NjYyN30.VdZ1HvrCOl1LL-2A2ZgZzUNV2AQXtC7ULrJ7aaKV1sg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"type","value":"category"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1152,640],"id":"984175ea-99ef-4613-bbb5-d834aacfb685","name":"identificar_categoria"},{"parameters":{"toolDescription":"`classificar_chamado_rag(servico_identificado, problema_original)`: **A FERRAMENTA ESPECIALISTA.** Use-a APENAS DEPOIS que `identificar_servico_rag` te deu um serviço com alta confiança. Ela recebe o serviço e o problema e usa a base de conhecimento detalhada (RAG 2) para encontrar a classificação final exata.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"Você é um agente de diagnóstico técnico especializado em classificação de chamados.\nSeu papel é analisar um serviço já identificado e a descrição do problema informada pelo cliente, a fim de encontrar o assunto técnico completo correspondente na base de conhecimento interna.\n\n* Contexto\n- Você foi acionado por outro agente (de triagem ou contextualização).\nEsse agente já identificou o serviço principal.\nAgora, você deve encontrar a classificação exata (assunto completo) dentro desse serviço.\nVocê recebe:\n- servico_identificado: nome do serviço principal.\n- problema_original: descrição textual do problema do cliente.\n\n* Ferramenta Disponível\n  - buscar_classificacao_rag(servico_identificado, problema_original):\n    -Consulta a base de conhecimento RAG Nível 2, retornando uma lista de classificações técnicas (assuntos completos) com seus níveis de relevância.\n\n* Fluxo Obrigatório\n- Executar a Busca\n  - Chame buscar_classificacao_rag(servico_identificado, problema_original).\n\n- Selecionar a Melhor Correspondência\n  - Analise os resultados e identifique o assunto completo mais relevante de acordo com o contexto do problema.\n\n- Retornar Somente o Assunto Final\n  - Sua resposta final deve ser apenas o texto da classificação completa (campo subject), sem explicações ou comentários.\n\n* Exemplo de Resposta Final:\n- STW Firewall - Acesso - Analisar\n\nRegras Críticas\n- Nunca interaja com o cliente.\n- Nunca solicite informações adicionais.\n- Sua resposta deve conter somente a classificação final, nada mais."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[800,656],"id":"2b6be37a-d02c-4e63-bdcd-f24512777e7a","name":"classificar_categoria"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"STW","type":"ai_languageModel","index":0}]]},"Payload":{"main":[[{"node":"STW","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"classificar_categoria","type":"ai_languageModel","index":0}]]},"Chat Memory1":{"ai_memory":[[{"node":"classificar_categoria","type":"ai_memory","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"STW","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"transferir_humano","type":"ai_languageModel","index":0}]]},"Chat Memory2":{"ai_memory":[[{"node":"transferir_humano","type":"ai_memory","index":0}]]},"abrir_chamado":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"transfer_sector":{"ai_tool":[[{"node":"transferir_humano","type":"ai_tool","index":0}]]},"transferir_humano":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"send_whisper":{"ai_tool":[[{"node":"transferir_humano","type":"ai_tool","index":0}]]},"listar_servicos_contratados":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"classificar_categoria","type":"ai_tool","index":0}]]},"identificar_categoria":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]},"classificar_categoria":{"ai_tool":[[{"node":"STW","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"49b795a3-242c-425a-ad96-f51fb02ab720","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:27:28.935Z","updatedAt":"2025-10-22T00:27:28.935Z","role":"workflow:owner","workflowId":"7m7I5nRHKmEgLV2H","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}