9gZPZeLKaNokgwzB.json
{"createdAt":"2025-07-18T19:29:42.362Z","updatedAt":"2025-07-18T19:29:42.362Z","id":"9gZPZeLKaNokgwzB","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/geral/clientes/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"call\":\"ConsultarCliente\",\n    \"app_key\":\"1505356161309\",\n    \"app_secret\":\"601ebbc4215eb60e7b9899f2ea3947b9\",\n    \"param\":[\n            {\n            \"codigo_cliente_omie\": {{ $json[\"codigoClienteFornecedor\"] }}\n            }\n        ]\n}","options":{}},"id":"cebb0a13-1e66-4699-9ec0-47f6eb517012","name":"IDENTIFICAR CLIENTE OMIE","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[480,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"status\"] }}","value2":"202"}]}},"id":"9b6e2b16-15dc-4aa3-afa7-5deb3ff1ddac","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1140,0],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json-patch+json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"number\": \"55 {{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"telefone1_ddd\"] }} {{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"telefone1_numero\"] }}\",\n  \"templateId\": \"66353a5e4d55fc3e45d35a73\",\n  \"templateComponents\": [\n    {\n      \"type\": \"BODY\",\n      \"parameters\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"razao_social\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code').item.json[\"dataFormatada\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code').item.json[\"valor_documento\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Gerar Boleto').item.json[\"cCodBarras\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Chave PIX: 07944380000161\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Gerar Boleto').item.json[\"cLinkBoleto\"] }}\"\n        }\n      ]\n    }\n  ],\n  \"forceSend\": true,\n  \"verifyContact\": false\n}","options":{}},"id":"62a89cb1-3bc6-4bd5-96c8-a13d1185c12b","name":"Enviar Template","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[920,0]},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceberboleto/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"call\":\"GerarBoleto\",\n    \"app_key\": \"1505356161309\",\n    \"app_secret\": \"601ebbc4215eb60e7b9899f2ea3947b9\",\n    \"param\":[\n        {\n            \"nCodTitulo\": \"{{ $node[\"Code\"].json[\"codigo_lancamento_omie\"] }}\"\n        }\n    ]\n}","options":{}},"id":"9ebf312e-5dfe-4c8e-a254-267d1a969b96","name":"Gerar Boleto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,0],"continueOnFail":true},{"parameters":{"jsCode":"const data = items[0].json[\"body\"][\"event\"][\"data_vencimento\"];\nlet dataFormatada = new Date(data);\ndataFormatada = `${dataFormatada.getDate()}/${dataFormatada.getMonth() + 1}/${dataFormatada.getFullYear()}`;\n\nconst codigoClienteFornecedor = items[0].json[\"body\"][\"event\"][\"codigo_cliente_fornecedor\"];\n\nconst valor_documento = items[0].json[\"body\"][\"event\"][\"valor_documento\"];\n\nconst codigo_lancamento_omie = items[0].json[\"body\"][\"event\"][\"codigo_lancamento_omie\"];\n\nconst boleto_numero = items[0].json[\"body\"][\"event\"][\"boleto_numero\"];\n\nreturn [{ json: { dataFormatada, codigoClienteFornecedor, valor_documento, codigo_lancamento_omie, boleto_numero } }];\n"},"id":"13c1b4ca-c2ea-4d9e-9f86-dfa41927b38d","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[260,0],"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"omie-system-way-murilo","options":{}},"id":"7cd87ffb-0da1-415a-807a-7cbd31cbdf3b","name":"EVENTO COBRANCA GERADA","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"5d60937a-1568-4394-b650-2e037baf69ff"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9c0aa9bf-93f2-4f92-97e0-a2969a2cd709","leftValue":"","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4c70081a-376f-4ea6-8888-a169ce750398","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1300,320]},{"parameters":{"operation":"executeQuery","query":"select * from partners;","options":{}},"id":"36a4ac22-0a95-4aa1-b631-1036b45bb163","name":"Save Client BD","type":"n8n-nodes-base.mySql","typeVersion":2.3,"position":[700,560]},{"parameters":{"jsCode":"return {\n    \"codigo_cliente_omie\": 12345,\n    \"codigo_cliente_integracao\": \"ABC123\",\n    \"razao_social\": \"Empresa Exemplo LTDA\",\n    \"cnpj_cpf\": \"12.345.678/0001-90\",\n    \"nome_fantasia\": \"Exemplo\",\n    \"telefone1_ddd\": \"11\",\n    \"telefone1_numero\": \"987654321\",\n    \"contato\": \"João da Silva\",\n    \"endereco\": \"Rua Exemplo\",\n    \"endereco_numero\": \"123\",\n    \"bairro\": \"Centro\",\n    \"complemento\": \"Apto 101\",\n    \"estado\": \"SP\",\n    \"cidade\": \"3550308\",\n    \"cep\": \"01234-567\",\n    \"codigo_pais\": \"1058\",\n    \"separar_endereco\": \"N\",\n    \"pesquisar_cep\": \"S\",\n    \"telefone2_ddd\": \"11\",\n    \"telefone2_numero\": \"912345678\",\n    \"fax_ddd\": \"11\",\n    \"fax_numero\": \"123456789\",\n    \"email\": \"contato@empresaexemplo.com.br\",\n    \"homepage\": \"http://www.empresaexemplo.com.br\",\n    \"inscricao_estadual\": \"123456789\",\n    \"inscricao_municipal\": \"987654321\",\n    \"inscricao_suframa\": \"IS123456\",\n    \"optante_simples_nacional\": \"S\",\n    \"tipo_atividade\": \"1\",\n    \"cnae\": \"1234567\",\n    \"produtor_rural\": \"N\",\n    \"contribuinte\": \"S\",\n    \"observacao\": \"Cliente VIP\",\n    \"obs_detalhadas\": \"Sempre pagar em dia\",\n    \"recomendacao_atraso\": \"02\",\n    \"tags\": [\"VIP\", \"Importante\"],\n    \"pessoa_fisica\": \"N\",\n    \"exterior\": \"N\",\n    \"logradouro\": \"DEPRECATED\",\n    \"importado_api\": \"S\",\n    \"bloqueado\": \"DEPRECATED\",\n    \"cidade_ibge\": \"3550308\",\n    \"valor_limite_credito\": 10000.00,\n    \"bloquear_faturamento\": \"N\",\n    \"recomendacoes\": {\n      \"codigo_recomendacao\": \"001\",\n      \"descricao\": \"Protesto após 30 dias\"\n    },\n    \"enderecoEntrega\": {\n      \"endereco\": \"Av. de Entrega\",\n      \"numero\": \"456\",\n      \"bairro\": \"Comercial\",\n      \"cep\": \"12345-678\",\n      \"cidade\": \"São Paulo\",\n      \"estado\": \"SP\",\n      \"complemento\": \"Prédio B\"\n    },\n    \"nif\": \"NIF123456\",\n    \"documento_exterior\": \"EX123456789\",\n    \"inativo\": \"N\",\n    \"dadosBancarios\": {\n      \"banco\": \"001\",\n      \"agencia\": \"1234\",\n      \"conta\": \"56789-0\"\n    },\n    \"caracteristicas\": [\n      {\n        \"codigo\": \"001\",\n        \"descricao\": \"Cliente frequente\"\n      },\n      {\n        \"codigo\": \"002\",\n        \"descricao\": \"Preferência por pagamento via boleto\"\n      }\n    ],\n    \"enviar_anexos\": \"S\",\n    \"info\": {\n      \"data_cadastro\": \"2024-10-17\",\n      \"usuario_responsavel\": \"admin\"\n    },\n    \"bloquear_exclusao\": \"S\"\n}"},"id":"0a7dff90-7a56-4b23-9518-9607ffec7053","name":"Format Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9c0aa9bf-93f2-4f92-97e0-a2969a2cd709","leftValue":"","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a2dd35a5-b26d-435b-b246-23d6cc7dbc88","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1000,560]},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"contentType":"=json","specifyBody":"json","bodyParameters":{"parameters":[{}]},"jsonBody":"{\n \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"id":"2dc66fef-fe56-4f97-a023-a7d73d53d38f","name":"Authentication Desk","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,220]},{"parameters":{},"id":"c7bf6453-235d-4b50-b9b5-bfbe90563b19","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,460]},{"parameters":{"jsCode":"const formattedJSON = {\n  TCliente: {\n    CGrupoEmpresas: [],\n    Fantasia: items[0].json[\"nome_fantasia\"],\n    RazaoSocial: items[0].json[\"razao_social\"],\n    Juridico: items[0].json[\"pessoa_fisica\"] === \"S\" ?  \"N\" : \"S\",\n    Fornecedor: \"N\",\n    Matriz: \"N\",\n    Telefone: items[0].json[\"telefone1_ddd\"] + items[0].json[\"telefone1_numero\"],\n    Email: items[0].json[\"email\"],\n    Observacoes: items[0].json[\"observacao\"],\n    Idioma: \"pt_br\",\n    IdiomaAlterar: \"S\",\n    DominiosPermitidos: [],\n    Cep: items[0].json[\"cep\"],\n    Endereco: items[0].json[\"endereco\"],\n    Numero: items[0].json[\"endereco_numero\"],\n    Complemento: items[0].json[\"complemento\"],\n    Bairro: items[0].json[\"bairro\"],\n    Cidade: items[0].json[\"cidade\"],\n    Uf: items[0].json[\"estado\"],\n    EnviaEmail: \"S\",\n    PsAtivo: \"S\",\n    AbChamadoEmsil: \"S\",\n    IntChamadoEmail: \"S\",\n    AberturaPortal: \"S\",\n    InteracaoPortal: \"S\",\n    ObservadorIntEmail: \"S\",\n    AbChatAtivo: \"N\",\n    Avulso: \"N\",\n    Bloquear: \"N\",\n    ObsBloquear: \"\",\n    OAssuntoAtivo: \"S\",\n    AAssuntoAtivo: \"S\",\n    ArvoreBloco: \"S\",\n    GerarToken: \"N\",\n    MapaAtendimento: \"N\",\n    ReabreAtivo: \"S\",\n    ReabreDias: \"0\",\n    FormaAtendimento: \"\",\n    Causa: \"\",\n    AdAtivo: \"N\",\n    ServerAd: \"\",\n    DominioAd: \"\",\n    TipoSuporte: [],\n    SmtpGrupo: \"\",\n    HorasMes: \"\",\n    ChamadosMes: \"\",\n    MostraHoraChamado: \"\",\n    AlertaEmailOp: [],\n    AlertaEmailUsu: [],\n    AlertaChEmailFim: \"N\",\n    AlertaSmsOp: [],\n    AlertaSmsUsu: [],\n    AlertaChSmsFim: \"N\",\n    TocorrenciaAtivo: \"N\",\n    ImpactoAtivo: \"N\",\n    UrgenciaAtivo: \"N\",\n    PrioridadeAtivo: \"N\",\n    CategoriaAtivo: \"N\",\n    TipoAtivo: \"N\",\n    AnexoAtivo: \"S\",\n    IcsAtivo: \"N\",\n    GrupoAtivo: \"N\",\n    Aprovacao: \"N\",\n    PorGerente: \"N\",\n    PorAdministrador: \"N\",\n    PorUsuario: [],\n    MinAprovacaoAtivo: \"N\",\n    MinAprovacao: 0,\n    EnviaEmailAprovReprov: [],\n    OperadorPadrao: \"\",\n    AprovCodStatus: \"\",\n    FinalizaAuto: \"N\",\n    TBloqueioIp: [],\n    ServiceDesk: \"S\",\n    AtivoLogo: \"S\"\n  },\n  TCatalogos: [],\n  TBloqueioIp: [],\n  TCampoExtraGeral: {},\n  TCampoExtraVisualiza: {}\n}\n\nconst separateName = (fullName) => {\n    // Remove espaços extras e divide o nome completo por espaços\n    const parts = fullName.trim().split(\" \");\n    if (parts.length === 1) {\n        // Caso haja apenas uma parte, não há sobrenome\n        return {\n            name: parts[0],\n            lastName: \"\"\n        };\n    }\n    // O primeiro elemento é o nome\n    const name = parts[0];\n    // Junta o restante das partes como sobrenome\n    const lastName = parts.slice(1).join(\" \");\n\n    return {\n        name,\n        lastName\n    };\n}\n\n\nif (items[0].json[\"pessoa_fisica\"] === \"S\"){\n  const fullName = separateName(items[0].json[\"contato\"])\n  formattedJSON[\"TCliente\"][\"Nome\"] = fullName.name\n  formattedJSON[\"TCliente\"][\"Sobrenome\"] = fullName.lastName\n  formattedJSON[\"TCliente\"][\"Cpf\"] = items[0].json[\"cnpj_cpf\"]\n} else {\n  formattedJSON[\"TCliente\"][\"Cnpj\"] = items[0].json[\"cnpj_cpf\"]\n  formattedJSON[\"TCliente\"][\"Contato\"] = items[0].json[\"contato\"]\n}\n\nreturn formattedJSON"},"id":"619f6307-e32c-45af-b5e4-878d0d2c7685","name":"Format Data Desk","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,340]},{"parameters":{"jsCode":"let formattedJSON = {\n  company_name: items[0].json[\"razao_social\"],\n  fantasy_name: items[0].json[\"nome_fantasia\"],\n  address: items[0].json[\"endereco\"],\n  number: items[0].json[\"endereco_numero\"],\n  neighborhood: items[0].json[\"bairro\"],\n  zip_code: items[0].json[\"cep\"],\n  city: items[0].json[\"cidade\"],\n  state: items[0].json[\"estado\"],\n  enabled: 1,\n  blocked: 0\n}\n\nif(items[0].json[\"cnpj_cpf\"].length === 14){\n  formattedJSON.cpf = items[0].json[\"cnpj_cpf\"]\n} else {\n  formattedJSON.cnpj = items[0].json[\"cnpj_cpf\"]\n}\n\nif(items[0].json[\"complemento\"]){\n  formattedJSON.complement = items[0].json[\"complemento\"]\n}\n\nif(items[0].json[\"contato\"]){\n  formattedJSON.contact = items[0].json[\"contato\"]\n}\n\nif(items[0].json[\"email\"]){\n  formattedJSON.email = items[0].json[\"email\"]\n}\n\nif(items[0].json[\"homepage\"]){\n  formattedJSON.site = items[0].json[\"homepage\"]\n}\n\nif(items[0].json[\"observacao\"]){\n  formattedJSON.obs = items[0].json[\"observacao\"]\n}\n\nif(items[0].json[\"telefone1_ddd\"] && items[0].json[\"telefone1_numero\"]){\n  formattedJSON.phone_1 = items[0].json[\"telefone1_ddd\"] + items[0].json[\"telefone1_numero\"]\n}\n\nif(items[0].json[\"telefone2_ddd\"] && items[0].json[\"telefone2_numero\"]){\n  formattedJSON.phone_2 = items[0].json[\"telefone2_ddd\"] + items[0].json[\"telefone2_numero\"]\n}\n\nif(items[0].json[\"telefone3_ddd\"] && items[0].json[\"telefone3_numero\"]){\n  formattedJSON.phone_3 = items[0].json[\"telefone3_ddd\"] + items[0].json[\"telefone3_numero\"]\n}\n\n\nreturn formattedJSON"},"id":"c5b14d01-d870-4416-9b6c-13678fad01e4","name":"Format Data BD","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,560]},{"parameters":{},"id":"b104dbdf-26b8-4b12-b75c-8507a20356d6","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[880,320]},{"parameters":{"jsCode":"\nasync function saveClientDesk() {\n  const response = await this.helpers.httpRequest({\n    url: \"https://api.desk.ms/Clientes\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": items[0].json[\"data\"],\n      \"Content-Type\": \"application/json\",\n    },\n    body: {\n      ...items[1].json\n    }\n  });\n\n  console.log(response)\n\n  return [{ data: response }];\n}\n\nreturn saveClientDesk()"},"id":"3b3868c5-d60b-4e05-9177-545dbfc87f0f","name":"Save Client Desk","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,320]}],"connections":{"IDENTIFICAR CLIENTE OMIE":{"main":[[{"node":"Gerar Boleto","type":"main","index":0}]]},"Code":{"main":[[{"node":"IDENTIFICAR CLIENTE OMIE","type":"main","index":0}]]},"Gerar Boleto":{"main":[[{"node":"Enviar Template","type":"main","index":0}]]},"Enviar Template":{"main":[[{"node":"IF","type":"main","index":0}]]},"EVENTO COBRANCA GERADA":{"main":[[{"node":"Code","type":"main","index":0}]]},"Save Client BD":{"main":[[{"node":"If1","type":"main","index":0}]]},"Authentication Desk":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Format Data Desk","type":"main","index":0},{"node":"Format Data BD","type":"main","index":0}]]},"Format Data Desk":{"main":[[{"node":"Authentication Desk","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Format Data BD":{"main":[[{"node":"Save Client BD","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Format Data","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Save Client Desk","type":"main","index":0}]]},"Save Client Desk":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3a96f3dd-a8c2-4b1d-85b2-a16c97180b04","triggerCount":0,"shared":[],"tags":[]}