9kQuhc4SKrQx6oe6.json
{"createdAt":"2025-10-22T00:26:40.825Z","updatedAt":"2025-10-22T00:26:40.825Z","id":"9kQuhc4SKrQx6oe6","name":"SystemWay - Salvar Contatos","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1264,176],"id":"b406f20f-3daf-44d8-8aa8-57c1c9a538fd","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01EXHUDS2UWQLU6YT2N5FK6X2R352SBZ72","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{860CE26A-8EB1-4140-BFFB-6E4F082F6828}","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=contatos%20faltantes%20colenci!A1"},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1056,176],"id":"8c5d8417-8cc4-4c4e-b555-8d46aec0216d","name":"Microsoft Excel 365","credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68000dbcd61e503677e0fcfd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nickName\": \"{{ $json.apelido }}\",\n  \"number\": \"{{ $json.numero }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,176],"id":"6a3900e5-9718-4228-b959-5d408e98d01d","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"url":"https://api.stw.chat/core/v2/api/tags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68000dbcd61e503677e0fcfd"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-832,432],"id":"8637a65f-986c-4baf-a37d-7fa3b60b69c6","name":"HTTP Request1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,176],"id":"7acbb554-6ef0-44ba-bc6d-31fa76c8b738","name":"Loop Over Items"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01EXHUDS2UWQLU6YT2N5FK6X2R352SBZ72","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{860CE26A-8EB1-4140-BFFB-6E4F082F6828}","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=contatos%20faltantes%20colenci!A1"},"columnToMatchOn":"numero","valueToMatchOn":"={{ $('Loop Over Items').item.json.numero }}","fieldsUi":{"values":[{"column":"status","fieldValue":"Sucesso"}]},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[112,-32],"id":"09cdb471-ebda-4396-9ec6-2f85e34eec1c","name":"Microsoft Excel 3651","credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be20e9c-127d-4c57-a097-4231d5272d32","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,176],"id":"f682959f-e783-4d24-8f1d-a003342b4638","name":"Is Invalid Number?"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[304,-32],"id":"ecc73910-e628-470b-98ce-ce1887db006d","name":"Wait","webhookId":"f1718731-bac1-4723-b79d-282436462ad8"},{"parameters":{"assignments":{"assignments":[{"id":"cc3ef584-7341-4276-8541-9770505af3e4","name":"error.number","value":"={{ $json.error.message.trim().match(/(\\d{11,15})/)[1] }}\n","type":"string"},{"id":"f89a9e57-e8e7-4d74-9ead-a4f09deca87f","name":"error.message","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,320],"id":"c74d514b-19ba-4f1e-a3a4-88bc4bf844e6","name":"Set Error1"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01EXHUDS2UWQLU6YT2N5FK6X2R352SBZ72","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{860CE26A-8EB1-4140-BFFB-6E4F082F6828}","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=contatos%20faltantes%20colenci!A1"},"columnToMatchOn":"numero","valueToMatchOn":"={{ $('Loop Over Items').item.json.numero }}","fieldsUi":{"values":[{"column":"status","fieldValue":"={{ $json.error.message }}"}]},"options":{}},"id":"cbf769fd-5a33-4c83-8b0a-604d4aa9bebe","name":"Error","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[272,320],"credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}},"onError":"continueErrorOutput"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,368],"id":"c27e5a7a-b2ee-451e-a3dc-bc2201e5b3b6","name":"Wait3","webhookId":"1b7b61fa-5fa9-47b8-886c-74432201900d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7297480d-f111-4d23-8a97-866974e3d0c6","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,176],"id":"650c60fb-675c-4599-ab5b-f2939f4ea64b","name":"If"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Microsoft Excel 365":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Is Invalid Number?","type":"main","index":0}]]},"Is Invalid Number?":{"main":[[{"node":"Microsoft Excel 3651","type":"main","index":0}],[{"node":"Set Error1","type":"main","index":0}]]},"Microsoft Excel 3651":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Microsoft Excel 3651","type":"main","index":0}]]},"Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Error","type":"main","index":0}]]},"Set Error1":{"main":[[{"node":"Error","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9049620b-bc1a-4cce-8c02-17b6b45e4fd2","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:26:40.825Z","updatedAt":"2025-10-22T00:26:40.825Z","role":"workflow:owner","workflowId":"9kQuhc4SKrQx6oe6","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}