A24CDi1ePDJYu2io.json
{"createdAt":"2025-10-22T00:27:05.007Z","updatedAt":"2025-10-23T12:53:27.629Z","id":"A24CDi1ePDJYu2io","name":"Regional Agendamentos - Atualizacao DB","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1088,112],"id":"05af09e0-c53c-4d82-80c2-83afb522c5cc","name":"Microsoft Excel 365","credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}}},{"parameters":{"operation":"executeQuery","query":"select * from Automacao\nwhere sinistro = '{{ $json['Número Sinistro'] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-448,112],"id":"c7221617-8425-4aff-8580-ffb580210c9b","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"3CFk9mGhcx9VEn1v","name":"MySQL Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cfdd18c7-75d7-46c8-a50b-b929a25d7ce5","leftValue":"={{ $json[\"Nome Cliente\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,112],"id":"cc268c04-8693-4950-8fbf-9f6f88860bb8","name":"If"},{"parameters":{"operation":"executeQuery","query":"update Automacao \nset template_enviado = '{{ $('loop').first().json['Temp Enviado'] }}', data_hora_criado = '{{ $('loop').first().json['Hora Criado'] }}', data_hora_agendado = '{{ $('loop').first().json.Agendado }}', error_envio = '{{ $('loop').first().json['Erro no envio'].replace(/'/g, \"\\\\'\") }}', interagiu_msg = '{{ $('loop').first().json['Interagiu na msg'] }}', data_envio = '{{ new Date((Number($('loop').first().json[\"ENVIO MSG\"]) - 25569) * 86400 * 1000).toLocaleDateString(\"pt-BR\") }}'\n  where sinistro = '{{ $('loop').first().json[\"Número Sinistro\"] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[0,240],"id":"edc988fc-8950-4584-b517-4157e94342e4","name":"MySQL2","alwaysOutputData":true,"credentials":{"mySql":{"id":"3CFk9mGhcx9VEn1v","name":"MySQL Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f2273ab-78d0-4018-bb6b-8f3e358696ff","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,112],"id":"eea2564b-608c-463c-90e0-6f025079e308","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-656,112],"id":"54b21865-fd59-4aee-a9aa-96d439741774","name":"loop"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7},{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1280,112],"id":"5adf9aa7-fe34-4c56-bc73-ad02d984a7b8","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1280,304],"id":"10833aa7-e0f5-4cb9-be05-d33e7f1a549a","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - Regional","bodyContent":"=Workflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1088,304],"id":"aa24ffe6-898c-4025-adc2-09b1ce1a8827","name":"Microsoft Outlook","webhookId":"6f781cf6-c109-4424-a5f7-58ad08b54701","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"operation":"executeQuery","query":"insert into Automacao (sinistro, nome, produto, telefone, template_enviado, data_hora_criado, data_hora_agendado, error_envio, interagiu_msg, data_envio)\nVALUES ('{{ $('loop').first().json[\"Número Sinistro\"].toString() }}', '{{ $('loop').first().json[\"Nome Cliente\"].replace(/'/g, \"\\\\'\") }}', '{{ $('loop').first().json.Produto.replace(/'/g, \"\\\\'\") }}', '{{ $('loop').first().json.Telefone.toString() }}', '{{ $('loop').first().json[\"Temp Enviado\"] }}', '{{ $('loop').first().json[\"Hora Criado\"] }}', '{{ $('loop').first().json.Agendado }}', LEFT('{{ $('loop').first().json[\"Erro no envio\"].replace(/'/g, \"\\\\'\") }}', 250), '{{ $('loop').first().json[\"Interagiu na msg\"] }}', '{{ new Date((Number($('loop').first().json['ENVIO MSG']) - 25569) * 86400 * 1000).toLocaleDateString(\"pt-BR\") }}'\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[0,0],"id":"61c96cc6-bc33-4be7-8a73-355ced9729d6","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"3CFk9mGhcx9VEn1v","name":"MySQL Regional"}}}],"connections":{"Microsoft Excel 365":{"main":[[{"node":"If","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[],[{"node":"loop","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"loop","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"MySQL2","type":"main","index":0}]]},"loop":{"main":[[],[{"node":"MySQL","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-22T09:43:15.453-03:00","Readable date":"August 22nd 2025, 9:43:15 am","Readable time":"9:43:15 am","Day of week":"Friday","Year":"2025","Month":"August","Day of month":"22","Hour":"09","Minute":"43","Second":"15","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"4bde7e28-a1b8-44d7-871a-868cd0783f79","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:27:05.007Z","updatedAt":"2025-10-22T00:27:05.007Z","role":"workflow:owner","workflowId":"A24CDi1ePDJYu2io","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}