cH3cfwVZ03618egA.json
{"createdAt":"2025-10-22T00:24:58.691Z","updatedAt":"2025-10-23T18:29:38.158Z","id":"cH3cfwVZ03618egA","name":"Agente STW - MessageQueue","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,160],"id":"a8c7d6c7-2941-4f10-8d6d-462500518a55","name":"Payload"},{"parameters":{"operation":"push","list":"={{ $json.payload.from }}_messages","messageData":"={{ JSON.stringify($json.payload.msg) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-576,160],"id":"d06f31f0-86ad-41a1-97f3-223e3b368bda","name":"AddToQueue","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"5514974009711_messages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-800,576],"id":"5867fba9-31e5-4cfe-a882-d7d430ce1531","name":"Redis","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $node['Payload'].json.payload.from }}_messages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-352,160],"id":"4af61cdf-bbaf-4313-bfd7-72a7531e84b0","name":"Redis1","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.messages.first()).id }}","rightValue":"={{ $node['Payload'].json.payload.msg.id }}","operator":{"type":"string","operation":"notEquals"},"id":"3055d953-836a-40b2-8208-c35043bfdbbf"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be59748-2e8b-4af9-a22b-14b823ff9a99","leftValue":"={{ JSON.parse($json.messages.last()).date }}","rightValue":"={{ $now.minus(15, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-128,144],"id":"b4441dc0-db56-4253-bde0-466d5b79b441","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[96,352],"id":"a6351bb7-3632-4f4b-8ee3-c506bc66ac97","name":"Wait","webhookId":"83a78144-d9e2-48f8-8ffe-04e90015f254"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"307adc79-b8cb-4cbf-8d52-9681061811c2","leftValue":"={{ $json.messages }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"ee979559-027a-4cd4-8abb-e64bd71f125e","leftValue":"={{ $json.messages }}","rightValue":1,"operator":{"type":"array","operation":"lengthLte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-32],"id":"6da3f7df-a398-4e66-9abb-33a13f6cfe4a","name":"KeepWaiting"},{"parameters":{"operation":"delete","key":"={{ $node['Payload'].json.payload.from }}_messages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[96,160],"id":"86da282c-05fb-4054-a91c-d2ca3b8b40a6","name":"CleanUp","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"04659102-e7e2-457f-97a5-fe7d633c6c7a","name":"message","value":"={{ $json.messages.map(item => JSON.parse(item).content).join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,160],"id":"ba589520-246d-44d6-90c7-08a509d9d641","name":"Output"}],"connections":{"Payload":{"main":[[{"node":"AddToQueue","type":"main","index":0}]]},"AddToQueue":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"KeepWaiting","type":"main","index":0}],[{"node":"CleanUp","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"CleanUp":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"from":"5514974009711","msg":{"chatId":"68c30f88746de04f801d4e81","id":"68c30ffc9c3b0858ac5e5e39","date":"2025-09-12T12:35:24.375-03:00","content":"Preciso falar no suporte"},"userInfo":{"id":2,"whatsapp":"5514974009711","name":null,"notes":null,"qualify":null,"created_at":"2025-09-11T12:13:42.554101"}}}}]},"versionId":"45798547-90e2-4647-a983-a7e0377cce5f","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:24:58.691Z","updatedAt":"2025-10-22T00:24:58.691Z","role":"workflow:owner","workflowId":"cH3cfwVZ03618egA","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}