cOogDPtQZ7nmce1v.json
{"createdAt":"2025-10-22T00:19:24.006Z","updatedAt":"2025-10-22T00:19:24.006Z","id":"cOogDPtQZ7nmce1v","name":"Prototipo Comercial","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","propertyName":"list_array","key":"=chat:{{ $('VARS').item.json.data.number }}","keyType":"list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1536,304],"id":"4d7e009f-effb-4c1c-bcc9-be0ff8d78aeb","name":"Get","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=chat:{{ $('VARS').item.json.data.number }}","messageData":"={{ JSON.stringify($json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1088,304],"id":"98fc886f-9b2b-4f26-a60d-d6d1e4bc2257","name":"Push","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"feaeaaf1-4e83-4042-b729-6ce09719ba7e","name":"data.chatId","value":"={{ $json.body.data.chatId }}","type":"string"},{"id":"5b8b596d-0f32-4e4f-a4cd-dfdc17c70584","name":"data.name","value":"={{ $json.body.data.name }}","type":"string"},{"id":"3b00a701-d1a2-4a2c-8728-8fd72f92469c","name":"data.number","value":"={{ $json.body.data.number }}","type":"string"},{"id":"b43976d6-0d6d-4981-b937-60d355b224ef","name":"data.text","value":"={{ $json.body.data.text }}","type":"string"},{"id":"68805575-9b34-4cf0-85bf-719b9f91a364","name":"data.type","value":"={{ $json.body.data.type }}","type":"string"},{"id":"f2536bbd-0358-4de9-b203-0aee5f098be6","name":"data.audio","value":"={{ $json.body.data.audio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,304],"id":"673c3a54-be57-40af-a6a9-6da3b47904bb","name":"VARS"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,304],"id":"8cd2aa13-42c0-4dd8-8585-10552f82fd82","name":"Wait1","webhookId":"86ca040e-35ef-4333-a8eb-aa6c36cbaa1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9616cfb-f576-4767-aa46-f17766876425","leftValue":"={{ JSON.parse($json.list_array.last()).text }}","rightValue":"={{ $('VARS').item.json.data.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,304],"id":"b0176807-5919-4605-8016-283f3de6339c","name":"If"},{"parameters":{"operation":"delete","key":"=chat:{{ $('VARS').item.json.data.number }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1984,304],"id":"fcef075c-42bf-4a6f-80e9-449d0c7af2d8","name":"delete2","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.message.audio","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[416,400],"id":"60419c1a-8806-45a2-931d-4d6c17f01eaa","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,400],"id":"2b963253-775a-4087-a435-bfd650a095c9","name":"OpenAI","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.type }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"a39a1369-60f9-4980-83b5-8ba66c2be7c9"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fdae08-1229-4043-a0fc-6f73d991f2cd","leftValue":"={{ $json.data.type }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[192,304],"id":"94847b04-74aa-4bd5-885d-3db999e0f50c","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,400],"id":"8686789d-0162-41ae-adb8-5c0b1a4a9907","name":"audio-text"},{"parameters":{"assignments":{"assignments":[{"id":"7569ac93-3a1c-4572-8b28-09d92b47ad91","name":"msg","value":"={{ $json.list_array.map(item => JSON.parse(item).text).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,304],"id":"b0d79b84-5d52-4fc2-88da-996d95c3e403","name":"context1"},{"parameters":{"assignments":{"assignments":[{"id":"d6d61980-2d21-4b46-b1a2-bb0f31e6a140","name":"message.text","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,208],"id":"85335f6c-7895-4c12-897f-ac5d2a35b55a","name":"text"},{"parameters":{"httpMethod":"POST","path":"10b0d4f0-5ad9-4117-b2f4-afad1229b0b0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-256,304],"id":"23821615-1299-4e10-9185-6b87c8605770","name":"Webhook","webhookId":"10b0d4f0-5ad9-4117-b2f4-afad1229b0b0"},{"parameters":{"promptType":"define","text":"=Mensagem: {{ $json.msg }}","options":{"systemMessage":"=Prompt Avançado para Agente Virtual Systemway\nVocê é um agente virtual responsável pelo atendimento ao cliente da Systemway.\nSeu objetivo é tirar dúvidas sobre os serviços da empresa usando contexto inteligente, agendar reuniões, transferir o cliente para o setor adequado, se necessário, encerrar o atendimento cordialmente quando apropriado.\n\n## Ferramentas disponíveis:\n- Postgres PGVector Store2 (com Embeddings/Reranker): consultar e fornecer informações detalhadas sobre serviços Systemway e FAQs usando inteligência contextual.\n- Outlook: para criar e gerenciar agendamentos de reuniões.\n- Transferir: direcionar o atendimento para o setor Suporte ou outro setor específico.\n- Encerrar: finalizar o atendimento de forma educada, quando apropriado.\n\nFluxo de Atendimento\n1. Saudação\n- Cumprimente o cliente, apresente-se como agente virtual Systemway e pergunte como pode ajudar.\n\n2. Entendimento da Demanda\n- Se o cliente perguntar sobre serviços, consulte o PGVector Store2/Embeddings para responder de forma detalhada.\n- Se pedir agendamento, colete nome e preferência de data/horário; agende via Outlook e confirme os detalhes.\n- Se solicitar transferência, demonstrar confusão ou não souber o que precisa, utilize a ferramenta Transferir para o setor adequado.\n- Ao encerrar qualquer atendimento (ex: dúvida sanada ou reunião marcada), utilize a ferramenta Encerrar para finalizar o contato cordialmente.\n- Caso não haja mais dúvidas, sempre ofereça a transferência para um setor especializado, se achar necessário.\n\n3. Transferência de Setor\nTransfira somente se:\n- Cliente pedir explicitamente,\n- Estiver confuso/perdido,\n- A conversa tiver terminado, mas ele precisar de atendimento especializado.\nAvise o cliente antes da transferência, dizendo para qual setor ele será direcionado.\n\n4. Encerramento\n- Após transferir ou solucionar a demanda, agradeça o contato e finalize usando a ferramenta Encerrar.\n\n\nRegras de ouro\n- Nunca transfira para um humano genérico; apenas para setores específicos usando a ferramenta correta.\n- Nunca invente respostas; sempre consulte as ferramentas antes de responder.\n- Seja cordial, objetivo e profissional em todo momento.\n- Respeite a privacidade dos dados dos clientes.\n- Dê respostas resumidas, mas claras.\n\nContexto:\nData de hoje: {{ $now }}\nChatId: {{ $('VARS').first().json.data.chatId }}\nNome do Cliente: {{ $('VARS').item.json.data.name }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2688,304],"id":"6606241b-69ae-4ee9-bbfe-2f1c7f521066","name":"AI Agent"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[416,736],"id":"52057938-91ab-4944-b019-229ae1483a81","name":"Supabase Vector Store1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[416,960],"id":"01b4ae90-62f9-4878-80e3-09b77204a6c4","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,1280],"id":"c9513a2b-1ad3-41f5-98ac-9cdd77f56727","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":"01EXHUDS6TCNVOWHDSQFDLAEI36LJSAP2R"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-256,848],"id":"2ca39940-d64d-460f-95ae-e843a721b904","name":"Microsoft OneDrive","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"jsCode":"const inputText = $input.first().json.data;\n\n// Split each service section by regex, keeping the title in the section\nconst serviceSections = inputText.split(/(?=\\d+\\.\\s*STW [A-Z0-9]+)/);\n\n// Remove any empty or non-service elements\nconst cleanedSections = serviceSections.filter(section =>\n  section.trim().match(/^\\d+\\.\\s*STW [A-Z0-9]+/)\n);\n\n// Return each as a new item, extracting the service name as extra info if you want\nconst outputItems = cleanedSections.map(section => {\n  const serviceMatch = section.match(/^\\d+\\.\\s*(STW [A-Z0-9]+)/);\n  const serviceName = serviceMatch ? serviceMatch[1] : 'Unknown Service';\n\n  return {\n    json: {\n      serviceName,\n      fulltext: section.trim()\n    }\n  };\n});\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,848],"id":"d2057541-c0a7-4601-acfc-b9e36031e570","name":"Code"},{"parameters":{"operation":"search","query":"RAG"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-256,-128],"id":"3edf097c-b3a7-4849-b738-47fe49ac5b2c","name":"Microsoft OneDrive1","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Code').item.json.fulltext }}","options":{"metadata":{"metadataValues":[{"name":"=serviceName","value":"={{ $('Code').item.json.serviceName }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[544,960],"id":"d990d90c-7e70-4dc4-b427-a4366f8008d2","name":"Default Data Loader"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-32,848],"id":"b8475947-2353-41e5-a797-d8f906ff4465","name":"Extract from File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2960,736],"id":"83bb13dc-d3e6-4a7d-beea-8de217bf0698","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[3088,736],"id":"d87eec16-3cb3-4df4-bbec-6b9c86052a1a","name":"Reranker Cohere1","credentials":{"cohereApi":{"id":"5ekKUDlPzH7UfYSe","name":"CohereApi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_{{ $('VARS').item.json.data.number }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2560,528],"id":"f5d1c29a-8764-47c3-aa46-6f31c631b417","name":"Chat Memory","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2432,528],"id":"36f740e0-9fbb-4beb-9acd-50407d78ec35","name":"OpenAI1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"resource":"event","operation":"create","calendarId":{"__rl":true,"value":"AQMkAGUxZDUzMwA4ZS0xNmMxLTQ4NzQtYTA2ZC0xODdkYWM1MTc0N2MARgAAA52g0guWxB1Or0d8WnGzwPsHAB_vSSxhcRlEj1BEQ2DSA6oAAAIBBgAAAB_vSSxhcRlEj1BEQ2DSA6oAAAKCgwAAAA==","mode":"list","cachedResultName":"Calendário"},"subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Será o nome da pessoa`, 'string') }}","startDateTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Será a data e horário de inicio da reunião nesse formato (2025-06-12 12:23:37).`, 'string') }}","endDateTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Será a data de horário e encerramento da reunião nesse formato (2025-06-12 12:23:37).`, 'string') }}","additionalFields":{"body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","timeZone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[2688,528],"id":"9362a153-048f-4aa0-94f9-44c7084b3c7a","name":"Outlook","webhookId":"aa9aa080-2dd7-440a-84e4-93a2eead4f22","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"toolDescription":"- Transferir: direcionar o atendimento para o setor Suporte ou outro setor específico.","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Deve pegar o id do chat e colocar na url: https://api.stw.chat/core/v2/api/chats/{id}/transfer\n\nExemplo:\nhttps://api.stw.chat/core/v2/api/chats/687a3e52482b1f71161caeac/transfer\n\nNão acrescente mais nada na url, somente igual ao exemplo acima`, 'string') }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"6629387fe26118c7bb7daa0d"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2816,528],"id":"1b9fb885-416c-4e31-8e15-c83e2ead048e","name":"Transferir"},{"parameters":{"mode":"insert","tableName":"documents","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[640,1280],"id":"26c41a15-936a-4045-919b-6c56a73addb6","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"operation":"download","fileId":"01EXHUDS6TCNVOWHDSQFDLAEI36LJSAP2R"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-32,1280],"id":"f10c277b-3e21-4e42-a7b4-df04c0e15d00","name":"Microsoft OneDrive2","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"jsCode":"// n8n Code Node - Split SystemWay Services\n// Recebe como entrada um campo \"data\" com o texto completo dos serviços e retorna um item para cada serviço\n\nconst inputText = $input.first().json.data;\n\n// Split each service section by regex, keeping the title in the section\nconst serviceSections = inputText.split(/(?=\\d+\\.\\s*STW [A-Z0-9]+)/);\n\n// Remove any empty or non-service elements\nconst cleanedSections = serviceSections.filter(section =>\n  section.trim().match(/^\\d+\\.\\s*STW [A-Z0-9]+/)\n);\n\n// Return each as a new item, extracting the service name as extra info if you want\nconst outputItems = cleanedSections.map(section => {\n  const serviceMatch = section.match(/^\\d+\\.\\s*(STW [A-Z0-9]+)/);\n  const serviceName = serviceMatch ? serviceMatch[1] : 'Unknown Service';\n\n  return {\n    json: {\n      serviceName,\n      fulltext: section.trim()\n    }\n  };\n});\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,1280],"id":"f6f48b08-44b8-47da-b14b-a0f48a1c98ee","name":"Code1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[192,1280],"id":"06699635-b485-46ab-9518-e61dcf169b7a","name":"Extract from File1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[640,1504],"id":"f24b665a-3ddd-489a-b9d5-e267652fb824","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Code1').item.json.fulltext }}","options":{"metadata":{"metadataValues":[{"name":"serviceName","value":"={{ $('Code1').item.json.serviceName }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[768,1504],"id":"df2be529-9e8f-4398-b69f-335ce8084ba1","name":"Default Data Loader1"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use essa tool para tirar duvidas do cliente","tableName":"documents","topK":20,"useReranker":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2944,528],"id":"9422e692-2b34-4443-b878-c37835a81ab8","name":"Postgres PGVector Store2","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"toolDescription":"- Encerrar: finalizar o atendimento de forma educada, quando apropriado.","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Deve pegar o chatId e colocar na url: https://api.stw.chat/core/v2/api/chats/{id}/finalize\n\nExemplo:\nhttps://api.stw.chat/core/v2/api/chats/687a3e52482b1f71161caeac/finalize\n\nNão acrescente mais nada na url, siga o exemplo`, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3232,528],"id":"cafad862-2fcc-436b-83e7-c9a49d47e737","name":"Encerrar"},{"parameters":{"resource":"folder","operation":"search","query":"BACKUP"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-32,1712],"id":"3aa792a3-ce50-471a-971b-ff2ec509b67e","name":"Search a folder","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}}],"connections":{"Get":{"main":[[{"node":"If","type":"main","index":0}]]},"Push":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"VARS":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get","type":"main","index":0}]]},"If":{"main":[[{"node":"delete2","type":"main","index":0}]]},"delete2":{"main":[[{"node":"context1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"audio-text","type":"main","index":0}]]},"Switch":{"main":[[{"node":"text","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"audio-text":{"main":[[{"node":"Push","type":"main","index":0}]]},"text":{"main":[[{"node":"Push","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"VARS","type":"main","index":0}]]},"context1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Microsoft OneDrive2","type":"main","index":0}]]},"Microsoft OneDrive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Code":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Postgres PGVector Store2","type":"ai_embedding","index":0}]]},"Reranker Cohere1":{"ai_reranker":[[{"node":"Postgres PGVector Store2","type":"ai_reranker","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Outlook":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Transferir":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Microsoft OneDrive2":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Postgres PGVector Store2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Encerrar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"334","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"157.90.254.255","cf-ipcountry":"DE","cf-ray":"9612b3c48c01d3a4-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"48776092-ebed-43b6-8fda-90f9a8338a85","content-type":"application/json","x-forwarded-for":"157.90.254.255","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"type":"MESSAGE_RECEIVE","typeLog":"MSG","data":{"chatId":"687a3e52482b1f71161caeac","userId":"66cf854a8d45e52a01cf1144","name":"Vinicius Marotti","number":"5514974009711","text":"Queria saber melhor como funciona o serviço de firewall de vocês","type":"0","chatDateStart":"18/07/2025 09:30:10","audio":"@chat.mensagem.midia.url"}},"webhookUrl":"https://n8n.systemway.com.vc/webhook/10b0d4f0-5ad9-4117-b2f4-afad1229b0b0","executionMode":"production"}}]},"versionId":"793b1fde-e3e4-41cd-be37-e4f1cb6e9072","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:19:24.006Z","updatedAt":"2025-10-22T00:19:24.006Z","role":"workflow:owner","workflowId":"cOogDPtQZ7nmce1v","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}