CRDbFU3QQ5kqg2Zk.json
{"createdAt":"2025-10-22T00:28:21.270Z","updatedAt":"2025-10-22T00:28:21.270Z","id":"CRDbFU3QQ5kqg2Zk","name":"Agente STW - ParseMessage","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-688,112],"id":"8911ba9b-866e-4078-b673-f417afbd4719","name":"Payload"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.payload.messageType }}","rightValue":0,"operator":{"type":"number","operation":"equals"},"id":"3ab9841c-20de-4e33-b23b-e0e5c4f37a8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b7e2d4e-b5a5-4bc8-aad0-395daef16e50","leftValue":"={{ $json.payload.messageType }}","rightValue":"={{ 1 || 2 }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8a7c402-dcb7-4501-ad53-e7f27b24dd88","leftValue":"={{ $json.payload.messageType }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-464,96],"id":"ab7566f5-5e99-47c7-9687-873cc3e27bb4","name":"MessageType"},{"parameters":{"assignments":{"assignments":[{"id":"7f48912a-3302-483e-a1b4-73ea5aadc646","name":"content","value":"={{ $json.payload.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-80],"id":"045ce8f3-9eaf-4415-9c6d-458d671823ed","name":"MessageText"},{"parameters":{"jsCode":"for (const item of items) {\n  if (!item.binary || !item.binary.data) continue;\n  const b = item.binary.data;\n  const original = b.fileName || 'audio.opus';\n  b.fileName = original.replace(/\\.opus$/i, '.ogg');\n  b.mimeType = 'audio/ogg';\n}\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,112],"id":"0f37cf96-5bf8-459d-8b16-4f5619f42fcd","name":"Code"},{"parameters":{"url":"={{ $json.payload.mediaLink }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,112],"id":"8b9bc718-5640-48f1-834b-78a2f73720c4","name":"ConvertToFile"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[208,112],"id":"7fb27241-994f-4f96-9996-e3cfd0888b3c","name":"TranscribeAudio"},{"parameters":{"assignments":{"assignments":[{"id":"835b5498-529a-4c90-9e8d-2b741ac7c9ad","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,112],"id":"4ccc2627-d34b-4522-bb51-487ca24f070b","name":"AudioToContent"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva o que tem na imagem para auxiliar um agente de IA que irá utilizar sua descrição","imageUrls":"={{ $json.payload.mediaLink }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-240,304],"id":"9e05844a-f040-4dcb-b569-333d46117444","name":"TranscribeAudio1"},{"parameters":{"assignments":{"assignments":[{"id":"835b5498-529a-4c90-9e8d-2b741ac7c9ad","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,304],"id":"671c3ab1-94cb-4a2b-81ec-2f1e5f4c8327","name":"ImageToContent"}],"connections":{"Payload":{"main":[[{"node":"MessageType","type":"main","index":0}]]},"MessageType":{"main":[[{"node":"MessageText","type":"main","index":0}],[{"node":"ConvertToFile","type":"main","index":0}],[{"node":"TranscribeAudio1","type":"main","index":0}]]},"Code":{"main":[[{"node":"TranscribeAudio","type":"main","index":0}]]},"ConvertToFile":{"main":[[{"node":"Code","type":"main","index":0}]]},"TranscribeAudio":{"main":[[{"node":"AudioToContent","type":"main","index":0}]]},"TranscribeAudio1":{"main":[[{"node":"ImageToContent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"messageType":3,"text":null,"mediaLink":"https://axy7gbdyolcg.compat.objectstorage.eu-frankfurt-1.oraclecloud.com/media01/public/system/661705879d62eb234c71882b/chat/1423622018696803.jpg"}}}]},"versionId":"b59d9056-3a3a-4f8d-905c-a3fdb44a16da","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:28:21.270Z","updatedAt":"2025-10-22T00:28:21.270Z","role":"workflow:owner","workflowId":"CRDbFU3QQ5kqg2Zk","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}