eaAu6anSFmK9xwut.json
{"createdAt":"2025-10-22T00:26:58.348Z","updatedAt":"2025-10-22T00:26:58.348Z","id":"eaAu6anSFmK9xwut","name":"Create_Client_Workflow_With_Save_Contact_and_Applicant","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO partners (\n    company_name, fantasy_name, address, number, neighborhood, zip_code, city, state, enabled,\n    blocked, cnpj, complement, contact, email, site, obs, phone_1, phone_2, phone_3, cpf\n) VALUES (\n    '{{ $json.company_name }}', '{{ $json.fantasy_name || \"\" }}', '{{ $json.address }}', '{{ $json.number || \"\" }}', '{{ $json.neighborhood || \"\" }}', '{{ $json.zip_code || \"\" }}', '{{ $json.city || \"\" }}', '{{ $json.state || \"\" }}', '{{ $json.enabled }}', '{{ $json.blocked }}', '{{ $json.cnpj || \"\" }}', '{{ $json.complement || \"\" }}', '{{ $json.contact || null }}', '{{ $json.email || \"\" }}', '{{ $json.site || \"\" }}', '{{ $json.obs || \"\" }}', '{{ $json.phone_1 || null }}', '{{ $json.phone_2 || null }}', '{{ $json.phone_3 || null }}', '{{ $json.cpf || null }}'\n);","options":{}},"id":"4113afb2-6b74-47e0-80b0-535cc043ed70","name":"Save Client BD","type":"n8n-nodes-base.mySql","typeVersion":2.3,"position":[144,416],"credentials":{"mySql":{"id":"gEA6lhy1r5qfo1Hu","name":"MySQL STWDOC"}}},{"parameters":{"jsCode":"return {\n  \"body\": {\n    \"topic\": \"ClienteFornecedor.Incluido\",\n    \"event\": {\n      \"tags\": [\n      {\"tag\": \"Cliente\"}\n    ],\n      \"codigo_cliente_omie\": 12345,\n      \"codigo_cliente_integracao\": \"ABC123\",\n      \"razao_social\": \"Empresa Exemplo LTDA\",\n      \"cnpj_cpf\": \"12.345.678/0001-90\",\n      \"nome_fantasia\": \"Exemplo\",\n      \"telefone1_ddd\": \"11\",\n      \"telefone1_numero\": \"987654321\",\n      \"contato\": \"João da Silva\",\n      \"endereco\": \"Rua Exemplo\",\n      \"endereco_numero\": \"123\",\n      \"bairro\": \"Centro\",\n      \"complemento\": \"Apto 101\",\n      \"estado\": \"SP\",\n      \"cidade\": \"3550308\",\n      \"cep\": \"01234-567\",\n      \"codigo_pais\": \"1058\",\n      \"separar_endereco\": \"N\",\n      \"pesquisar_cep\": \"S\",\n      \"telefone2_ddd\": \"11\",\n      \"telefone2_numero\": \"912345678\",\n      \"fax_ddd\": \"11\",\n      \"fax_numero\": \"123456789\",\n      \"email\": \"contato@empresaexemplo.com.br\",\n      \"homepage\": \"http://www.empresaexemplo.com.br\",\n      \"inscricao_estadual\": \"123456789\",\n      \"inscricao_municipal\": \"987654321\",\n      \"inscricao_suframa\": \"IS123456\",\n      \"optante_simples_nacional\": \"S\",\n      \"tipo_atividade\": \"1\",\n      \"cnae\": \"1234567\",\n      \"produtor_rural\": \"N\",\n      \"contribuinte\": \"S\",\n      \"observacao\": \"Cliente VIP\",\n      \"obs_detalhadas\": \"Sempre pagar em dia\",\n      \"recomendacao_atraso\": \"02\",\n      \"pessoa_fisica\": \"N\",\n      \"exterior\": \"N\",\n      \"logradouro\": \"DEPRECATED\",\n      \"importado_api\": \"S\",\n      \"bloqueado\": \"DEPRECATED\",\n      \"cidade_ibge\": \"3550308\",\n      \"valor_limite_credito\": 10000.00,\n      \"bloquear_faturamento\": \"N\",\n      \"recomendacoes\": {\n        \"codigo_recomendacao\": \"001\",\n        \"descricao\": \"Protesto após 30 dias\"\n      },\n      \"enderecoEntrega\": {\n        \"endereco\": \"Av. de Entrega\",\n        \"numero\": \"456\",\n        \"bairro\": \"Comercial\",\n        \"cep\": \"12345-678\",\n        \"cidade\": \"São Paulo\",\n        \"estado\": \"SP\",\n        \"complemento\": \"Prédio B\"\n      },\n      \"nif\": \"NIF123456\",\n      \"documento_exterior\": \"EX123456789\",\n      \"inativo\": \"N\",\n      \"dadosBancarios\": {\n        \"banco\": \"001\",\n        \"agencia\": \"1234\",\n        \"conta\": \"56789-0\"\n      },\n      \"caracteristicas\": [\n        {\n          \"codigo\": \"001\",\n          \"descricao\": \"Cliente frequente\"\n        },\n        {\n          \"codigo\": \"002\",\n          \"descricao\": \"Preferência por pagamento via boleto\"\n        }\n      ],\n      \"enviar_anexos\": \"S\",\n      \"info\": {\n        \"data_cadastro\": \"2024-10-17\",\n        \"usuario_responsavel\": \"admin\"\n      },\n      \"bloquear_exclusao\": \"S\"\n    }\n  }\n}"},"id":"5a9ae096-d616-4dfd-a665-4655411a4303","name":"Format Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,576]},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"contentType":"=json","specifyBody":"json","bodyParameters":{"parameters":[{}]},"jsonBody":"{\n \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"id":"b0aef652-9f47-454b-9d28-583aac09dd44","name":"Authentication Desk","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-48]},{"parameters":{"jsCode":"const formattedJSON = {\n  TCliente: {\n    CGrupoEmpresas: [],\n    Fantasia: $input.first().json.body.event.nome_fantasia ?? \"\",\n    RazaoSocial: $input.first().json.body.event.razao_social ?? \"\",\n    Juridico: $input.first().json.body.event.pessoa_fisica === \"S\" ?  \"N\" : \"S\",\n    Fornecedor: \"N\",\n    Matriz: \"N\",\n    Telefone: `${$input.first().json.body.event.telefone1_ddd ?? \"\"} ${$input.first().json.body.event.telefone1_numero ?? \"\"}`,\n    Email: $input.first().json.body.event.email ?? \"\",\n    Observacoes: $input.first().json.body.event.observacao ?? \"\",\n    Idioma: \"pt_br\",\n    IdiomaAlterar: \"S\",\n    DominiosPermitidos: [],\n    Cep: $input.first().json.body.event.cep ?? \"\",\n    Endereco: $input.first().json.body.event.endereco ?? \"\",\n    Numero: $input.first().json.body.event.endereco_numero ?? \"\",\n    Complemento: $input.first().json.body.event.complemento ?? \"\",\n    Bairro: $input.first().json.body.event.bairro ?? \"\",\n    Cidade: $input.first().json.body.event.cidade ?? \"\",\n    Uf: $input.first().json.body.event.estado ?? \"\",\n    EnviaEmail: \"S\",\n    PsAtivo: \"S\",\n    AbChamadoEmsil: \"S\",\n    IntChamadoEmail: \"S\",\n    AberturaPortal: \"S\",\n    InteracaoPortal: \"S\",\n    ObservadorIntEmail: \"S\",\n    AbChatAtivo: \"N\",\n    Avulso: \"N\",\n    Bloquear: \"N\",\n    ObsBloquear: \"\",\n    OAssuntoAtivo: \"S\",\n    AAssuntoAtivo: \"S\",\n    ArvoreBloco: \"S\",\n    GerarToken: \"N\",\n    MapaAtendimento: \"N\",\n    ReabreAtivo: \"S\",\n    ReabreDias: \"0\",\n    FormaAtendimento: \"\",\n    Causa: \"\",\n    AdAtivo: \"N\",\n    ServerAd: \"\",\n    DominioAd: \"\",\n    TipoSuporte: [],\n    SmtpGrupo: \"\",\n    HorasMes: \"\",\n    ChamadosMes: \"\",\n    MostraHoraChamado: \"\",\n    AlertaEmailOp: [],\n    AlertaEmailUsu: [],\n    AlertaChEmailFim: \"N\",\n    AlertaSmsOp: [],\n    AlertaSmsUsu: [],\n    AlertaChSmsFim: \"N\",\n    TocorrenciaAtivo: \"N\",\n    ImpactoAtivo: \"N\",\n    UrgenciaAtivo: \"N\",\n    PrioridadeAtivo: \"N\",\n    CategoriaAtivo: \"N\",\n    TipoAtivo: \"N\",\n    AnexoAtivo: \"S\",\n    IcsAtivo: \"N\",\n    GrupoAtivo: \"N\",\n    Aprovacao: \"N\",\n    PorGerente: \"N\",\n    PorAdministrador: \"N\",\n    PorUsuario: [],\n    MinAprovacaoAtivo: \"N\",\n    MinAprovacao: 0,\n    EnviaEmailAprovReprov: [],\n    OperadorPadrao: \"\",\n    AprovCodStatus: \"\",\n    FinalizaAuto: \"N\",\n    TBloqueioIp: [],\n    ServiceDesk: \"S\",\n    AtivoLogo: \"S\"\n  },\n  TCatalogos: [],\n  TBloqueioIp: [],\n  TCampoExtraGeral: {},\n  TCampoExtraVisualiza: {}\n}\n\nconst separateName = (fullName) => {\n    // Remove espaços extras e divide o nome completo por espaços\n    const parts = fullName.trim().split(\" \");\n    if (parts.length === 1) {\n        // Caso haja apenas uma parte, não há sobrenome\n        return {\n            name: parts[0],\n            lastName: \"\"\n        };\n    }\n    // O primeiro elemento é o nome\n    const name = parts[0];\n    // Junta o restante das partes como sobrenome\n    const lastName = parts.slice(1).join(\" \");\n\n    return {\n        name,\n        lastName\n    };\n}\n\n\nif ($input.first().json.body.event.pessoa_fisica === \"S\"){\n  const fullName = separateName($input.first().json.body.event.contato)\n  formattedJSON[\"TCliente\"][\"Nome\"] = fullName.name\n  formattedJSON[\"TCliente\"][\"Sobrenome\"] = fullName.lastName\n  formattedJSON[\"TCliente\"][\"Cpf\"] = $input.first().json.body.event.cnpj_cpf\n} else {\n  formattedJSON[\"TCliente\"][\"Cnpj\"] = $input.first().json.body.event.cnpj_cpf\n  formattedJSON[\"TCliente\"][\"Contato\"] = $input.first().json.body.event.contato\n}\n\nreturn formattedJSON"},"id":"2d04c58b-1a88-40ca-ad98-14bfaf01422a","name":"Format Data Desk","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,80]},{"parameters":{"jsCode":"let formattedJSON = {\n  company_name: $input.first().json.body.event.razao_social ?? \"\",\n  fantasy_name: $input.first().json.body.event.nome_fantasia ?? \"\",\n  address: $input.first().json.body.event.endereco ?? \"\",\n  number: $input.first().json.body.event.endereco_numero ?? null,\n  neighborhood: $input.first().json.body.event.bairro ?? \"\",\n  zip_code: $input.first().json.body.event.cep ?? null,\n  city: $input.first().json.body.event.cidade ?? \"\",\n  state: $input.first().json.body.event.estado ?? \"\",\n  enabled: 1,\n  blocked: 0\n}\n\nfunction limparCPF(cpf) {\n  return cpf.replace(/[\\.\\-]/g, '');\n}\n\nfunction limparCNPJ(cnpj) {\n  return cnpj.replace(/[\\.\\/\\-]/g, '');\n}\n\nif($input.first().json.body.event.cnpj_cpf && $input.first().json.body.event.cnpj_cpf.length === 14){\n  \n  formattedJSON.cpf = limparCPF($input.first().json.body.event.cnpj_cpf)\n} else if ($input.first().json.body.event.cnpj_cpf) {\n  formattedJSON.cnpj = limparCNPJ($input.first().json.body.event.cnpj_cpf)\n}\n\nif($input.first().json.body.event.complemento){\n  formattedJSON.complement = $input.first().json.body.event.complemento\n}\n\nif($input.first().json.body.event.contato){\n  formattedJSON.contact = $input.first().json.body.event.contato\n}\n\nif($input.first().json.body.event.email){\n  formattedJSON.email = $input.first().json.body.event.email\n}\n\nif($input.first().json.body.event.homepage){\n  formattedJSON.site = $input.first().json.body.event.homepage\n}\n\nif($input.first().json.body.event.observacao){\n  formattedJSON.obs = $input.first().json.body.event.observacao\n}\n\nif($input.first().json.body.event.telefone1_ddd && $input.first().json.body.event.telefone1_numero){\n  formattedJSON.phone_1 = $input.first().json.body.event.telefone1_ddd + $input.first().json.body.event.telefone1_numero\n}\n\nif($input.first().json.body.event.telefone2_ddd && $input.first().json.body.event.telefone2_numero){\n  formattedJSON.phone_2 = $input.first().json.body.event.telefone2_ddd + $input.first().json.body.event.telefone2_numero\n}\n\nif($input.first().json.body.event.telefone3_ddd && $input.first().json.body.event.telefone3_numero){\n  formattedJSON.phone_3 = $input.first().json.body.event.telefone3_ddd + $input.first().json.body.event.telefone3_numero\n}\n\n\nreturn formattedJSON"},"id":"28825ced-90a1-48b7-8b2c-928c3706056e","name":"Format Data BD","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,416]},{"parameters":{},"id":"6688700a-b695-425e-b199-3b6bd91bdb51","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[368,64]},{"parameters":{"jsCode":"async function saveClientDesk() {\n  const requestData = {\n    url: \"https://api.desk.ms/Clientes\",\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": $input.first().json.data,\n      \"Content-Type\": \"application/json\",\n    },\n    body: {\n      TCliente: $input.last().json.TCliente,\n      TCatalogos: $input.last().json.TCatalogos,\n      TBloqueioIp: $input.last().json.TBloqueioIp,\n      TCampoExtraGeral: $input.last().json.TCampoExtraGeral,\n      TCampoExtraVisualiza: $input.last().json.TCampoExtraVisualiza,\n    },\n  };\n\n  const response = await this.helpers.httpRequest(requestData);\n\n  return [{ data: response }];\n}\n\nreturn saveClientDesk();"},"id":"b2074917-0fc8-4947-84d1-08d99de38122","name":"Save Client Desk","type":"n8n-nodes-base.code","typeVersion":2,"position":[576,64]},{"parameters":{"httpMethod":"POST","path":"5525d826-e249-45a9-beb2-09e6eb2c0e3b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-784,272],"id":"de613841-1979-4f02-a04f-7832bf3879f0","name":"Webhook","webhookId":"5525d826-e249-45a9-beb2-09e6eb2c0e3b","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,576],"id":"c2531b3e-c8ca-42a9-878d-e18dd34e7d64","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM partners WHERE cnpj = {{ $('Format Data BD').item.json.cnpj }}","options":{}},"id":"4f883b38-690c-47cc-a557-04ca660a22f0","name":"Find Client CNPJ BD","type":"n8n-nodes-base.mySql","typeVersion":2.3,"position":[784,336],"credentials":{"mySql":{"id":"gEA6lhy1r5qfo1Hu","name":"MySQL STWDOC"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM partners WHERE cpf = {{ $('Format Data BD').item.json.cpf }}","options":{}},"id":"9dd8409f-2f8d-4c64-8bb4-8fb9d584c11d","name":"Find Client CPF BD","type":"n8n-nodes-base.mySql","typeVersion":2.3,"position":[784,496],"credentials":{"mySql":{"id":"gEA6lhy1r5qfo1Hu","name":"MySQL STWDOC"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO partner_contacts (\n    partner_id, name, phone, email, job_title, enabled, authorizer\n) VALUES (\n    '{{ $json.id }}', '{{ $json.contact }}', '{{ $json.phone_1 }}', '{{ $json.email }}', null, '{{ $json.enabled }}', '0'\n);","options":{}},"id":"4f984684-a8ac-4101-827c-113123ed4cb5","name":"Save Contact BD","type":"n8n-nodes-base.mySql","typeVersion":2.3,"position":[1056,400],"credentials":{"mySql":{"id":"gEA6lhy1r5qfo1Hu","name":"MySQL STWDOC"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9600184e-2e97-4d5e-b416-2488d1219b62","leftValue":"={{ $('Format Data BD').item.json.cnpj }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,416],"id":"d1532c64-6e20-4dd7-872b-95e1646908c4","name":"If CNPJ/CPF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c0aa9bf-93f2-4f92-97e0-a2969a2cd709","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d0cb52cc-2f4e-48c4-b42b-b1155d5dcfd1","name":"If success","type":"n8n-nodes-base.if","typeVersion":2,"position":[368,416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebe74ca-2f9d-4e9a-8ef1-67f38a6ff6e3","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,400],"id":"014a3437-0bae-4b71-b8d7-686eaa69e35b","name":"End flow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c0aa9bf-93f2-4f92-97e0-a2969a2cd709","leftValue":"={{ $json.body.topic }}","rightValue":"ClienteFornecedor.Incluido","operator":{"type":"string","operation":"equals"}},{"id":"89e55963-c0ea-45e6-9005-f7cd3ef6f87f","leftValue":"={{ $json.body.event.tags[0].tag }}","rightValue":"Cliente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"f071793f-dcbb-4685-b24c-8f1d453f81b9","name":"If inclusão e cliente","type":"n8n-nodes-base.if","typeVersion":2,"position":[-512,272]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c0aa9bf-93f2-4f92-97e0-a2969a2cd709","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8a9060dc-c864-45e0-8140-51ae9d87673a","name":"If success 2","type":"n8n-nodes-base.if","typeVersion":2,"position":[784,64]},{"parameters":{"jsCode":"function splitNameAndLastName(fullName) {\n  const parts = fullName.trim().split(/\\s+/);\n\n  if (parts.length === 1) {\n    return { firstName: parts[0], lastName: \"\" };\n  }\n\n  return { firstName: parts.shift(), lastName: parts.join(\" \") };\n}\n\nasync function saveApplicantDesk() {\n  const { firstName, lastName } = splitNameAndLastName($('Format Data Desk').first().json.TCliente.Contato)\n  \n  const requestData = {\n    url: \"https://api.desk.ms/Usuarios\",\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": $('Merge').first().json.data,\n      \"Content-Type\": \"application/json\",\n    },\n    body: {\n      TUsuario : {\n      CodCliente: $input.first().json.data.toString(),\n      Senha: \"systemway@2025\",\n      ConfirmaSenha: \"systemway@2025\",\n      Email: $('Format Data Desk').first().json.TCliente.Email,\n      Nome: firstName,\n      Sobrenome: lastName,\n      NomeLocal: \"Matriz\",\n      Telefone: $('Format Data Desk').first().json.TCliente.Telefone,\n      SMS: $('Format Data Desk').first().json.TCliente.Telefone,\n      NomeDepartamento:\"ADM\", //Caso não possua o Código do Departamento, envie o nome de um departamento cadastrado\n      AdmAtivo: \"N\",\t//Se é administrador\n      GerenteAtivo:\"N\",\t//Se é gerente\n      OcultaUser:\"N\",\t//Se Oculta o Solicitante na lista de abertura de chamado dos operadores\n      CriaUsuarioAtivo:\"N\",\t//Se Ativo Pode Criar Outros Soliciantes dentro do Portal do Solicitante\n      AprovaChamadoAtivo:\"N\",\t//Só pode ser enviado como \"S\" caso AdmAtivo ou GerenteAtivo = \"S\"\n      VipAtivo:\"N\", //Se é um Solicitante VIP \n      VisualizaSLAContratoAtivo:\"N\", //Se Ativo Visualiza Sla no Portal do Solicitante\n      EmailDepLocalAtivo:\"N\",\t//Só pode ser enviado como \"S\" caso AdmAtivo ou GerenteAtivo = \"S\"\n      EmailSuporteAtivo:\"S\",  //Recebe Email dos meus Atendimentos\n      SatisfacaoEmailAtivo:\"S\", //Se Ativo Recebe por Email da Pesquisa de Satisfação\n      SatisfacaoObrigAtivo:\"N\", //Obriga a Responder a Pesquisa de Satisfação\n      NotificaoAtivo:\"S\", //Recebe Email das Notificações\n      BoasVindas:\"S\", //Recebe Email de Boas Vindas\n      ObservadorPortal: \"N\", //  Permitir adicionar Observadores no Portal do Solicitante\n      UnificarMulti: \"N\", // Unificar Portal\n      AprovadorGeral: \"N\", // Aprovação Inter-Empresa\n      AprovadorGrupoEmpresa: \"N\", // Aprovador de Grupo de Empresas\n      SMSAtivo: \"N\", //Recebe Alerta por SMS\n      GoogleAtivo: \"N\", //Se Loga com o Google\n      MicrosoftAtivo: \"N\", //Se Loga com o Microsoft\n      AlteradPessoaisAtivo: \"S\", //Altera Dados Pessoais no Portal do Solicitante\n      MudarSenhaAtivo: \"S\", //Se Ativo Obriga a Mudar a Senha no Portal do Solicitante\n      Idioma:\"pt_br\"//Caso não seja enviado ou inválido será adotado por padrão o Português(Brasil)\n      }\n    },\n  };\n\n  console.log($input.first().json.data)\n\n  const response = await this.helpers.httpRequest(requestData);\n\n  return [{ data: response }];\n}\n\nreturn saveApplicantDesk();"},"id":"de1b01a5-f394-4dc3-9789-3dd2f9df37b5","name":"Save Applicant","type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebe74ca-2f9d-4e9a-8ef1-67f38a6ff6e3","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,64],"id":"ce48c581-9dcd-406d-8aba-a5e626710660","name":"End flow 2"}],"connections":{"Save Client BD":{"main":[[{"node":"If success","type":"main","index":0}]]},"Authentication Desk":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Format Data Desk":{"main":[[{"node":"Authentication Desk","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Format Data BD":{"main":[[{"node":"Save Client BD","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Save Client Desk","type":"main","index":0}]]},"Save Client Desk":{"main":[[{"node":"If success 2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If inclusão e cliente","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Format Data","type":"main","index":0}]]},"Find Client CNPJ BD":{"main":[[{"node":"Save Contact BD","type":"main","index":0}]]},"Find Client CPF BD":{"main":[[{"node":"Save Contact BD","type":"main","index":0}]]},"Save Contact BD":{"main":[[{"node":"End flow","type":"main","index":0}]]},"If CNPJ/CPF":{"main":[[{"node":"Find Client CNPJ BD","type":"main","index":0}],[{"node":"Find Client CPF BD","type":"main","index":0}]]},"If success":{"main":[[{"node":"If CNPJ/CPF","type":"main","index":0}]]},"If inclusão e cliente":{"main":[[{"node":"Format Data Desk","type":"main","index":0},{"node":"Format Data BD","type":"main","index":0}]]},"If success 2":{"main":[[{"node":"Save Applicant","type":"main","index":0}]]},"Save Applicant":{"main":[[{"node":"End flow 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1274a729-51ef-4fa8-9958-9ae6debc1fff","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:26:58.348Z","updatedAt":"2025-10-22T00:26:58.348Z","role":"workflow:owner","workflowId":"eaAu6anSFmK9xwut","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}