EbJbUSPyxr6LjQOI.json
{"createdAt":"2025-10-22T00:21:05.952Z","updatedAt":"2025-10-23T15:38:09.411Z","id":"EbJbUSPyxr6LjQOI","name":"BACKUP Workflows GITHUB","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"systemway-stw","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-workflows","mode":"list","cachedResultName":"backup-n8n-workflows","cachedResultUrl":"https://github.com/systemway-stw/backup-n8n-workflows"},"filePath":"={{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[688,80],"id":"9faa6520-399d-42af-96eb-df26581e7d06","name":"Get a file","webhookId":"f4d2ea0d-762e-4dd7-9eb3-159e0ea10f8b","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"vCm9Yvxs7RkvWgGJ","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,176],"id":"4e1a1ad1-1fa0-4a10-ab7f-d51611844247","name":"When clicking ‘Execute workflow’"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"977541cf-be86-4770-93e3-2e53b1d23426"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar_backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49f6a6dd-2dff-4dc2-92ff-d3e1a21318da","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('n8n').item.json.updatedAt }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5827cafb-5072-48ef-9cf3-3b207b68993c","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('n8n').item.json.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1136,64],"id":"ec3641c6-9a9e-426c-b325-dc0b9f59896f","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"systemway-stw","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-workflows","mode":"list","cachedResultName":"backup-n8n-workflows","cachedResultUrl":"https://github.com/systemway-stw/backup-n8n-workflows"},"filePath":"={{ $('n8n').item.json.id }}.json","fileContent":"={{ JSON.stringify($('n8n').item.json) }}","commitMessage":"={{ $('n8n').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1360,-16],"id":"e2d13ca1-f31e-4d69-8423-3ceb37422626","name":"Create a file","webhookId":"84fb07c5-669e-4ff0-bd45-2b7f3887f8ea","credentials":{"githubOAuth2Api":{"id":"vCm9Yvxs7RkvWgGJ","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[464,80],"id":"97c344f4-1f48-4f12-ac8b-f146a9472066","name":"n8n","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[912,80],"id":"632dae9c-7a18-4d13-bc68-40e31f9fcf4e","name":"Extract from File","alwaysOutputData":true},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"systemway-stw","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-workflows","mode":"list","cachedResultName":"backup-n8n-workflows","cachedResultUrl":"https://github.com/systemway-stw/backup-n8n-workflows"},"filePath":"={{ $('n8n').item.json.id }}.json","fileContent":"={{ JSON.stringify($('n8n').item.json) }}","commitMessage":"={{ $('n8n').item.json.name }} - {{ $('n8n').item.json.updatedAt.toDateTime().format('dd-MM-yyyy t') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1360,176],"id":"5852ee17-197e-4de6-9da9-42befce19f70","name":"Edit a file","webhookId":"36964fa0-12f0-4661-b008-ca2c18727b22","credentials":{"githubOAuth2Api":{"id":"vCm9Yvxs7RkvWgGJ","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":22}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,-16],"id":"ba133801-f09a-4025-8ee3-6b2a7caf8da9","name":"Schedule Trigger"}],"connections":{"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create a file","type":"main","index":0}],[],[{"node":"Edit a file","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"38f14527-273b-4380-9cac-93210752745e","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:21:05.952Z","updatedAt":"2025-10-22T00:21:05.952Z","role":"workflow:owner","workflowId":"EbJbUSPyxr6LjQOI","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}