eeLwExCVegm8LD4S.json
{"createdAt":"2025-10-22T00:26:50.503Z","updatedAt":"2025-10-22T00:46:21.033Z","id":"eeLwExCVegm8LD4S","name":"Mercado livre - Refresh token","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":300}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"e276dfba-8645-48be-8360-a2cfcef1367a","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"4291541990258821"},{"name":"client_secret","value":"FNtF8uOSZdUlw5nAytiWMe1o83RauSFp"},{"name":"refresh_token","value":"={{ $json.refresh_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"6aa91ab1-6cee-4936-9eef-97c586a6f492","name":"HTTP Request"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"mercado_livre_token","mode":"list","cachedResultName":"mercado_livre_token"},"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"e6a320cd-0a94-4905-bc0b-7be001bea814","name":"Select rows from a table","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"mercado_livre_token","mode":"list","cachedResultName":"mercado_livre_token"},"columns":{"mappingMode":"defineBelow","value":{"id":1,"access_token":"={{ $json.access_token }}","refresh_token":"={{ $json.refresh_token }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"access_token","displayName":"access_token","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"refresh_token","displayName":"refresh_token","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"id":"b2092521-434d-4bec-8e50-1e9012eae377","name":"Update rows in a table","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"06f9a38e-7be4-4b79-8d7f-3897b8b6fdd6","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:26:50.503Z","updatedAt":"2025-10-22T00:26:50.503Z","role":"workflow:owner","workflowId":"eeLwExCVegm8LD4S","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}