EH1hf2EX1TT1KGgX.json
{"createdAt":"2025-08-18T12:44:33.671Z","updatedAt":"2025-10-14T18:59:05.972Z","id":"EH1hf2EX1TT1KGgX","name":"BACKUP Workflows GITHUB","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"systemway-stw","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-workflows","mode":"list","cachedResultName":"backup-n8n-workflows","cachedResultUrl":"https://github.com/systemway-stw/backup-n8n-workflows"},"filePath":"={{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[448,-112],"id":"c349a80a-5e2d-4a6f-ad6f-60c14f195c0b","name":"Get a file","webhookId":"f4d2ea0d-762e-4dd7-9eb3-159e0ea10f8b","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"vCm9Yvxs7RkvWgGJ","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-16],"id":"f3d0b30b-aa3b-446d-a9dc-4e058c53d3d6","name":"When clicking ‘Execute workflow’"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"977541cf-be86-4770-93e3-2e53b1d23426"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar_backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49f6a6dd-2dff-4dc2-92ff-d3e1a21318da","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('n8n').item.json.updatedAt }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5827cafb-5072-48ef-9cf3-3b207b68993c","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('n8n').item.json.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[896,-128],"id":"cfdc7fc9-2a72-4bdb-a45e-f2d32e7776df","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"systemway-stw","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-workflows","mode":"list","cachedResultName":"backup-n8n-workflows","cachedResultUrl":"https://github.com/systemway-stw/backup-n8n-workflows"},"filePath":"={{ $('n8n').item.json.id }}.json","fileContent":"={{ JSON.stringify($('n8n').item.json) }}","commitMessage":"={{ $('n8n').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1120,-208],"id":"adebc815-884e-4329-a100-db79e2a5688c","name":"Create a file","webhookId":"84fb07c5-669e-4ff0-bd45-2b7f3887f8ea","credentials":{"githubOAuth2Api":{"id":"vCm9Yvxs7RkvWgGJ","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,-112],"id":"9ff1fffa-d38b-40cf-b28d-006b70ccb016","name":"n8n","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[672,-112],"id":"baf0d236-62cf-402d-a8b3-80647902a7bd","name":"Extract from File","alwaysOutputData":true},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"systemway-stw","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-workflows","mode":"list","cachedResultName":"backup-n8n-workflows","cachedResultUrl":"https://github.com/systemway-stw/backup-n8n-workflows"},"filePath":"={{ $('n8n').item.json.id }}.json","fileContent":"={{ JSON.stringify($('n8n').item.json) }}","commitMessage":"={{ $('n8n').item.json.name }} - {{ $('n8n').item.json.updatedAt.toDateTime().format('dd-MM-yyyy t') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1120,-16],"id":"33ad5159-6809-4d94-ad11-d9a6e8f1ade7","name":"Edit a file","webhookId":"36964fa0-12f0-4661-b008-ca2c18727b22","credentials":{"githubOAuth2Api":{"id":"vCm9Yvxs7RkvWgGJ","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":22}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-208],"id":"0cab1d5e-de21-495f-a7aa-8e2f0695e9fe","name":"Schedule Trigger"}],"connections":{"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create a file","type":"main","index":0}],[],[{"node":"Edit a file","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Edit a file":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b60abcd-3596-4a44-9672-8fb21a281ad0","triggerCount":1,"shared":[],"tags":[]}