F2HuCHioYZPP7ydz.json
{"createdAt":"2025-07-18T19:25:57.648Z","updatedAt":"2025-09-15T13:32:31.230Z","id":"F2HuCHioYZPP7ydz","name":"BACKUP Workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[880,80],"id":"be04d70c-8fb6-42a4-8399-3137fe7ed4f1","name":"n8n","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1328,0],"id":"e0b3fb1a-9b07-4eb4-822e-569115ab8b28","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1104,80],"id":"df7aa4b1-09a4-45fa-b9af-275ad869c75a","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,80],"id":"6ae1c822-6954-42f2-90db-95b3304d17ac","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,336],"id":"3ae2a8f3-5bfb-4565-a6c0-7df3d64c1838","name":"Error Trigger"},{"parameters":{"resource":"folder","operation":"search","query":"BACKUP_N8N"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[224,80],"id":"80995641-692a-40b2-a8b9-51f87ecb3171","name":"search","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"resource":"folder","operation":"create","name":"=BACKUP_N8N_{{ $now.format('dd-MM-yyyy') }}","options":{}},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[672,80],"id":"4f22a5a6-ff62-4ee9-b576-313c1f28f6f7","name":"create","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"fileName":"={{ $('Loop Over Items').first().json.name }}","parentId":"={{ $('create').first().json.id }}","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1552,80],"id":"6b3c6156-068c-4197-9305-0777a10866a8","name":"upload","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"resource":"folder","operation":"delete","folderId":"={{ $json.id }}"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[448,80],"id":"28fd1f63-3ac2-42f8-87a6-5a41b1f26770","name":"delete","credentials":{"microsoftOneDriveOAuth2Api":{"id":"RRfKpNzxSAqkmBeg","name":"Microsoft Drive Vinicius Marotti"}}},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - Backup Workflows","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[224,336],"id":"e51591e2-ae0f-4361-a4d0-ae6a889afc15","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"upload","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"search","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"search":{"main":[[{"node":"delete","type":"main","index":0}]]},"create":{"main":[[{"node":"n8n","type":"main","index":0}]]},"upload":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"delete":{"main":[[{"node":"create","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7e2faeb5-3dbf-4cfc-beaa-bd7758f70a83","triggerCount":1,"shared":[],"tags":[]}