FLkZ0ld9giUqCURy.json
{"createdAt":"2025-10-22T00:27:43.012Z","updatedAt":"2025-10-22T00:27:43.012Z","id":"FLkZ0ld9giUqCURy","name":"DELETE EXECUTIONS","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"execution","filters":{"workflowId":{"__rl":true,"value":"vgEs5Onkfq6v5Dg5","mode":"list","cachedResultName":"[STW] CHAMADO FORMULARIO (#vgEs5Onkfq6v5Dg5)"}},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,0],"id":"2e449cf5-a9a0-4dc7-afea-edee4e9a55dd","name":"n8n","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $json.id }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[704,0],"id":"4ed4478e-fe49-415c-9c8f-6756593b9870","name":"n8n1","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"903d621b-f16e-4161-82dd-03baa994172a","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"c7bb3d67-90e1-4b07-ab51-a6d19d72e2e9","name":"Schedule Trigger"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"65f4c9ca-e3bf-4ebc-afaf-bc39ea8e2f1b","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:27:43.012Z","updatedAt":"2025-10-22T00:27:43.012Z","role":"workflow:owner","workflowId":"FLkZ0ld9giUqCURy","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}