I8MgGq4wWBTKUrTu.json
{"createdAt":"2025-10-22T00:28:31.021Z","updatedAt":"2025-10-22T16:01:23.971Z","id":"I8MgGq4wWBTKUrTu","name":"Regional Agendamentos - Agendamento Calendly","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"TRATATIVA DOS DADOS VINDO DO TRIGGER","height":200,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[176,752],"typeVersion":1,"id":"182f2ba6-70ff-45f9-a511-8125e8178989","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"819cd417-23b5-4ed2-9737-63ac1e48e8b4","name":"event.created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"a812dc2c-e31c-4cdb-84f6-c806eddfa005","name":"event.event","value":"={{ $json.event }}","type":"string"},{"id":"4fbbb2d8-541f-4fe7-8a7b-ad56a91e97e9","name":"user.phoneNumber","value":"={{ $json.payload.questions_and_answers[0].answer }}","type":"string"},{"id":"28280887-a199-4e92-bdca-6696d4c356c8","name":"user.name","value":"={{ $json.payload.name }}","type":"string"},{"id":"daff0fb9-a49d-40ea-8b3e-df63d7aa78f7","name":"payload.cancel_url","value":"={{ $json.payload.cancel_url }}","type":"string"},{"id":"b41acd4b-a408-4bef-9688-6b21293b5645","name":"payload.reschedule_url","value":"={{ $json.payload.reschedule_url }}","type":"string"},{"id":"3291c773-167a-4b7b-a747-dc89a1a16464","name":"evento.data_evento","value":"={{ $json.payload.scheduled_event.start_time }}","type":"string"},{"id":"da6294af-8007-4ad1-a046-97e3fe082ce0","name":"=event.rescheduled","value":"={{ $json.payload.rescheduled }}","type":"string"},{"id":"a37a7097-bf20-4deb-9a5b-d4fa8d4d177a","name":"type_event","value":"={{ \n  $json.event === 'invitee.canceled' ? 'Cancelado' : $json.event === 'invitee.created' && !$json.payload.old_invitee ? 'Agendado' : 'Reagendado'\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,800],"id":"20e6e970-1b53-4471-8d9e-f7752c4f98ac","name":"Variaveis"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst startTime = data.evento.data_evento;\n\nconst startTimeDate = new Date(startTime);\nstartTimeDate.setMinutes(startTimeDate.getMinutes() - 60);\nconst messageScheduledTime = startTimeDate.toISOString();\n\nconst dateObj = new Date(startTime);\ndateObj.setHours(dateObj.getHours() - 3);\n\nconst date = dateObj.toLocaleDateString('pt-BR');\n\nconst time = dateObj.toLocaleTimeString('pt-BR', { \n  hour12: false, \n  hour: '2-digit', \n  minute: '2-digit'\n});\n\nlet phoneNumber = data.user.phoneNumber || \"\";\nphoneNumber = Number(phoneNumber.replace(/\\D/g, \"\"));\n\nconst createdAtUtc = new Date(data.event.created_at);\ncreatedAtUtc.setHours(createdAtUtc.getHours());\n\nlet createdAtFormatted = createdAtUtc.toLocaleString('pt-BR', { \n  timeZone: 'America/Sao_Paulo', \n  hour12: false, \n  year: 'numeric', \n  month: '2-digit', \n  day: '2-digit', \n  hour: '2-digit', \n  minute: '2-digit', \n  second: '2-digit' \n});\n\nreturn {\n  messageScheduledTime: messageScheduledTime,\n  createdAtFormatted: createdAtFormatted,\n  date: date,\n  time: time,\n  phoneNumber: phoneNumber\n};"},"id":"0a587be8-c129-4bf4-806a-565def2cbd70","name":"Normalização","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bcc44579-f045-4738-94f1-abb07d688a31","leftValue":"={{ $json.payload.rescheduled }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,800],"id":"d7203a53-4422-4d9f-8854-f50621c05336","name":"É evento cancelado ou agendado?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Variaveis').first().json.type_event }}","rightValue":"Reagendado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reagendado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"321f1490-7661-4f9b-b91d-25c7a3c1c533","leftValue":"={{ $('Variaveis').first().json.type_event }}","rightValue":"Agendado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e8b84e4-ca12-40e4-a6a9-60abf0efbe2f","leftValue":"={{ $('Variaveis').first().json.type_event }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1760,576],"id":"761b16d3-a65e-40ed-8c2d-b0cb102e0244","name":"Switch"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Agendado","fieldValue":"={{ $('Normalização').first().json.date }} -\n{{ $('Normalização').first().json.time }}"},{"column":"Hora Criado","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"},{"column":"Reagendou","fieldValue":"SIM"}]},"options":{}},"id":"2fa7513c-107c-4c1c-ae59-60b7bd151ee1","name":"Atualiza data na planilha2","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1984,400],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"worksheet","operation":"upsert","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Transferir setor","fieldValue":"=Erro ao transferir setor"}]},"options":{}},"id":"c84e3708-7f5e-4fec-a9ac-6d25bbeae0a6","name":"Erro ao transferir","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2656,592],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Normalização').first().json.phoneNumber }}\",\n    \"templateId\": \"67d80796031c821c70ee9b96\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Variaveis').first().json.user.name }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.date }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.time }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Variaveis').first().json.payload.reschedule_url }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Variaveis').first().json.payload.cancel_url }}\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"dbdbb207-01c7-4622-9d37-904e99ee3d53","name":"HTTP Envio mensagem2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,592],"retryOnFail":false,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/{{ $json.currentChatId }}/transfer","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"66158b36005d062d145a6835"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"cef59dda-40ae-483c-b9f2-93bd96f5959d","name":"HTTP Transfere Setor1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,592],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Normalização').first().json.phoneNumber }}\",\n  \"message\": \"Olá {{ $('Variaveis').first().json.user.name }}, seu agendamento foi cancelado.\",\n  \"isWhisper\": false,\n  \"forceSend\": true,\n  \"verifyContact\": false\n}\n","options":{}},"id":"fae22eee-dd77-4c7f-ab48-6b609e0f70d0","name":"HTTP Envio cancelamento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,976],"onError":"continueRegularOutput"},{"parameters":{"method":"DELETE","url":"=https://api.stw.chat/core/v2/api/chats/messages/scheduler/{{ $json.Id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"054dd42b-889f-4110-b6ff-12afdf1ae3ff","name":"HTTP Cancelamento envio2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,976],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/messages/scheduler/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"status\": 0,\n\"number\": \"{{ $('Normalização').first().json.phoneNumber }}\"\n}   ","options":{}},"id":"052a904f-b6e7-412c-b490-4f1491ea49a0","name":"HTTP Lista agendamento2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,976],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Agendado","fieldValue":"=-"},{"column":"Cancelado","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"}]},"options":{}},"id":"a08d37b8-4216-4700-9c02-4c48cbf28f9f","name":"Cancela data na planilha1","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2656,976],"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}}},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Normalização').first().json.phoneNumber }}\",\n    \"templateId\": \"67d80796031c821c70ee9a96\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Calendly Trigger').first().json.payload.name }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.date }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.time }}\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"c20d7e9e-f119-493a-ae84-42e704f8c275","name":"HTTP Envio mensagem4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,208],"retryOnFail":false,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"DELETE","url":"=https://api.stw.chat/core/v2/api/chats/messages/scheduler/{{ $json.Id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"2a360dd2-5bb8-44f7-926c-119ae061e06e","name":"HTTP Cancelamento envio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,208],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/messages/scheduler/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"status\": 0,\n\"number\": \"{{ $('Normalização').first().json.phoneNumber }}\"\n}   ","options":{}},"id":"d34810b8-4e40-4694-b91c-4aa92efc6bf7","name":"HTTP Lista agendamento3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,208],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{"rawData":false}},"id":"0718c3d0-3627-48a5-b405-844897e931d7","name":"Verificação numero","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1088,800],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.all();\n\nconst formattedphone = $('Normalização').first().json.phoneNumber\n\nif (Array.isArray(data)) {\n    const phoneNumbers = data.map(item => item.json.Telefone).filter(phone => phone);\n    const exists = phoneNumbers.includes(formattedphone);\n\n    const scheduledValue = data.find(item => item.json.Telefone === formattedphone)?.json?.Agendado;\n    const scheduledExists = scheduledValue != null && scheduledValue !== \"\";\n  \n    return {\n        json: { \n          exists: exists,\n          scheduledExists: scheduledExists\n        }\n    };\n} else {\n    return {\n        json: { exists: false, scheduledExists: false}\n    };\n}\n"},"id":"160e1a51-b558-4149-918a-bd4862f2f117","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,704]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68d68825-4181-4791-90d9-9a28ad416acd","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,704],"id":"174a296f-f024-4ca2-8596-b9cac48647ad","name":"If1"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Agendado","fieldValue":"={{ $('Normalização').first().json.date }} - {{ $('Normalização').first().json.time }}"},{"column":"Hora Criado","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"}]},"options":{}},"id":"8e98fec3-8813-4f15-9ec8-00d1969284d2","name":"Atualiza data na planilha1","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1984,592],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ea9c1835-6aa8-4b16-92c6-ef16732449fe","leftValue":"={{ $('If1').item.json.scheduledExists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0472ce59-ddbe-4a5d-b3b6-52482f69c3c2","name":"Cancelou e Agendou?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1984,784]},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Reagendou","fieldValue":"=SIM"}]},"options":{}},"id":"cf827a87-a1b4-44da-ae33-1bf20a3028a6","name":"Atualiza","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2208,784],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"oAuth2","scope":"organization","events":["invitee.created","invitee.canceled"]},"id":"21c7b70b-963f-40d2-bb9d-a6fdfc7b3d77","name":"Calendly Trigger","type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[192,800],"webhookId":"bddbdce7-8945-484f-a80d-2a22cb5342cf","notesInFlow":false,"credentials":{"calendlyOAuth2Api":{"id":"YswHYmZLRHKnBTy6","name":"Calendly account 2"}}},{"parameters":{"resource":"worksheet","operation":"append","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0300-000000000000}","mode":"list","cachedResultName":"NumeroDiferente","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=NumeroDiferente!A1"},"fieldsUi":{"values":[{"column":"Nome","fieldValue":"={{ $('Variaveis').first().json.user.name }}"},{"column":"Numero Inserido","fieldValue":"={{ $('Normalização').first().json.phoneNumber }}"},{"column":"Data Criou","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"},{"column":"Data Agenda","fieldValue":"={{ $('Normalização').first().json.date }} - {{ $('Normalização').first().json.time }}"}]},"options":{}},"id":"5a5903bb-229a-45dd-8460-2732ebf3bd99","name":"Numero diferente","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1760,800],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"append","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0700-000000000000}","mode":"list","cachedResultName":"Log errors","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Log%20errors!A1"},"fieldsUi":{"values":[{"column":"ERRO","fieldValue":"={{$json.error}}"},{"column":"Hora","fieldValue":"={{ $('Normalização').first().createdAtFormatted }}"}]},"options":{}},"id":"242938a3-4ccc-4e4c-ab1b-aee4844c14cb","name":"Log errors","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1312,896],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueRegularOutput"},{"parameters":{"content":"VERIFICAÇÃO SE NÚMERO EXISTE NA PLANLIHA","height":340,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,720],"id":"a8c4bbf6-1920-46be-ba1b-a3cd657e94ad","name":"Sticky Note"},{"parameters":{"url":"https://api.calendly.com/user_busy_times","sendQuery":true,"queryParameters":{"parameters":[{"name":"user","value":"https://api.calendly.com/users/1f8f12cd-5472-4547-afbb-192411752f27"},{"name":"start_time","value":"2025-05-22T20:00:00.000000Z"},{"name":"end_time","value":"2025-05-28T00:00:00.000000Z"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQ0OTAxNzUxLCJqdGkiOiI3YTIxMDY1My02NGI3LTQyYmEtOTM0MC0zNTA5ZTY1ZmExMDAiLCJ1c2VyX3V1aWQiOiIxZjhmMTJjZC01NDcyLTQ1NDctYWZiYi0xOTI0MTE3NTJmMjcifQ.YHC2CsPG8efwoTjY0sVhFW2JHnxMzjBoMOII_bJ4ndrULgw-kcv0Ux-qhSJy4qrHCgnQ1qG8Pof8N1AMZAF87w"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-64],"id":"6094bc06-b767-45d3-9a1c-6215eb8446ca","name":"HTTP Request"}],"connections":{"Variaveis":{"main":[[{"node":"Normalização","type":"main","index":0}]]},"Normalização":{"main":[[{"node":"Verificação numero","type":"main","index":0}]]},"É evento cancelado ou agendado?":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Envio mensagem4","type":"main","index":0},{"node":"Atualiza data na planilha2","type":"main","index":0}],[{"node":"Atualiza data na planilha1","type":"main","index":0},{"node":"Cancelou e Agendou?","type":"main","index":0}],[{"node":"HTTP Envio cancelamento1","type":"main","index":0}]]},"HTTP Envio mensagem2":{"main":[[{"node":"HTTP Transfere Setor1","type":"main","index":0}]]},"HTTP Transfere Setor1":{"main":[[],[{"node":"Erro ao transferir","type":"main","index":0}]]},"HTTP Envio cancelamento1":{"main":[[{"node":"HTTP Lista agendamento2","type":"main","index":0}]]},"HTTP Cancelamento envio2":{"main":[[{"node":"Cancela data na planilha1","type":"main","index":0}]]},"HTTP Lista agendamento2":{"main":[[{"node":"HTTP Cancelamento envio2","type":"main","index":0}]]},"HTTP Envio mensagem4":{"main":[[{"node":"HTTP Lista agendamento3","type":"main","index":0}]]},"HTTP Lista agendamento3":{"main":[[{"node":"HTTP Cancelamento envio3","type":"main","index":0}]]},"Verificação numero":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Log errors","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Numero diferente","type":"main","index":0}]]},"Atualiza data na planilha1":{"main":[[{"node":"HTTP Envio mensagem2","type":"main","index":0}]]},"Cancelou e Agendou?":{"main":[[{"node":"Atualiza","type":"main","index":0}]]},"Calendly Trigger":{"main":[[{"node":"É evento cancelado ou agendado?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/14d8c128-39e4-4df9-8d09-52f38639a848"}},"meta":null,"pinData":{},"versionId":"612f6fcb-cc47-4c17-a06d-50699a5a9750","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:28:31.021Z","updatedAt":"2025-10-22T00:28:31.021Z","role":"workflow:owner","workflowId":"I8MgGq4wWBTKUrTu","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}