iQnikKkaxMDEvXFf.json
{"createdAt":"2025-10-22T00:26:04.207Z","updatedAt":"2025-10-22T00:26:04.207Z","id":"iQnikKkaxMDEvXFf","name":"Agente Regional - Tools Agendamento","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"type"},{"name":"data"},{"name":"numero"},{"name":"sinistro"}]}},"id":"fc554df2-e9ed-410f-94ee-6161900ea22a","typeVersion":1.1,"name":"sub-workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-272,112]},{"parameters":{"jsCode":"const collection = $json.collection;\n\nreturn collection.map(item => ({ start_time: item.start_time }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-96],"id":"b82fcb76-fed1-4389-b663-ee760cbf30ed","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('sub-workflow').item.json.type }}","rightValue":"getDates","operator":{"type":"string","operation":"equals"},"id":"8f3e4535-6260-472e-a9ec-723550b14bdc"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26db2cf9-86f8-412a-b8e8-d1b389a4c4b1","leftValue":"={{ $('sub-workflow').item.json.type }}","rightValue":"scheduleAppointment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20f59d09-4b5b-48bd-973c-b5a21a75b59e","leftValue":"={{ $('sub-workflow').item.json.type }}","rightValue":"rescheduleAppointment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-48,112],"id":"688f99f0-e96a-4d48-be77-203dfb216028","name":"Switch2"},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","sendQuery":true,"queryParameters":{"parameters":[{"name":"end_time","value":"={{ $now.setZone('utc').plus({ days: 7, minutes: 5 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'\") }}"},{"name":"start_time","value":"={{ $now.setZone('utc').plus({ minutes: 5 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'\") }}"},{"name":"event_type","value":"https://api.calendly.com/event_types/fa28e36a-3192-4c1c-a493-d6eda0c4c469"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQ0OTAxNzUxLCJqdGkiOiI3YTIxMDY1My02NGI3LTQyYmEtOTM0MC0zNTA5ZTY1ZmExMDAiLCJ1c2VyX3V1aWQiOiIxZjhmMTJjZC01NDcyLTQ1NDctYWZiYi0xOTI0MTE3NTJmMjcifQ.YHC2CsPG8efwoTjY0sVhFW2JHnxMzjBoMOII_bJ4ndrULgw-kcv0Ux-qhSJy4qrHCgnQ1qG8Pof8N1AMZAF87w"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-96],"id":"65841404-439e-4018-a2ca-64c2611b6039","name":"list"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[624,-96],"id":"c51f9aa6-f851-4fe6-b5a5-2ecaaf8886d0","name":"Limit1"},{"parameters":{"jsCode":"// Obtem todos os itens de entrada\nconst data = $input.all();\nconst horarios = data.map((item, index) => {\n  const dt = new Date(item.json.start_time);\n  const horario = dt.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }).replace(\",\", \"\");\n  return {\n    title: horario,\n    option: (index + 1).toString()\n  };\n}).slice(0, 10);\n\nconst payload = {\n  scriptIdCallback: \"test\",\n  title: \"Horários disponíveis\",\n  footer: \"Horários\",\n  text: \"Segue abaixo os horários disponíveis\",\n  buttonText: \"ver\",\n  sections: [{\n    title: \"teste\",\n    rows: horarios\n  }]\n};\n\nreturn [{ json: {payload: JSON.stringify(payload)} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-96],"id":"a7087f2f-42ff-4d88-8956-2eac77662c46","name":"Code"},{"parameters":{"method":"POST","url":"https://calendlyscheduling.dev/api/scheduled_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"ZFpgbi3hbDASyaTi9dP4SBAGKewX273r"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"scheduling_url\": \"https://calendly.com/maschetti-vist/agendamento-online-m-v-clone\",\n  \"start_time\": \"{{ $('sub-workflow').first().json.data }}\",\n  \"fields\": [\n    {\n      \"name\": \"Nome\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.name }}\"\n    },\n    {\n      \"name\": \"E-mail\",\n      \"type\": \"string\",\n      \"value\": \"teste@email.com\"\n    },\n    {\n      \"name\": \"telefone\",\n      \"type\": \"phone_number\",\n      \"value\": \"+{{ $json.phone }}\"\n    },\n    {\n      \"name\": \"Sinistro\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.claim_number }}\"\n    }\n  ],\n  \"invitee_timezone\": \"America/Sao_Paulo\",\n  \"webhook_url\": \"https://n8n.systemway.com.vc/webhook/7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393\",\n  \"metadata\": {}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,112],"id":"afc858f8-6382-4665-9d6c-04872489e715","name":"schedule"},{"parameters":{"assignments":{"assignments":[{"id":"2c3e47b6-b1db-44d9-b9eb-afa3caecc39a","name":"message","value":"=Aguarde a confirmação","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,112],"id":"0ada41cc-233f-4c8d-bb1e-6402424c3048","name":"Edit Fields"},{"parameters":{"method":"POST","url":"={{ $json.scheduled_link }}/cancellation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQ0OTAxNzUxLCJqdGkiOiI3YTIxMDY1My02NGI3LTQyYmEtOTM0MC0zNTA5ZTY1ZmExMDAiLCJ1c2VyX3V1aWQiOiIxZjhmMTJjZC01NDcyLTQ1NDctYWZiYi0xOTI0MTE3NTJmMjcifQ.YHC2CsPG8efwoTjY0sVhFW2JHnxMzjBoMOII_bJ4ndrULgw-kcv0Ux-qhSJy4qrHCgnQ1qG8Pof8N1AMZAF87w"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,304],"id":"ad286e3b-e494-41bf-acd8-bbb3a7e800ae","name":"cancel"},{"parameters":{"operation":"get","tableId":"schedules","filters":{"conditions":[{"keyName":"claim_number","keyValue":"={{ $json.sinistro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,304],"id":"7b5b1307-856f-4f83-a04e-5dac6b697411","name":"Supabase","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"operation":"get","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","keyValue":"={{ $json.sinistro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,112],"id":"c3b8eb1e-0d6a-4e81-bd75-5ed6220539b3","name":"Supabase2","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"method":"POST","url":"https://calendlyscheduling.dev/api/scheduled_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"ZFpgbi3hbDASyaTi9dP4SBAGKewX273r"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"scheduling_url\": \"https://calendly.com/maschetti-vist/agendamento-online-m-v-clone\",\n  \"start_time\": \"{{ $('Switch2').item.json.data }}\",\n  \"fields\": [\n    {\n      \"name\": \"Nome\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.name }}\"\n    },\n    {\n      \"name\": \"E-mail\",\n      \"type\": \"string\",\n      \"value\": \"teste@email.com\"\n    },\n    {\n      \"name\": \"telefone\",\n      \"type\": \"phone_number\",\n      \"value\": \"+{{ $json.phone }}\"\n    },\n    {\n      \"name\": \"Sinistro\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.claim_number }}\"\n    }\n  ],\n  \"invitee_timezone\": \"America/Sao_Paulo\",\n  \"webhook_url\": \"https://n8n.systemway.com.vc/webhook/7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393\",\n  \"metadata\": {}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,304],"id":"7f57c4a8-d427-466e-8d33-41b9d853f51e","name":"reschedule"},{"parameters":{"assignments":{"assignments":[{"id":"2c3e47b6-b1db-44d9-b9eb-afa3caecc39a","name":"message","value":"=Aguarde a confirmação","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,304],"id":"e8a84507-1bd3-4ed6-b5ab-8e1008289ff8","name":"Edit Fields2"}],"connections":{"sub-workflow":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"list","type":"main","index":0}],[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"list":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Code","type":"main","index":0}]]},"schedule":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"cancel":{"main":[[{"node":"reschedule","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"schedule","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"cancel","type":"main","index":0}]]},"reschedule":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"sub-workflow":[{"json":{"type":"getDates","data":"2025-07-03T09:30:00-03:00","numero":"5514974009711","sinistro":"45051562"}}]},"versionId":"755ce236-64f9-481d-ae42-74bc56653947","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:26:04.207Z","updatedAt":"2025-10-22T00:26:04.207Z","role":"workflow:owner","workflowId":"iQnikKkaxMDEvXFf","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}