JhBcKNDy9aPAY9QQ.json
{"createdAt":"2025-10-22T00:26:14.371Z","updatedAt":"2025-10-22T14:46:26.263Z","id":"JhBcKNDy9aPAY9QQ","name":"Agente STW - ClientInfo","active":false,"isArchived":false,"nodes":[{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,176],"id":"4cfbcec4-6906-4cd6-8eda-a97a32cd7a97","name":"UserInfo"},{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1120,192],"id":"e375afaa-a48c-4170-bd3d-30e7535d7caf","name":"Payload"},{"parameters":{"method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/{{ $node['Payload'].json.payload.sectorId }}/transfer","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"68d401bb6a56b9cc9fb8a085"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68d408ea506558bc37ecfb4d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"39b6de2e-23ea-4ed4-859d-ed4d070f160f","name":"Transfer"},{"parameters":{"operation":"executeQuery","query":"select cliente, codigo_cliente from SOLICITANTES_DESK where telefone = '{{ $node['Payload'].json.payload.whatsapp }}' ","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-448,96],"id":"ee1468c5-0d16-4e09-afad-e16f3cd89191","name":"ClientInfo","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbfa95c0-341f-4434-a5f2-601fe28b8abc","leftValue":"={{ $node['ClientInfo'].json.cliente }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"1ac31ea4-729a-40b7-9cb8-ab373501ba71","name":"UserNotFound?"},{"parameters":{"jsCode":"const items = $items();\n\nconst allInfoArray = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      clients: allInfoArray\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,192],"id":"2e2a2ac0-b627-4bfe-8730-3aaeacb72fab","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a4a31ce-628f-4070-b63c-0317d7b442c2","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,192],"id":"d95dec51-3830-47dd-9ec3-a332d3fe8234","name":"If"},{"parameters":{"operation":"get","key":"={{ $json.payload.whatsapp }}_categories","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-896,192],"id":"477930f5-1e73-4f3e-a4b5-ed011d314b31","name":"Redis","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d48d6e67-7360-4430-9b2c-d9b9f704a2d5","name":"categories","value":"={{ JSON.parse($json.propertyName) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,384],"id":"9268df82-1236-4e7a-87ed-7ee256039118","name":"Edit Fields"}],"connections":{"Payload":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Transfer":{"main":[[{"node":"UserInfo","type":"main","index":0}]]},"ClientInfo":{"main":[[{"node":"UserNotFound?","type":"main","index":0}]]},"UserNotFound?":{"main":[[{"node":"Transfer","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"UserInfo","type":"main","index":1}]]},"If":{"main":[[{"node":"ClientInfo","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"UserInfo","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"whatsapp":"5514974009711","chatId":"68caa811b8640e97214c45d2","sectorId":"6866e9fc0c21f9b0a39eaeea"}}}]},"versionId":"9dcb5fc2-d4bd-4b31-9727-c4cd7ee692a4","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:26:14.371Z","updatedAt":"2025-10-22T00:26:14.371Z","role":"workflow:owner","workflowId":"JhBcKNDy9aPAY9QQ","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}