JlUakZnktPPAMxAE.json
{"createdAt":"2025-10-22T00:22:10.433Z","updatedAt":"2025-10-29T13:47:05.664Z","id":"JlUakZnktPPAMxAE","name":"Mercado Livre - Mensagem","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"db606d9b-8913-42fb-a2e1-3be81867c140","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"1261a73d-9df8-46ef-89da-6eace89faef2","name":"Webhook","webhookId":"db606d9b-8913-42fb-a2e1-3be81867c140"},{"parameters":{"assignments":{"assignments":[{"id":"1d6b2cc6-dac9-440e-8449-7d72206aace5","name":"data.outOfHours","value":"={{(() => {   \n  const receiveDate = $json.body.received;\n  const received = new Date(receiveDate);\n  received.setUTCHours(received.getUTCHours() - 3);\n  const day = received.getUTCDay();\n  const hour = received.getUTCHours();\n  if (day === 0 || day === 6) return true;\n  if (hour < 8 || hour >= 18) return true;\n  return false;\n})()}}","type":"boolean"},{"id":"b347da20-a1e3-4faf-b45b-e2e46684becf","name":"data.questionId","value":"={{ $('Webhook').item.json.body.resource.split('/').last() }}","type":"string"},{"id":"ab13b25a-d8e4-4f73-98b1-a87b6395b310","name":"data.topic","value":"={{ $('Webhook').item.json.body.topic }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"30990a4e-ebdc-4d6a-a833-9717d64c21e7","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79550baa-24e6-4507-89d9-5c530d6d2a44","leftValue":"={{ $json.data.outOfHours }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0248e248-8369-4c76-a711-1016b66f3e16","leftValue":"={{ $json.data.topic }}","rightValue":"questions","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"f5a3e4e4-8896-4e64-996f-e374463f790a","name":"If"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/answers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"question_id","value":"={{ $('Edit Fields').item.json.data.questionId }}"},{"name":"text","value":"=Olá! \n\nRecebemos sua mensagem, mas no momento estamos fora do nosso horário de atendimento.\n\nNosso time atende de segunda a sexta-feira, das 08:00 às 18:00 (horário de Brasília).\n \nPara que possamos te ajudar da melhor forma possível, pedimos que nos envie novamente sua dúvida nesse período.\n \nAgradecemos sua compreensão e estaremos prontos para te atender no próximo horário útil.\n "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,0],"id":"528b842f-4802-4c55-b1b9-a2a546bf9aee","name":"HTTP Request1"},{"parameters":{"url":"https://api.mercadolibre.com/questions/search?seller_id=2366633420","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"UNANSWERED"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer APP_USR-4291541990258821-090114-742034478561270137cd634958bf3766-2366633420"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,240],"id":"796484cf-1a9c-43a5-90a5-12a4a1a9aa43","name":"HTTP Request2"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,240],"id":"c00c6f8c-cc81-49db-8e41-7e9ab9b12c32","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br ","subject":"Erro no Fluxo ML","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[224,240],"id":"53d95575-1825-4c5a-be9a-e883d5f425bc","name":"Send a message","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br; fabiano.nogueira@systemway.com.br","subject":"Pergunta Recebida - Fora de hora","bodyContent":"={{ $workflow.name }}\n\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1120,0],"id":"ac118111-df15-47db-8fe5-db7b17c9ca7b","name":"Send a message1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"mercado_livre_token","mode":"list","cachedResultName":"mercado_livre_token"},"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"id":"a4ee7f9d-79bf-434b-a50b-033f8da7fe52","name":"Select rows from a table1","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"255","user-agent":"github.com/go-loco/restful","accept":"application/json","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"18.206.34.84","cf-ipcountry":"US","cf-ray":"9787a9276da805c3-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"95f76b35-dd5e-4bd0-ba0c-38bc24a4cc2e","content-type":"application/json","traceparent":"00-04a15e4d7bcde36f2b29b716da90b311-4127db91a0745819-00","x-b3-sampled":"0","x-b3-spanid":"4127db91a0745819","x-b3-traceid":"04a15e4d7bcde36f2b29b716da90b311","x-forwarded-for":"18.206.34.84","x-forwarded-proto":"https","x-rest-pool-name":"pool_unknown","x-socket-timeout":"700"},"params":{},"query":{},"body":{"_id":"926fdfec-695a-4b2f-be8f-68650504145c","topic":"questions","resource":"/questions/13415982547","user_id":2366633420,"application_id":4291541990258821,"sent":"2025-09-01T21:54:04.661Z","attempts":1,"received":"2025-09-01T20:54:04.661Z","actions":[]},"webhookUrl":"https://n8n.systemway.com.vc/webhook/db606d9b-8913-42fb-a2e1-3be81867c140","executionMode":"production"}}]},"versionId":"89e3c62a-9d15-4447-8734-563c024febcc","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:22:10.433Z","updatedAt":"2025-10-22T00:22:10.433Z","role":"workflow:owner","workflowId":"JlUakZnktPPAMxAE","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}