jS7ZdvKgBXZHqI3e.json
{"createdAt":"2025-10-22T00:26:22.925Z","updatedAt":"2025-10-23T18:35:49.678Z","id":"jS7ZdvKgBXZHqI3e","name":"Agente STW - Categories","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"},{"name":"clientId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7557c930-c649-4ffd-9412-a4924aa3a849","name":"Payload"},{"parameters":{"jsCode":"const clientInfo = $('ClientInfo').first().json\nconst clientName = clientInfo.cliente\nconst applicantId = clientInfo.solicitante_id\nconst companyId = clientInfo.empresa_id\n\nconst items = $input.all();\n\nasync function getToken() {\n  const request = {\n    url: \"https://api.desk.ms/Login/autenticar\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": \"3c6a9bc092a7386d6485a2fba65b48849c8b5647\",\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n    }\n  }\n  const response = await this.helpers.httpRequest(request);\n  return response;\n}\n\n// Função para verificar se uma categoria é válida para o cliente (mantida como estava)\nasync function getCategories(token, category) {\n  const request = {\n    url: \"https://api.desk.ms/ChamadosSuporte/ListaAutocategoria\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Pesquisa\": category,\n      \"Ativo\": \"S\",\n      \"Filtro\": {\n        \"ListaCatalogoUsuario\": [applicantId, \"equal\"]\n      }\n    }\n  };\n  const response = await this.helpers.httpRequest(request);\n\n  const normalize = (s) => (s ?? \"\")\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n\n  const q = normalize(category);\n  const hasExactPrefix =\n    Array.isArray(response?.root) &&\n    response.root.some(item => {\n      const assunto = normalize(item?.Assunto);\n      return assunto.startsWith(q);\n    });\n\n  return hasExactPrefix ? category : null;\n}\n\nasync function main() {\n  const deskToken = await getToken();\n\n  const promises = items.map(item => getCategories(deskToken, item.json.categoria));\n  const validCategories = await Promise.all(promises);\n\n  const filteredCategories = validCategories.filter(Boolean);\n\n  const finalOutput = {\n    clients: [\n      {\n        empresa: clientName,\n        empresa_id: companyId,\n        solicitante_id: applicantId,\n        categorias: filteredCategories\n      }\n    ]\n  };\n  \n  // Retorna o objeto final para o n8n\n  return [{\n    json: finalOutput\n  }];\n}\n\nreturn main();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"2b61d103-0c3d-4a78-9ea5-1e3ec4199391","name":"Code"},{"parameters":{"operation":"executeQuery","query":"select distinct categoria from AUTO_CATEGORIA_DESK where categoria <> 'Sem categoria' order by categoria","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[448,0],"id":"87162fa1-82cc-4561-b0a8-da2c89aa30c8","name":"Categories","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"set","key":"={{ $node['Payload'].json.payload.whatsapp }}_categories","value":"={{ JSON.stringify($json.clients) }}","expire":true,"ttl":1000},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[896,0],"id":"0e6d21fd-e4d8-4ef5-9cbd-e02b31ec6ed0","name":"Redis","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"select cliente, chave as solicitante_id, codigo_cliente as empresa_id from SOLICITANTES_DESK where telefone = '{{ $node['Payload'].json.payload.whatsapp }}' and codigo_cliente = '{{ $json.clientId }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[224,0],"id":"796e7744-3b71-4229-b962-f8d9a51797c4","name":"ClientInfo","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"delete","key":"=5514974009711_categories"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,224],"id":"1cf03b94-799a-494a-a7f0-ddaabd548cc6","name":"Redis2","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}}],"connections":{"Code":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Categories":{"main":[[{"node":"Code","type":"main","index":0}]]},"Payload":{"main":[[{"node":"ClientInfo","type":"main","index":0}]]},"ClientInfo":{"main":[[{"node":"Categories","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"whatsapp":"5514974009711"},"clientId":"30"}}]},"versionId":"62e7939a-bbb4-45fb-ba9d-04fef8a820f9","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:26:22.925Z","updatedAt":"2025-10-22T00:26:22.925Z","role":"workflow:owner","workflowId":"jS7ZdvKgBXZHqI3e","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}