lfwjw00KhECLjJjx.json
{"createdAt":"2025-10-22T00:25:42.859Z","updatedAt":"2025-10-22T00:25:42.859Z","id":"lfwjw00KhECLjJjx","name":"SystemWay - BACKUP FIREWALL","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"55f691f5-7936-4a9f-b0c2-cf53dbff1e05","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"list"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[224,0],"id":"4f6f718a-0305-4f61-9edf-ed45ba485430","name":"FTP","credentials":{"ftp":{"id":"AHKOALrFjQP3CnJf","name":"FTP account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,0],"id":"76692470-dc8f-41b7-887e-505eb9316864","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cf3ff0a-65a5-43ec-beb3-27a9dad0f516","leftValue":"={{ $json.name !== '0 - Arquivo Morto' && $json.name !== 'Aker Control Center 34 - Windows EXE.rar' && $json.name !== 'Backup FTP FileZilla' }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"e28c9812-008e-4988-836a-4e24c2353c0d","name":"If"},{"parameters":{"operation":"list","path":"=/{{ $json.name }}"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[880,80],"id":"6bf96054-d141-4710-a5cc-067866bedabc","name":"FTP1","credentials":{"ftp":{"id":"AHKOALrFjQP3CnJf","name":"FTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61cf0713-1257-4556-bf79-e14f670ae8b4","leftValue":"={{(() => {   const fileDate = new Date($json.modifyTime);\nconst now = new Date();\nconst diff = (now - fileDate) / (1000 * 60 * 60 * 24);\nreturn diff <= 7; \n})()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,80],"id":"c4494b5c-eea8-475c-b2b9-742c7177086c","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"86e8e82d-f826-451d-8a75-9122bdf60a06","name":"size","value":"={{ $json.size }}","type":"number"},{"id":"01facf29-453b-4d57-a10e-1355f7f40266","name":"modifyTime","value":"={{ $json.modifyTime.toDateTime().format('dd/MM/yyyy t') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,80],"id":"fce50c0d-b8bf-41a9-8c04-5e89b6246632","name":"Edit Fields"},{"parameters":{"jsCode":"const backups = $input.all();\nconst tamanho_hoje = backups[backups.length - 1].json.size;\n\nconst tamanhos_anteriores = backups.slice(0, -1).map(item => item.json.size);\n\nconst media_anteriores = tamanhos_anteriores.reduce((a, b) => a + b, 0) / tamanhos_anteriores.length;\n\nconst variacao = ((tamanho_hoje - media_anteriores) / media_anteriores) * 100;\n\nconst status = Math.abs(variacao) > 20 ? 'ALERTA' : 'OK';\n\nreturn [\n  {\n    json: {\n      tamanho_hoje,\n      media_anteriores,\n      variacao_percentual: variacao.toFixed(2) + '%',\n      status\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,80],"id":"bb312c59-bc8b-4af7-b877-66f419fbf95d","name":"Code"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"FTP","type":"main","index":0}]]},"FTP":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"FTP1","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"FTP1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ba4b638a-bbe2-4c8c-bfe5-2975743eae17","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:25:42.859Z","updatedAt":"2025-10-22T00:25:42.859Z","role":"workflow:owner","workflowId":"lfwjw00KhECLjJjx","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}