MDrH0ovDDmHC47xi.json
{"createdAt":"2025-10-22T00:22:43.158Z","updatedAt":"2025-10-22T00:22:43.158Z","id":"MDrH0ovDDmHC47xi","name":"Agente STW - Response","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304],"id":"c1c8cff0-7d64-45b5-9b46-0c85b4a30fd4","name":"Payload"},{"parameters":{"jsCode":"const callback = $input.first().json.payload.ia\n\nfunction splitResponse(text){\n  const delimiters = /(?<=\\.\\s)|(?<=!\\s)|(?<=\\?\\s)/\n  return text.split(delimiters).map(item => item.trim()).filter(item => item.length > 0)\n}\nconst messages = splitResponse(callback)\n\nreturn{\n  json: {\n    messages\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,304],"id":"682efd80-cf83-476f-a54e-57ad2c84638b","name":"Code"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,304],"id":"8d21e020-bbd2-4d81-a408-ee24ac4bb481","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,304],"id":"34675a7f-7e49-4ba8-9044-548185d75641","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Payload').item.json.payload.from }}\",\n  \"message\": \"{{ $json.messages }}\",\n  \"isWhisper\": false,\n  \"forceSend\": true,\n  \"verifyContact\": false\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,224],"id":"6ac06ad3-6dd1-4fb0-bda1-2e6c94bc826b","name":"SentMessage"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,304],"id":"d63a08e4-89a0-41a3-bb1c-58f80a1b0078","name":"Wait","webhookId":"ad9cc531-8be6-48c0-9f38-deaa0f3642e1"},{"parameters":{"url":"https://api.stw.chat/core/v2/api/sectors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68d408ea506558bc37ecfb4d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"61e012b0-b7b3-4e9b-87c3-127658f6bde6","name":"HTTP Request"}],"connections":{"Payload":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"SentMessage","type":"main","index":0}]]},"SentMessage":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"from":"5514974009711","msg":{"chatId":"68c30f88746de04f801d4e81","id":"68c30ffc9c3b0858ac5e5e39","date":"2025-09-15T09:31:41.300-03:00","content":"Bom dia, tudo bem? me cham Vinicius e queria entender melhor sobre a pós e sobre os preços tambem"},"userInfo":{"id":2,"whatsapp":"5514974009711","name":null,"notes":null,"qualify":null,"created_at":"2025-09-11T12:13:42.554101"},"ia":"Bom dia, Vinicius! Tudo ótimo, e com você? Vou te ajudar com as informações sobre a pós-graduação. Antes, posso confirmar seu nome mesmo? E qual é o seu principal interesse na pós?"}}}]},"versionId":"ec719cfa-c65c-4b1b-a017-096151cfb8d0","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:22:43.158Z","updatedAt":"2025-10-22T00:22:43.158Z","role":"workflow:owner","workflowId":"MDrH0ovDDmHC47xi","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}