MiEd9H4B7NHT6mxm.json
{"createdAt":"2025-10-22T00:28:10.441Z","updatedAt":"2025-10-22T15:59:33.179Z","id":"MiEd9H4B7NHT6mxm","name":"Regional Agendamentos - Interacao Template","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"038d7b71-ccdf-48f2-abdf-1afe0c46d642","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,208],"id":"85b464fd-4252-4b0d-907d-08b7f5f5ff80","name":"If"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{}},"id":"b94727c5-75fa-42e4-853b-e24bac1eaf93","name":"Verificação numero","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[832,208],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.all();\n\nconst formattedphone = parseInt($('Status Chat').first().json.contact.number, 10);\n\nif (Array.isArray(data)) {\n    const phoneNumbers = data.map(item => item.json.Telefone).filter(phone => phone);\n\n    const exists = phoneNumbers.includes(formattedphone);\n    return {\n        json: { exists: exists }\n    };\n} else {\n    return {\n        json: { exists: false }\n    };\n}\n"},"id":"fdd92dde-274e-4bfa-ab59-9c4fc96ba5cf","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,208]},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Status Chat').first().json.contact.number }}","fieldsUi":{"values":[{"column":"Interagiu na msg","fieldValue":"=INTERAGIU"}]},"options":{}},"id":"c9c982d7-6fe9-4905-8f26-a378f50d4e8d","name":"Atualiza se interagiu","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1472,128],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"457c6aa3-f252-42dd-873f-06b71e881844","leftValue":"={{ $json.isTargetMsg }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,320],"id":"b11da1f9-3675-4501-a431-b94a07d05597","name":"If1"},{"parameters":{"httpMethod":"POST","path":"73deea39-616c-4e2a-8572-cd73497cc5cd","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,320],"id":"970ebe3c-b50c-41c4-bd13-4a0fa9d605ce","name":"Webhook","webhookId":"73deea39-616c-4e2a-8572-cd73497cc5cd"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/messages/{{ $json.messageSentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"d6f730ec-0d13-4ebd-883f-34d94a6416ba","name":"HTTP Status mensagem2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/{{ $json.chat_codigo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,320],"id":"735f96bc-3ad6-4747-9fe8-38a2e1230ef6","name":"Status Chat"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"5514997026975\",\n    \"templateId\": \"67bcfa917529da1c46339f7d\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Vinicius\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Produto X\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Sinistro X\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"https://calendly.com/maschetti-vist/agendamento-online1\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  \n","options":{}},"id":"c8afa182-c3d9-4747-bf21-302683ce607a","name":"HTTP Envio mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"aa201988-dff0-4e22-a0d0-ac049dc54142","name":"chat_codigo","value":"={{ $json.body.chat_codigo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,320],"id":"65edcb73-28b4-4860-8c1f-35a6042baad3","name":"Edit Fields"},{"parameters":{"jsCode":"const messages = $input.first().json.messages\nconst phoneNumber = $input.first().json.contact.number\nlet firstMessageIsFaleConosco  = false\nif (messages && messages.length > 0){\n  firstMessageIsFaleConosco = messages?.find(mgs => !mgs.isSentByMe)?.text?.toLowerCase() === \"fale conosco\";\n}\n\nreturn{\n  isTargetMsg: firstMessageIsFaleConosco,\n  phoneNumber: phoneNumber\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,320],"id":"8e73720e-0a6c-4073-9be9-d544afb41471","name":"Code"}],"connections":{"If":{"main":[[{"node":"Atualiza se interagiu","type":"main","index":0}]]},"Verificação numero":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Verificação numero","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Status Chat":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Envio mensagem":{"main":[[{"node":"HTTP Status mensagem2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Status Chat","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Status mensagem2":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.systemway.com.vc","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","content-length":"183","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"49.13.65.79","cf-ipcountry":"DE","cf-ray":"92ad302f09963814-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"29bfab27-86f4-4fa9-a33c-7c8b34e6df8e","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"49.13.65.79","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"ScriptName":"Interação com o Template","tipoLog":"INFO","Message":"Chat Acionado","Script":"console.log(teste)","usuario":"@usuario.nome","chat_codigo":"67ef3c3f7309e1cfcb7661c0"},"webhookUrl":"https://n8n.systemway.com.vc/webhook/73deea39-616c-4e2a-8572-cd73497cc5cd","executionMode":"production"}}]},"versionId":"4001c54a-cc01-4e67-bf7c-da71f7c12d82","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:28:10.441Z","updatedAt":"2025-10-22T00:28:10.441Z","role":"workflow:owner","workflowId":"MiEd9H4B7NHT6mxm","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}