N9FupVnmuLNWXmT3.json
{"createdAt":"2025-10-22T00:20:20.379Z","updatedAt":"2025-10-28T13:03:42.160Z","id":"N9FupVnmuLNWXmT3","name":"Agente STW - Open Ticket","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"},{"name":"resume"},{"name":"assunto_completo"},{"name":"isUrgent","type":"boolean"}]}},"id":"7e71d2e2-9e01-4241-8655-3850c1f0c06f","typeVersion":1.1,"name":"Payload","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-336,-112]},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/{{ $json.payload.chatId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-112],"id":"b87e3d5a-d4a3-49ab-b1c4-ed99236bcd83","name":"GetMessages"},{"parameters":{"jsCode":"function formatDescricao(messages) {\n  return messages\n    .filter(msg => !msg.isSystemMessage && !msg.isPrivate)\n    .map(msg => {\n      const remetente = msg.isSentByMe ? 'Técnico' : msg.senderName;\n\n      const date = new Date(msg.dhMessage || msg.utcDhMessage);\n      const dataHorario = date.toLocaleString('pt-BR', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n      });\n\n      if (msg.dataMedia && msg.dataMedia.urlFile && msg.dataMedia.mimetype) {\n        const tipo = (msg.dataMedia.mimetype.split('/')[1] || 'arquivo');\n        const nome = msg.dataMedia.filename || 'arquivo';\n        return `[${dataHorario}] ${remetente}:\\n[${tipo}] ${nome} - ${msg.dataMedia.urlFile}`;\n      }\n      \n      return `[${dataHorario}] ${remetente}:\\n${msg.text || ''}`;\n    })\n    .join('\\n\\n');\n}\n\nconst messages = $input.first().json.messages || [];\n\nconst descricaoFormatada = formatDescricao(messages);\n\nreturn [{\n  json: {\n    descricao: descricaoFormatada\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-112],"id":"711d693c-a8a5-49c8-8295-c11cbe461716","name":"FormatChatMessages"}],"connections":{"Payload":{"main":[[{"node":"GetMessages","type":"main","index":0}]]},"GetMessages":{"main":[[{"node":"FormatChatMessages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"chatId":"68f8ebb635262264fd6ed9fd"},"resume":"teste","assunto_completo":"teste"}}]},"versionId":"89bb65a1-e13a-4129-8615-35adaafd1423","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:20:20.379Z","updatedAt":"2025-10-22T00:20:20.379Z","role":"workflow:owner","workflowId":"N9FupVnmuLNWXmT3","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}