OAzysMio3d7TKwP2.json
{"createdAt":"2025-10-22T00:22:31.273Z","updatedAt":"2025-10-22T00:22:31.273Z","id":"OAzysMio3d7TKwP2","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/geral/clientes/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"call\":\"ConsultarCliente\",\n    \"app_key\":\"1505356161309\",\n    \"app_secret\":\"601ebbc4215eb60e7b9899f2ea3947b9\",\n    \"param\":[\n            {\n            \"codigo_cliente_omie\": {{ $json[\"codigoClienteFornecedor\"] }}\n            }\n        ]\n}","options":{}},"id":"b62fd30d-afe7-43b1-8d73-80ac116a2a42","name":"IDENTIFICAR CLIENTE OMIE","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[768,-80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"status\"] }}","value2":"202"}]}},"id":"984a94b3-6d3d-486e-9b4d-1c1650d6dda4","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1584,-80],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json-patch+json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"number\": \"55 {{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"telefone1_ddd\"] }} {{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"telefone1_numero\"] }}\",\n  \"templateId\": \"66353a5e4d55fc3e45d35a73\",\n  \"templateComponents\": [\n    {\n      \"type\": \"BODY\",\n      \"parameters\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"razao_social\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code').item.json[\"dataFormatada\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code').item.json[\"valor_documento\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Gerar Boleto').item.json[\"cCodBarras\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Chave PIX: 07944380000161\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Gerar Boleto').item.json[\"cLinkBoleto\"] }}\"\n        }\n      ]\n    }\n  ],\n  \"forceSend\": true,\n  \"verifyContact\": false\n}","options":{}},"id":"fc16ff2c-b429-4e71-82bf-7d450406c088","name":"Enviar Template","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1328,-80]},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceberboleto/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"call\":\"GerarBoleto\",\n    \"app_key\": \"1505356161309\",\n    \"app_secret\": \"601ebbc4215eb60e7b9899f2ea3947b9\",\n    \"param\":[\n        {\n            \"nCodTitulo\": \"{{ $node[\"Code\"].json[\"codigo_lancamento_omie\"] }}\"\n        }\n    ]\n}","options":{}},"id":"54387cb2-bbfc-4005-93e7-fa3a8d601d5c","name":"Gerar Boleto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1040,-80],"continueOnFail":true},{"parameters":{"jsCode":"const data = items[0].json[\"body\"][\"event\"][\"data_vencimento\"];\nlet dataFormatada = new Date(data);\ndataFormatada = `${dataFormatada.getDate()}/${dataFormatada.getMonth() + 1}/${dataFormatada.getFullYear()}`;\n\nconst codigoClienteFornecedor = items[0].json[\"body\"][\"event\"][\"codigo_cliente_fornecedor\"];\n\nconst valor_documento = items[0].json[\"body\"][\"event\"][\"valor_documento\"];\n\nconst codigo_lancamento_omie = items[0].json[\"body\"][\"event\"][\"codigo_lancamento_omie\"];\n\nconst boleto_numero = items[0].json[\"body\"][\"event\"][\"boleto_numero\"];\n\nreturn [{ json: { dataFormatada, codigoClienteFornecedor, valor_documento, codigo_lancamento_omie, boleto_numero } }];\n"},"id":"7dc116ca-a110-41dd-9be3-0b87d3c0c894","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[496,-80],"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"omie-system-way-murilo","options":{}},"id":"d2c0ca24-45ff-4612-bc72-3a5b99714efd","name":"EVENTO COBRANCA GERADA","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[256,-80],"webhookId":"5d60937a-1568-4394-b650-2e037baf69ff"}],"connections":{"IDENTIFICAR CLIENTE OMIE":{"main":[[{"node":"Gerar Boleto","type":"main","index":0}]]},"Code":{"main":[[{"node":"IDENTIFICAR CLIENTE OMIE","type":"main","index":0}]]},"Gerar Boleto":{"main":[[{"node":"Enviar Template","type":"main","index":0}]]},"Enviar Template":{"main":[[{"node":"IF","type":"main","index":0}]]},"EVENTO COBRANCA GERADA":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b7f6ad5f-c8c9-45d2-970d-39078f347172","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:22:31.273Z","updatedAt":"2025-10-22T00:22:31.273Z","role":"workflow:owner","workflowId":"OAzysMio3d7TKwP2","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}