OQmTkLfAE2PDp1zy.json
{"createdAt":"2025-07-18T19:29:23.688Z","updatedAt":"2025-07-18T19:29:23.688Z","id":"OQmTkLfAE2PDp1zy","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/geral/clientes/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"call\":\"ConsultarCliente\",\n    \"app_key\":\"1505356161309\",\n    \"app_secret\":\"601ebbc4215eb60e7b9899f2ea3947b9\",\n    \"param\":[\n            {\n            \"codigo_cliente_omie\": {{ $json[\"codigoClienteFornecedor\"] }}\n            }\n        ]\n}","options":{}},"id":"2e5f7dcf-ed91-42d9-a5de-553d422e1266","name":"IDENTIFICAR CLIENTE OMIE","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-280,320]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"status\"] }}","value2":"202"}]}},"id":"83dacc76-32ce-421b-801a-396269b977a0","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[540,320],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json-patch+json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"number\": \"55 {{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"telefone1_ddd\"] }} {{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"telefone1_numero\"] }}\",\n  \"templateId\": \"66353a5e4d55fc3e45d35a73\",\n  \"templateComponents\": [\n    {\n      \"type\": \"BODY\",\n      \"parameters\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('IDENTIFICAR CLIENTE OMIE').item.json[\"razao_social\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code').item.json[\"dataFormatada\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Code').item.json[\"valor_documento\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Gerar Boleto').item.json[\"cCodBarras\"] }}\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Chave PIX: 07944380000161\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Gerar Boleto').item.json[\"cLinkBoleto\"] }}\"\n        }\n      ]\n    }\n  ],\n  \"forceSend\": true,\n  \"verifyContact\": false\n}","options":{}},"id":"a951ce78-c7e3-446d-b53c-8cd63db6d580","name":"Enviar Template","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[280,320]},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceberboleto/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"call\":\"GerarBoleto\",\n    \"app_key\": \"1505356161309\",\n    \"app_secret\": \"601ebbc4215eb60e7b9899f2ea3947b9\",\n    \"param\":[\n        {\n            \"nCodTitulo\": \"{{ $node[\"Code\"].json[\"codigo_lancamento_omie\"] }}\"\n        }\n    ]\n}","options":{}},"id":"210d915f-3e9b-4ec9-b237-d277fc04d39f","name":"Gerar Boleto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,320],"continueOnFail":true},{"parameters":{"jsCode":"const data = items[0].json[\"body\"][\"event\"][\"data_vencimento\"];\nlet dataFormatada = new Date(data);\ndataFormatada = `${dataFormatada.getDate()}/${dataFormatada.getMonth() + 1}/${dataFormatada.getFullYear()}`;\n\nconst codigoClienteFornecedor = items[0].json[\"body\"][\"event\"][\"codigo_cliente_fornecedor\"];\n\nconst valor_documento = items[0].json[\"body\"][\"event\"][\"valor_documento\"];\n\nconst codigo_lancamento_omie = items[0].json[\"body\"][\"event\"][\"codigo_lancamento_omie\"];\n\nconst boleto_numero = items[0].json[\"body\"][\"event\"][\"boleto_numero\"];\n\nreturn [{ json: { dataFormatada, codigoClienteFornecedor, valor_documento, codigo_lancamento_omie, boleto_numero } }];\n"},"id":"853a0ab1-7f37-4216-8951-31dd7fe60d3f","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-540,320],"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"omie-system-way-murilo","options":{}},"id":"1b0370fb-97f4-4c3b-bd8f-6c04bcadcdfb","name":"EVENTO COBRANCA GERADA","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-780,320],"webhookId":"5d60937a-1568-4394-b650-2e037baf69ff"}],"connections":{"IDENTIFICAR CLIENTE OMIE":{"main":[[{"node":"Gerar Boleto","type":"main","index":0}]]},"Code":{"main":[[{"node":"IDENTIFICAR CLIENTE OMIE","type":"main","index":0}]]},"Gerar Boleto":{"main":[[{"node":"Enviar Template","type":"main","index":0}]]},"Enviar Template":{"main":[[{"node":"IF","type":"main","index":0}]]},"EVENTO COBRANCA GERADA":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"97a6c67f-7e68-46f4-8d46-a26905bdc710","triggerCount":0,"shared":[],"tags":[]}