RMWFbJWTcYCUHj3G.json
{"createdAt":"2025-10-22T00:28:55.906Z","updatedAt":"2025-10-29T20:24:02.113Z","id":"RMWFbJWTcYCUHj3G","name":"Integracao STW Chat e Desk - Formulario Integracao","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.categorias }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,640],"id":"5ba8960b-8eb6-4d80-8ec1-23783653e38b","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"=get-categories-list","operator":{"type":"string","operation":"equals"},"id":"9e6ce5fc-cefd-4a27-ab32-d2126ea30696"}],"combinator":"and"},"renameOutput":true,"outputKey":"categorias"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95b20d97-a88a-4164-859f-97e44e9cdb64","leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"get-subcategories-list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sub-categorias"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d36a600-72f3-4c15-a7e1-8e0fd5dfc357","leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"get-types-list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tipo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ddaa321-df74-45e1-8f5d-d49508a69ffa","leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"get-operators-list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"operadores"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4950265e-d81b-4cab-9f3a-708d4880782a","leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"get-applicants-list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"solicitantes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81f4a870-0a5a-466a-896d-9ae91c6dffc3","leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"get-status","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"status"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"727c3491-453b-4d3f-8d6a-2f971e8255ac","leftValue":"={{ $('RequestDesk').item.json.body.event }}","rightValue":"get-open-tickets","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"chamados"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1600,1184],"id":"e7d2f745-171d-4b42-aa36-b6cdddaccb63","name":"Switch"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1808,1264],"id":"354e19b7-1b02-43ea-a262-04a4001bd53c","name":"getToken"},{"parameters":{"httpMethod":"POST","path":"proxy-integration-desk","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2000,1264],"id":"c16e092b-51ac-4fbb-9a82-05754dee4a47","name":"RequestDesk","webhookId":"ee451848-6029-4fd1-9fab-c30fb0b0babd"},{"parameters":{"jsCode":"const items = $input.all();\nasync function main() {\n  const subcategorias = items.map(item => item.json.sub_categoria);\n\n  return {\n    json: {\n      subcategorias\n    }\n  };\n}\n\nreturn main();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,832],"id":"de272d70-5382-4728-9356-1007a282964f","name":"Code1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.subcategorias }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,832],"id":"6caa1e18-8282-4ec9-83de-8887da09a46b","name":"Respond to Webhook3"},{"parameters":{"jsCode":"const token = $('getToken').item.json.data;\nconst items = $input.all();\nconst number = $('RequestDesk').first().json.body.number\nconst solicitanteId = $('RequestDesk').first().json.body.solicitanteId\n\nasync function getAssuntos(categoria, codigoCliente) {\n  const request = {\n    url: \"https://api.desk.ms/ChamadosSuporte/ListaAutocategoria\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Pesquisa\": categoria,\n      \"Ativo\": \"S\",\n      \"Filtro\": {\n        \"ListaCatalogoUsuario\": [codigoCliente, \"equal\"]\n      }\n    }\n  };\n\n  const response = await this.helpers.httpRequest(request);\n\n  const normalize = (s) => (s ?? \"\")\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n\n  const q = normalize(categoria);\n  const hasExactPrefix =\n    Array.isArray(response?.root) &&\n    response.root.some(item => {\n      const assunto = normalize(item?.Assunto);\n      return assunto.startsWith(q);\n    });\n\n  return hasExactPrefix ? categoria : null;\n}\n\nasync function main() {\n  const promises = items.map(item => getAssuntos(item.json.categoria, solicitanteId));\n  const categoriasComChave = await Promise.all(promises);\n\n  const categoriasFiltradas = categoriasComChave.filter(Boolean);\n\n  return {\n    json: {\n      categorias: categoriasFiltradas\n    }\n  };\n}\n\nreturn main();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,640],"id":"4f2073b9-ace2-46d9-981a-4e0831eedd4e","name":"Code4","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"select distinct sub_categoria from AUTO_CATEGORIA_DESK where categoria = '{{ $('RequestDesk').item.json.body.assuntoId }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,832],"id":"e80a1724-85ec-44e6-89e4-a54f732e9db1","name":"MySQL3","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct tipo from AUTO_CATEGORIA_DESK where categoria = '{{ $('RequestDesk').item.json.body.assunto }}' and  sub_categoria = '{{ $('RequestDesk').item.json.body.subcategoria }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,992],"id":"c322d7f4-6169-4f58-b8bf-df468d27f89e","name":"MySQL2","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.tipos }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,992],"id":"18a599b6-394e-43cc-9ef9-50943155c8e5","name":"Respond to Webhook4"},{"parameters":{"jsCode":"const items = $input.all();\nasync function main() {\n  const tipos = items.map(item => item.json.tipo);\n\n  return {\n    json: {\n      tipos\n    }\n  };\n}\n\nreturn main();\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,992],"id":"e3068e0e-f3fc-4703-9836-2a0bcd02741d","name":"Code"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n  <title>Formulário de Atendimento</title>\n\n<style>\n    body {\n      background: #f9f9f9;\n      color: #333;\n      padding-bottom: 80px;\n      /* min-height: 100vh; */\n    }\n    .form-container {\n      max-width: 400px;\n      background: #fff;\n      border-radius: 10px;\n      box-shadow: 0 2px 16px rgba(0,0,0,0.07);\n      margin: 32px auto 0 auto;\n      padding: 24px;\n    }\n    \n    /* Modal customizado */\n    #modal-confirm {\n      display: none;\n      position: fixed; \n      top: 0; left: 0; right: 0; bottom: 0;\n      background: rgba(0,0,0,0.3);\n      align-items: center; \n      justify-content: center; \n      z-index: 9999;\n    }\n    #modal-confirm .modal-box {\n      background: white;\n      padding: 24px 18px;\n      border-radius: 10px;\n      min-width: 250px;\n      text-align: center;\n      box-shadow: 0 2px 16px rgba(0,0,0,0.18);\n    }\n</style>\n\n</head>\n<body>\n  <div class=\"form-container\">\n    <!-- <h4 class=\"mb-3 text-center\">Formulário de Atendimento</h4> -->\n    <form id=\"form-atendimento\" action=\"https://n8n.systemway.com.vc/webhook/749c4c10-156f-4044-845f-a7b1bc4c55a2\" method=\"POST\">\n      <input type=\"hidden\" id=\"chatId\" name=\"chatId\" value=\"{{ $json.query.chatId }}\">\n      <input type=\"hidden\" id=\"number\" name=\"number\" value=\"{{ $json.query.number }}\"> \n      <input type=\"hidden\" id=\"cliente\" name=\"cliente\">\n      <input type=\"hidden\" id=\"nomeSolicitante\" name=\"nomeSolicitante\">\n      <input type=\"hidden\" id=\"solicitanteId\" name=\"solicitanteId\">\n\n      <div class=\"mb-3\">\n        <label for=\"solicitante\" class=\"form-label\">Solicitante:</label>\n        <select id=\"solicitante\" name=\"solicitante\" class=\"form-select\" required></select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"assunto\" class=\"form-label\">Assunto:</label>\n        <select id=\"assunto\" name=\"assunto\" class=\"form-select\" required></select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"subcategoria\" class=\"form-label\">Subcategoria:</label>\n        <select id=\"subcategoria\" name=\"subcategoria\" class=\"form-select\" required></select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"tipo\" class=\"form-label\">Tipo:</label>\n        <select id=\"tipo\" name=\"tipo\" class=\"form-select\" required></select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"obsInterna\" class=\"form-label\">Observação Interna:</label>\n        <textarea id=\"obsInterna\" name=\"obsInterna\" class=\"form-control\" rows=\"4\" placeholder=\"Descreva o problema ...\"></textarea>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"grupo\" class=\"form-label\">Grupo:</label>\n        <select id=\"grupo\" name=\"grupo\" class=\"form-select\"></select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"operador\" class=\"form-label\">Operador:</label>\n        <select id=\"operador\" name=\"operador\" class=\"form-select\"></select>\n      </div>\n      <button id=\"btn-enviar\" type=\"submit\" class=\"btn btn-success\">Enviar</button>\n    </form>\n  </div>\n\n  <!-- Modal de confirmação -->\n  <div id=\"modal-confirm\">\n    <div class=\"modal-box\">\n      <div style=\"font-weight: bold; margin-bottom:10px;\">Confirmação</div>\n      <div style=\"margin-bottom:20px;\">Tem certeza que deseja abrir o chamado?</div>\n      <button id=\"modal-confirm-ok\" class=\"btn btn-success me-2\">Confirmar</button>\n      <button id=\"modal-confirm-cancel\" class=\"btn btn-success\">Cancelar</button>\n    </div>\n  </div>\n\n  <!-- Loader Bootstrap -->\n  <div id=\"form-loader\" style=\"display: none; position: fixed; top:0; left:0; right:0; bottom:0; background: rgba(255,255,255,0.7); z-index: 99999; align-items: center; justify-content: center;\">\n    <div class=\"d-flex flex-column align-items-center\">\n      <div class=\"spinner-border text-success\" role=\"status\" style=\"width: 3rem; height: 3rem;\">\n        <span class=\"visually-hidden\">Carregando...</span>\n      </div>\n      <div style=\"margin-top: 16px; color: #198754;\">Enviando formulário...</div>\n    </div>\n  </div>\n\n<script>\n  let operadoresData = [];\n  \n  async function getApplicants(){\n    try {\n      const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          'event': 'get-applicants-list',\n          'number': '{{ $json.query.number }}'\n        })\n      });\n\n      if (!response.ok) throw new Error('Erro ao buscar lista');\n\n      const data = await response.json(); // Array de strings\n      console.log(\"Solicitantes:\", data);\n\n      const selectSolicitante = document.getElementById('solicitante');\n      selectSolicitante.innerHTML = '<option value=\"\"></option>' // limpa opções anteriores\n\n      data.forEach(item => {\n        const displayName = `${item.cliente} - ${item.nome_completo}`;\n        const option = document.createElement('option');\n        option.value = displayName;\n        option.textContent = displayName;\n        \n        option.dataset.cliente = item.cliente;\n        option.dataset.nome = item.nome_completo;\n        option.dataset.solicitanteId = item.chave_solicitante\n    \n        selectSolicitante.appendChild(option);\n      });\n\n    } catch (error) {\n      console.error('Erro ao buscar dados:', error);\n    }\n  }\n  async function getCategories(nomeSolicitante, solicitanteId) {\n    try {\n      const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          'event': 'get-categories-list',\n          'name': nomeSolicitante,\n          'number': '{{ $json.query.number }}',\n          'solicitanteId': solicitanteId\n        })\n      });\n\n      if (!response.ok) throw new Error('Erro ao buscar lista');\n\n      const data = await response.json();\n      // console.log(\"Categorias recebidas:\", data);\n\n      const selectAssunto = document.getElementById('assunto');\n      selectAssunto.innerHTML = '<option value=\"\"></option>'\n\n      data.forEach(categoria => {\n        const option = document.createElement('option');\n        option.value = categoria;\n        option.textContent = categoria;\n        selectAssunto.appendChild(option);\n      });\n\n    } catch (error) {\n      console.error('Erro ao buscar dados:', error);\n    }\n  }\n\n  async function getSubcategorias(assuntoId) {\n    try {\n      const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          event: 'get-subcategories-list',\n          assuntoId: assuntoId\n        })\n      });\n  \n      if (!response.ok) throw new Error('Erro ao buscar subcategorias');\n      const data = await response.json();\n      // console.log(data)\n      const subcategorias = data\n  \n      const selectSubcategoria = document.getElementById('subcategoria');\n      selectSubcategoria.innerHTML = '<option value=\"\"></option>';\n  \n      subcategorias.forEach(sub => {\n        const option = document.createElement('option');\n        option.value = sub;\n        option.textContent = sub;\n        selectSubcategoria.appendChild(option);\n      });\n  \n    } catch (error) {\n      console.error('Erro ao carregar subcategorias:', error);\n    }\n}\n\nasync function getTipos(assunto, subcategoria) {\n  try {\n    const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        event: 'get-types-list',\n        assunto: assunto,\n        subcategoria: subcategoria\n      })\n    });\n\n    if (!response.ok) throw new Error('Erro ao buscar tipos');\n    const data = await response.json();\n\n    // console.log(data)\n    const tipos = data;\n\n    const selectTipo = document.getElementById('tipo');\n    selectTipo.innerHTML = '<option value=\"\"></option>';\n\n    tipos.forEach(tipo => {\n      const option = document.createElement('option');\n      option.value = tipo;\n      option.textContent = tipo;\n      selectTipo.appendChild(option);\n    });\n\n  } catch (error) {\n    console.error('Erro ao carregar tipos:', error);\n  }\n}\n\nasync function getGroupsAndOperators() {\n  try {\n    const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        event: 'get-operators-list'\n      })\n    });\n\n    if (!response.ok) throw new Error('Erro ao buscar operadores e grupos');\n\n    const data = await response.json();\n    operadoresData = data;\n    // console.log(\"Operadores e grupos:\", data);\n\n    preencherOperadores(operadoresData);\n\n    const gruposUnicos = [...new Set(data.map(op => op.grupo))];\n    const selectGrupo = document.getElementById('grupo');\n    selectGrupo.innerHTML = '';\n\n    gruposUnicos.forEach(grupo => {\n      const option = document.createElement('option');\n      option.value = grupo;\n      option.textContent = grupo;\n      selectGrupo.appendChild(option);\n    });\n\n    const setor = '{{ $json.query.setor }}';\n    if (setor) {\n      for (let i = 0; i < selectGrupo.options.length; i++) {\n        if (selectGrupo.options[i].value === setor) {\n          selectGrupo.selectedIndex = i;\n          break;\n        }\n      }\n      selectGrupo.dispatchEvent(new Event('change'));\n    }\n\n  } catch (error) {\n    console.error('Erro ao carregar operadores e grupos:', error);\n  }\n}\n\nfunction preencherOperadores(operadores) {\n  const selectOperador = document.getElementById('operador');\n  selectOperador.innerHTML = '<option value=\"\"></option>';\n  operadores.forEach(op => {\n    const option = document.createElement('option');\n    option.value = op.nome_completo;\n    option.textContent = op.nome_completo;\n    selectOperador.appendChild(option);\n  });\n}\n\n  document.addEventListener('DOMContentLoaded', () => {\n    getGroupsAndOperators()\n    getApplicants()\n\n    document.getElementById('solicitante').addEventListener('change', function () {\n      const selectedOption = this.options[this.selectedIndex];\n    \n      const cliente = selectedOption.dataset.cliente || '';\n      const nome = selectedOption.dataset.nome || '';\n      const solicitanteId = selectedOption.dataset.solicitanteId || '';\n    \n      document.getElementById('cliente').value = cliente;\n      document.getElementById('nomeSolicitante').value = nome;\n      document.getElementById('solicitanteId').value = solicitanteId;\n    \n      if (cliente && nome) {\n        getCategories(`${cliente} - ${nome}`, solicitanteId);\n      }\n    });\n\n\n    document.getElementById('assunto').addEventListener('change', function () {\n      const categoriaSelecionada = this.value;\n      getSubcategorias(categoriaSelecionada);\n    });\n\n    document.getElementById('subcategoria').addEventListener('change', function () {\n      const assuntoSelecionado = document.getElementById('assunto').value;\n      const subcategoriaSelecionada = this.value;\n      getTipos(assuntoSelecionado, subcategoriaSelecionada);\n    });\n\n  document.getElementById('grupo').addEventListener('change', function () {\n    const grupoSelecionado = this.value;\n    if (grupoSelecionado) {\n      const filtrados = operadoresData.filter(op => op.grupo === grupoSelecionado);\n      preencherOperadores(filtrados);\n    } else {\n      preencherOperadores(operadoresData);\n    }\n})\n\n    document.getElementById('btn-enviar').addEventListener('click', function (e) {\n      e.preventDefault();\n      const form = document.getElementById('form-atendimento');\n      if (form.reportValidity()) {\n        document.getElementById('modal-confirm').style.display = 'flex';\n      }\n    });\n    \n    // Eventos dos botões do modal\n    document.getElementById('modal-confirm-ok').addEventListener('click', function () {\n      document.getElementById('modal-confirm').style.display = 'none';\n      document.getElementById('form-loader').style.display = 'flex';\n      setTimeout(() => {\n        document.getElementById('form-atendimento').submit();\n      }, 150);\n    });\n    document.getElementById('modal-confirm-cancel').addEventListener('click', function () {\n      document.getElementById('modal-confirm').style.display = 'none';\n    });\n\n  });\n</script>\n\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1312,240],"id":"64f7228b-361a-40ee-a5be-86b07095172a","name":"HTML2"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1104,240],"id":"07906dd5-cb77-401e-9a1a-3bc363b09020","name":"Respond to Webhook5"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Primeira Extensão</title>\n\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css\"\n        rel=\"stylesheet\"\n        integrity=\"sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD\"\n        crossorigin=\"anonymous\">\n\n  <script src=\"https://fileschat.sfo2.cdn.digitaloceanspaces.com/public/libs/wlclient.js\"></script>\n\n  <style>\n    html, body {\n      margin: 0;\n      padding: 0;\n      height: auto;\n      min-height: 100%;\n      overflow-x: hidden;\n      /* overflow-y: auto; */\n    }\n    iframe {\n      height: calc(100vh - 60px);\n      width: 100%;\n      border: none;\n      /* height: 95vh;\n      overflow: hidden; */\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container p-2 pb-0\">\n    <div class=\"d-flex gap-2 mb-2\">\n      <button id=\"btn-chamado\" class=\"btn btn-success flex-fill\">Chamado</button>\n      <button id=\"btn-interacao\" class=\"btn btn-outline-primary flex-fill\">Interação</button>\n    </div>\n  </div>\n\n  <iframe id=\"form-frame\" src=\"\" style=\"display:none;\"></iframe>\n\n  <script>\n    const urlFormChamado   = \"https://n8n.systemway.com.vc/webhook/a02c4e89-ce02-4c3e-bd21-9d49f69b1af0\";\n    const urlFormInteracao = \"https://n8n.systemway.com.vc/webhook/ac8b649c-2328-4289-a979-b939f4c68f92\";\n\n    function getParams(attendance) {\n      return attendance\n        ? `?name=${encodeURIComponent(attendance.contato.nome)}&chatId=${encodeURIComponent(attendance.atendimentoId)}&number=${encodeURIComponent(attendance.contato.numero)}&setor=${encodeURIComponent(attendance.setor.nome)}`\n        : \"\";\n    }\n\n    let currentAttendance = null;\n\n    function updateIframe(url) {\n      const params = getParams(currentAttendance);\n      document.getElementById('form-frame').src = url + params;\n    }\n\n    function setActiveButton(tipo) {\n      const btnChamado   = document.getElementById('btn-chamado');\n      const btnInteracao = document.getElementById('btn-interacao');\n      if (tipo === 'chamado') {\n        btnChamado.className   = \"btn btn-success flex-fill\";\n        btnInteracao.className = \"btn btn-outline-primary flex-fill\";\n      } else {\n        btnChamado.className   = \"btn btn-outline-success flex-fill\";\n        btnInteracao.className = \"btn btn-primary flex-fill\";\n      }\n    }\n\n    document.getElementById('btn-chamado').onclick = () => {\n      updateIframe(urlFormChamado);\n      setActiveButton('chamado');\n    };\n\n    document.getElementById('btn-interacao').onclick = () => {\n      updateIframe(urlFormInteracao);\n      setActiveButton('interacao');\n    };\n\n    window.WlExtension.initialize({\n      events: {\n        onOpenAttendance: (attendance) => {\n          currentAttendance = attendance;\n          document.getElementById('form-frame').style.display = 'block';\n          console.log(attendance)\n          updateIframe(urlFormChamado);\n          setActiveButton('chamado');\n        }\n      }\n    });\n\n    window.onload = () => {\n      document.getElementById('form-frame').style.display = 'none';\n    };\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1312,64],"id":"2f7e4409-8923-44af-8d34-59b352956b06","name":"HTML3"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1104,64],"id":"d759f405-6679-4be4-adcc-2b2b5726c7cc","name":"Respond to Webhook6"},{"parameters":{"path":"integration-stwchat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1552,64],"id":"5be90b66-dd0d-40bb-8a78-03c7e6bfdc49","name":"integration","webhookId":"24319931-8769-47ec-a867-dc6062690ab9"},{"parameters":{"content":"## Consulta ao banco de dados e a API do DeskManager","height":1440,"width":1360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2048,624],"id":"27e233a9-3e43-4b5e-b01c-765e9ecbdc26","name":"Sticky Note"},{"parameters":{"operation":"executeQuery","query":"select nome_completo, grupo from OPERADORES_DESK","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,1168],"id":"349cbb66-743c-4f3a-a3f7-8283887b988f","name":"MySQL","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1104,1168],"id":"5a170d0e-22a4-4bf1-af0b-c26ce0ab5f2c","name":"Respond to Webhook2"},{"parameters":{"jsCode":"const bodyData = $('form-response-chamado').first().json.body;\nconst chaveSolicitante = bodyData.solicitanteId;\nconst chaveAutocategoria = $('Merge').first().json.chaveAutoCategoria;\nconst chaveOperador = $('Merge').first().json.chaveOperador;\nconst chaveGrupo = $('Merge').first().json.chaveGrupo;\nconst token = JSON.parse($input.first().json.data);\n\nasync function fetchChatMessages(chatId) {\n  const requestOptions = {\n    url: `https://api.stw.chat/core/v2/api/chats/${chatId}`,\n    method: 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n      'access-token': '689a61a95706d77b7eb722cb'\n    }\n  };\n\n  const response = await this.helpers.httpRequest(requestOptions);\n  return response.messages || [];\n}\n\nfunction formatDescricao(messages) {\n  return messages\n    .filter(msg => !msg.isSystemMessage && !msg.isPrivate)\n    .map(msg => {\n      const remetente = msg.isSentByMe ? 'Técnico' : msg.senderName;\n      const date = new Date(msg.dhMessage || msg.utcDhMessage);\n      const dataHorario = date.toLocaleString('pt-BR', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n      });\n\n      if (msg.dataMedia && msg.dataMedia.urlFile && msg.dataMedia.mimetype) {\n        const tipo = (msg.dataMedia.mimetype.split('/')[1] || 'arquivo');\n        const nome = msg.dataMedia.filename || 'arquivo';\n        return `[${dataHorario}] ${remetente}:\\n[${tipo}] ${nome} - ${msg.dataMedia.urlFile}`;\n      }\n      return `[${dataHorario}] ${remetente}:\\n${msg.text || ''}`;\n    })\n    .join('\\n\\n');\n}\n\nasync function downloadAsBase64(url) {\n  const response = await this.helpers.request({\n    method: 'GET',\n    url: url,\n    encoding: null\n  });\n  return Buffer.from(response).toString('base64');\n}\n\nasync function openTicket(descricao) {\n  const options = {\n    url: 'https://api.desk.ms/ChamadosSuporte',\n    method: 'PUT',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': token\n    },\n    body: {\n      TChamado: {\n        Solicitante: chaveSolicitante,\n        AutoCategoria: chaveAutocategoria,\n        Solicitacao: \"000060\",\n        Descricao: descricao,\n        ObservacaoInterna: bodyData.obsInterna || \"\",\n        TransfCodGrupo: chaveGrupo || \"\",\n        TransfCodOperador: chaveOperador || \"\"\n      }\n    },\n    json: true\n  };\n\n  return await this.helpers.httpRequest(options);\n}\n\nasync function enviarAnexo(anexo, chamado) {\n  const request = {\n    url: \"https://files.desk.ms/v1/enviar\",\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"chamado\": chamado,\n      \"base64\": anexo.base64,\n      \"type\": anexo.mimetype,\n      \"name\": anexo.filename\n    }\n  };\n  const response = await this.helpers.httpRequest(request);\n  return response;\n}\n\nasync function sendSuccesfullMessage(ticket){\n  const options = {\n    url: 'https://api.stw.chat/core/v2/api/chats/send-text',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'access-token': \"689a61a95706d77b7eb722cb\"\n    },\n    body: {\n      \"forceSend\": true,\n      \"isWhisper\": false,\n      \"message\": `Chamado criado com sucesso!\\nO número do seu chamado é: ${ticket}`,\n      \"number\": bodyData.number,\n      \"verifyContact\": false\n    },\n    json: true\n  };\n\n  return await this.helpers.httpRequest(options);\n}\n\nconst chatId = bodyData.chatId;\nconst messages = await fetchChatMessages(chatId);\nconst descricao = formatDescricao(messages);\nconst chamadoResponse = await openTicket(descricao);\nconst chamado = chamadoResponse[0]\nconst sendMessage = await sendSuccesfullMessage(chamado)\n\nconst anexos = [];\nfor (const msg of messages) {\n  if (msg.dataMedia && msg.dataMedia.urlFile) {\n    const base64 = await downloadAsBase64.call(this, msg.dataMedia.urlFile);\n    anexos.push({\n      base64: base64,\n      filename: msg.dataMedia.filename || 'anexo',\n      mimetype: msg.dataMedia.mimetype || 'application/octet-stream'\n    });\n  }\n}\n\nconst anexosResultados = [];\nfor (const anexo of anexos) {\n  if (chamado) {\n    const resultado = await enviarAnexo(anexo, chamado);\n    anexosResultados.push(resultado);\n  }\n}\n\nreturn [{\n  json: {\n    descricao,\n    chamado: chamadoResponse,\n    anexosEnviados: anexosResultados,\n    sendMessage\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2992,1024],"id":"0a184bb6-b27c-418f-92dc-03f4f0716d6c","name":"Code2"},{"parameters":{"operation":"executeQuery","query":"select chave as chaveAutoCategoria from AUTO_CATEGORIA_DESK where assunto_completo = '{{ $json.body.assunto }} - {{ $json.body.subcategoria }} - {{ $json.body.tipo }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3664,832],"id":"d606f858-9313-4fa3-9737-a6a55e8430dd","name":"autocategoriaCod","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select chave as chaveOperador from OPERADORES_DESK where nome_completo = '{{ $json.body.operador }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3664,1024],"id":"ad39b1d2-cbce-4940-826e-9bfbc994cbab","name":"operadorCod","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-2320,1024],"id":"bb6b9a82-aae8-49f9-b672-2328c20106ed","name":"Respond to Webhook7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3440,1008],"id":"d38e16fe-a1c3-4b23-bd63-723b3bfec39d","name":"Merge"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1104,1360],"id":"442a0d5c-5bfc-4217-9cc5-43e2d2105e27","name":"Respond to Webhook8"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3216,1024],"id":"c1ff05bd-01dc-43e9-9e3a-81a91e0e7016","name":"getToken3"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1104,432],"id":"8f51c730-972b-4c78-99c7-1ce2d7fac20b","name":"Respond to Webhook9"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Interação no Chamado</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n  <style>\n    body {\n      background: #f9f9f9;\n      color: #333;\n      padding-bottom: 80px;\n    }\n    .form-container {\n      max-width: 400px;\n      background: #fff;\n      border-radius: 10px;\n      box-shadow: 0 2px 16px rgba(0,0,0,0.07);\n      margin: 32px auto 0 auto;\n      padding: 24px;\n    }\n    #modal-confirm {\n      display: none;\n      position: fixed; \n      top: 0; left: 0; right: 0; bottom: 0;\n      background: rgba(0,0,0,0.3);\n      align-items: center; \n      justify-content: center; \n      z-index: 9999;\n    }\n    #modal-confirm .modal-box {\n      background: white;\n      padding: 24px 18px;\n      border-radius: 10px;\n      min-width: 250px;\n      text-align: center;\n      box-shadow: 0 2px 16px rgba(0,0,0,0.18);\n    }\n  </style>\n</head>\n<body>\n  <div class=\"form-container\">\n    <!-- <h4 class=\"mb-3 text-center\">Interação no Chamado</h4> -->\n    <form id=\"form-interacao\" action=\"https://n8n.systemway.com.vc/webhook/1cf835b4-5339-4a22-9cf9-d124d75f437a\" method=\"POST\">\n      <input type=\"hidden\" id=\"chatId\" name=\"chatId\" value=\"{{ $json.query.chatId }}\">\n      <div class=\"mb-3\">\n        <label for=\"chamados\" class=\"form-label\">Chamados:</label>\n        <select id=\"chamados\" name=\"chamados\" class=\"form-select\" required>\n        </select>\n      </div>\n      <div id=\"avisoSemChamado\" style=\"display:none; color: #b02a37; font-weight: 500; margin-bottom:8px;\">\n        Nenhum chamado em aberto. Informe manualmente o número do chamado para abrir a interação :\n      </div>\n      <input id=\"chamadoManual\" name=\"chamadoManual\" type=\"text\" class=\"form-control mb-3\" style=\"display:none;\" placeholder=\"Exemplo: 0625-000123\">\n      <div class=\"mb-3\">\n        <label for=\"status\" class=\"form-label\">Status:</label>\n        <select id=\"status\" name=\"status\" class=\"form-select\" required>\n        </select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"obsInterna\" class=\"form-label\">Observação Interna:</label>\n        <textarea id=\"obsInterna\" name=\"obsInterna\" class=\"form-control\" rows=\"4\" placeholder=\"Descreva o problema ...\"></textarea>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"grupo\" class=\"form-label\">Grupo:</label>\n        <select id=\"grupo\" name=\"grupo\" class=\"form-select\"></select>\n      </div>\n      <div class=\"mb-3\">\n        <label for=\"operador\" class=\"form-label\">Operador:</label>\n        <select id=\"operador\" name=\"operador\" class=\"form-select\"></select>\n      </div>\n        <button type=\"button\" class=\"btn btn-primary\" id=\"btn-enviar\">Enviar</button>\n    </form>\n  </div>\n  <div id=\"modal-confirm\">\n    <div class=\"modal-box\">\n      <div style=\"font-weight: bold; margin-bottom:10px;\">Confirmação</div>\n      <div style=\"margin-bottom:20px;\">Tem certeza que deseja criar a interação?</div>\n      <button id=\"modal-confirm-ok\" class=\"btn btn-success me-2\">Confirmar</button>\n      <button id=\"modal-confirm-cancel\" class=\"btn btn-danger\">Cancelar</button>\n    </div>\n  </div>\n  <div id=\"form-loader\" style=\"display: none; position: fixed; top:0; left:0; right:0; bottom:0; background: rgba(255,255,255,0.7); z-index: 99999; align-items: center; justify-content: center;\">\n    <div class=\"d-flex flex-column align-items-center\">\n      <div class=\"spinner-border text-primary\" role=\"status\" style=\"width: 3rem; height: 3rem;\">\n        <span class=\"visually-hidden\">Carregando...</span>\n      </div>\n      <div style=\"margin-top: 16px; color: #0d6efd;\">Enviando interação...</div>\n    </div>\n  </div>\n\n  <script>\n    let operadoresData = [];   \n\n    async function getOpenTickets(){\n      try {\n        const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            'event': 'get-open-tickets',\n            'number': '{{ $json.query.number }}'\n          })\n        });\n  \n        if (!response.ok) throw new Error('Erro ao buscar lista')\n  \n        const data = await response.json()\n        console.log(\"Dados Chamados em Aberto: \", data)\n\n        const chamadosValidos = data.filter(item => Object.keys(item).length > 0)\n        const selectChamados = document.getElementById('chamados')\n        const avisoSemChamado = document.getElementById('avisoSemChamado')\n        const chamadoManual = document.getElementById('chamadoManual')\n        selectChamados.innerHTML = ''; // Limpa tudo\n        \n        if (chamadosValidos.length === 0) {\n          selectChamados.style.display = \"none\";\n          avisoSemChamado.style.display = \"block\";\n          chamadoManual.style.display = \"block\";\n        } else {\n          selectChamados.style.display = \"block\";\n          avisoSemChamado.style.display = \"none\";\n          chamadoManual.style.display = \"none\";\n    \n          selectChamados.disabled = false;\n          const option = document.createElement('option')\n          option.value = '';\n          option.textContent = '';\n          selectChamados.appendChild(option);\n    \n          data.forEach(item => {\n            const option = document.createElement('option');\n            option.value = item.chamado;\n            option.textContent = item.chamado;\n            selectChamados.appendChild(option);\n          });\n        }\n  \n      } catch (error) {\n        console.error('Erro ao buscar dados:', error);\n      }\n    }\n    \n    async function getStatus(){\n      try {\n        const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            'event': 'get-status'\n          })\n        });\n  \n        if (!response.ok) throw new Error('Erro ao buscar lista');\n  \n        const data = await response.json();\n        \n        const selectStatus = document.getElementById('status');\n        selectStatus.innerHTML = '<option value=\"\"></option>'\n  \n        data.forEach(item => {\n          const option = document.createElement('option');\n          option.value = item.status;\n          option.textContent = item.status;\n          selectStatus.appendChild(option);\n        });\n  \n      } catch (error) {\n        console.error('Erro ao buscar dados:', error);\n      }\n    }\n\n  async function getGroupsAndOperators() {\n    try {\n      const response = await fetch('https://n8n.systemway.com.vc/webhook/proxy-integration-desk', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          event: 'get-operators-list'\n        })\n      });\n  \n      if (!response.ok) throw new Error('Erro ao buscar operadores e grupos');\n  \n      const data = await response.json();\n      operadoresData = data;\n      // console.log(\"Operadores e grupos:\", data);\n  \n      preencherOperadores(operadoresData);\n  \n      const gruposUnicos = [...new Set(data.map(op => op.grupo))];\n      const selectGrupo = document.getElementById('grupo');\n      selectGrupo.innerHTML = '<option value=\"\"></option>';\n  \n      gruposUnicos.forEach(grupo => {\n        const option = document.createElement('option');\n        option.value = grupo;\n        option.textContent = grupo;\n        selectGrupo.appendChild(option);\n      });\n  \n    } catch (error) {\n      console.error('Erro ao carregar operadores e grupos:', error);\n    }\n  }\n\n  function preencherOperadores(operadores) {\n    const selectOperador = document.getElementById('operador');\n    selectOperador.innerHTML = '<option value=\"\"></option>';\n    operadores.forEach(op => {\n      const option = document.createElement('option');\n      option.value = op.nome_completo;\n      option.textContent = op.nome_completo;\n      selectOperador.appendChild(option);\n    });\n  }\n\n  document.addEventListener('DOMContentLoaded', () => {\n    getStatus();\n    getGroupsAndOperators();\n    getOpenTickets()\n\n    document.getElementById('grupo').addEventListener('change', function () {\n      const grupoSelecionado = this.value;\n      if (grupoSelecionado) {\n        const filtrados = operadoresData.filter(op => op.grupo === grupoSelecionado);\n        preencherOperadores(filtrados);\n      } else {\n        preencherOperadores(operadoresData);\n      }\n    });\n\n    document.getElementById('btn-enviar').addEventListener('click', function (e) {\n      e.preventDefault();\n      const form = document.getElementById('form-interacao');\n      if (form.reportValidity()) {\n        document.getElementById('modal-confirm').style.display = 'flex';\n      }\n    });\n    \n    // Eventos dos botões do modal\n    document.getElementById('modal-confirm-ok').addEventListener('click', function () {\n      document.getElementById('modal-confirm').style.display = 'none';\n      document.getElementById('form-loader').style.display = 'flex';\n\n      setTimeout(() => {\n        document.getElementById('form-interacao').submit();\n      }, 150);\n    });\n    document.getElementById('modal-confirm-cancel').addEventListener('click', function () {\n      document.getElementById('modal-confirm').style.display = 'none';\n    });\n\n  });\n    \n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1312,432],"id":"68fbc555-b2eb-474b-8fc7-843a8533b5c6","name":"HTML"},{"parameters":{"path":"a02c4e89-ce02-4c3e-bd21-9d49f69b1af0","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1552,240],"id":"5ed85ac0-0b23-44fb-bdd9-3db5442e3858","name":"form-stwchat-chamado","webhookId":"f76c7e9c-f6fc-4666-aa76-bee0fd3e729e"},{"parameters":{"path":"ac8b649c-2328-4289-a979-b939f4c68f92","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1552,432],"id":"58163177-bc79-41ea-950f-6c2dc9221d4a","name":"form-stwchat-interacao","webhookId":"ac8b649c-2328-4289-a979-b939f4c68f92"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1104,1552],"id":"3ccf6864-7d57-473c-a349-3a2805fc34a0","name":"Respond to Webhook10"},{"parameters":{"httpMethod":"POST","path":"749c4c10-156f-4044-845f-a7b1bc4c55a2","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3888,1024],"id":"f04f3aca-a0f8-4b9b-a47d-61e29ace6e97","name":"form-response-chamado","webhookId":"749c4c10-156f-4044-845f-a7b1bc4c55a2"},{"parameters":{"httpMethod":"POST","path":"1cf835b4-5339-4a22-9cf9-d124d75f437a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3888,1696],"id":"f11dff79-c97d-48a6-8d45-cd7780e4a099","name":"form-response-interacao","webhookId":"1cf835b4-5339-4a22-9cf9-d124d75f437a"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-2320,1696],"id":"34e399e5-d3db-46dd-81ce-63aab559a9c2","name":"Respond to Webhook11"},{"parameters":{"operation":"executeQuery","query":"select distinct empresa_nome from GRUPO_EMPRESAS_DESK where empresa_id in (select codigo_cliente from SOLICITANTES_DESK where telefone = {{ $('RequestDesk').item.json.body.number }})","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,1728],"id":"51681aa2-901c-4a64-941c-024f3b65c98d","name":"MySQL6","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,1824],"id":"452ba756-7dac-46a8-b6c6-f14d85e06055","name":"Respond to Webhook12"},{"parameters":{"jsCode":"const token = $('getToken').item.json.data;\nconst empresas = $input.all().filter(item => !!item.json.empresa_nome);\n\nif (empresas.length === 0) {\n  // Nenhuma empresa encontrada, retorna array vazio!\n  return [];\n}\n\nconst promessas = empresas.map(item => {\n  const grupoNome = item.json.empresa_nome;\n  const request = {\n    url: \"https://api.desk.ms/ChamadosSuporte/lista\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Pesquisa\": grupoNome,\n      \"Ativo\": \"EmAberto\"\n    }\n  };\n\n  return this.helpers.httpRequest(request)\n    .then(response => response.root || []);\n});\n\nconst resultados = await Promise.all(promessas);\n\nconst chamadosTotal = [].concat(...resultados);\n\nreturn chamadosTotal.map(item => ({\n  json: {\n    chamado: `${item.CodChamado} - ${item.Assunto}`\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,1904],"id":"375dd814-028f-4ecc-9742-e11ea8a51dec","name":"Code9","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72d9d7d3-11b5-4fc2-affa-a649f515a372","leftValue":"={{ $json.empresa_nome }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1104,1728],"id":"6cd58afa-149d-44a1-8173-663fd8dd1cf4","name":"If"},{"parameters":{"operation":"executeQuery","query":"select distinct cliente as empresa_nome FROM SOLICITANTES_DESK where telefone = '{{ $('RequestDesk').item.json.body.number }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,1904],"id":"524f2faf-0fa1-4178-9e23-5f419e235794","name":"MySQL7","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\nconst bodyData = $('form-response-interacao').first().json.body\nconst chamadoStr = bodyData.chamados || bodyData.chamadoManual;\nconst chamado = chamadoStr.split(\" - \")[0].trim();\nconst status = $('Merge1').first().json.chave_status\nconst transferirOperadorForm = $('Merge1').first().json.transferirOperador;\nconst transferirGrupoForm = $('Merge1').first().json.transferirGrupo;\n\nasync function fetchChatMessages(chatId) {\n  const requestOptions = {\n    url: `https://api.stw.chat/core/v2/api/chats/${chatId}`,\n    method: 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n      'access-token': '689a61a95706d77b7eb722cb'\n    }\n  };\n\n  const response = await this.helpers.httpRequest(requestOptions);\n  return response.messages || [];\n}\n\nfunction formatDescricao(messages) {\n  return messages\n    .filter(msg => !msg.isSystemMessage && !msg.isPrivate)\n    .map(msg => {\n      const remetente = msg.isSentByMe ? 'Técnico' : msg.senderName;\n      const date = new Date(msg.dhMessage || msg.utcDhMessage);\n      const dataHorario = date.toLocaleString('pt-BR', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n      });\n      \n      if (msg.dataMedia && msg.dataMedia.urlFile && msg.dataMedia.mimetype) {\n        const tipo = (msg.dataMedia.mimetype.split('/')[1] || 'arquivo');\n        const nome = msg.dataMedia.filename || 'arquivo';\n        return `[${dataHorario}] ${remetente}:\\n[${tipo}] ${nome} - ${msg.dataMedia.urlFile}`;\n      }\n      return `[${dataHorario}] ${remetente}:\\n${msg.text || ''}`;\n    })\n    .join('\\n\\n');\n}\n\nasync function downloadAsBase64(url) {\n  const response = await this.helpers.request({\n    method: 'GET',\n    url: url,\n    encoding: null\n  });\n  return Buffer.from(response).toString('base64');\n}\n\nasync function getOperatorInfo(){\n  const request = {\n    url: \"https://api.desk.ms/ChamadosSuporte/lista\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Pesquisa\": chamado,\n      \"Colunas\": {\n        \"NomeOperador\":\"on\",\n        \"SobrenomeOperador\":\"on\",\n        \"SequenciaGrupo\": \"on\"\n      }\n    }\n  }\n  const response = await this.helpers.httpRequest(request);  \n  const ticket = response.root[0];\n  const nome = ticket?.NomeOperador || \"\";\n  const sobrenome = ticket?.SobrenomeOperador || \"\";\n  const nomeCompleto = [nome, sobrenome].filter(Boolean).join(\" \").trim();\n  const sequenciaGrupo = ticket?.SequenciaGrupo || \"\";\n  return { nomeCompleto, sequenciaGrupo };\n}\n\nasync function getOperatorId(fullName){\n  const request = {\n    url: \"https://api.desk.ms/Operadores/lista\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Pesquisa\": fullName,\n      \"Ativo\": \"S\"\n    }\n  }\n\n  const response = await this.helpers.httpRequest(request)\n  return response.root[0]?.Chave\n}\n\nasync function interactTicket(fields){\n  const request = {\n    url: \"https://api.desk.ms/ChamadosSuporte/interagir\",\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Chave\": chamado,\n      \"TChamado\":{\n        \"CodFormaAtendimento\": \"000004\",\n        \"CodStatus\": status,\n        ...(fields.transferirOperador && { \"TransferirOperador\": fields.transferirOperador }),\n        ...(fields.transferirGrupo && { \"TransferirGrupo\": fields.transferirGrupo }),\n        ...(fields.codOperador && { \"CodOperador\": fields.codOperador }),\n        \"Descricao\": fields.descricao,\n        \"ObservacaoInterna\": bodyData.obsInterna\n      }\n    }\n  }\n\n  const response = await this.helpers.httpRequest(request)\n  return response\n}\n\nasync function enviarAnexo(anexo) {\n  const request = {\n    url: \"https://files.desk.ms/v1/enviar\",\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"chamado\": chamado,\n      \"base64\": anexo.base64,\n      \"type\": anexo.mimetype,\n      \"name\": anexo.filename\n    }\n  }\n  const response = await this.helpers.httpRequest(request);\n  return response;\n}\n\n\nconst chatId = bodyData.chatId;\nconst messages = await fetchChatMessages(chatId);\nconst descricao = formatDescricao(messages);\n\nconst anexos = [];\nfor (const msg of messages) {\n  if (msg.dataMedia && msg.dataMedia.urlFile) {\n    const base64 = await downloadAsBase64.call(this, msg.dataMedia.urlFile);\n    anexos.push({\n      base64: base64,\n      filename: msg.dataMedia.filename || 'anexo',\n      mimetype: msg.dataMedia.mimetype || 'application/octet-stream'\n    });\n  }\n}\n\nlet transferirOperador = transferirOperadorForm || \"\";\nlet transferirGrupo = transferirGrupoForm || \"\";\nlet codOperador = \"\";\nlet operatorInfo = await getOperatorInfo();\n\nif (!transferirOperador && !transferirGrupo) {\n  if (operatorInfo.nomeCompleto) {\n    codOperador = await getOperatorId(operatorInfo.nomeCompleto) || \"\";\n  } else if (operatorInfo.sequenciaGrupo) {\n    transferirGrupo = operatorInfo.sequenciaGrupo;\n  }\n}\n\nconst fields = {\n  transferirOperador,\n  transferirGrupo,\n  codOperador,\n  descricao,\n};\n\nconst interacao = await interactTicket(fields);\n\nconst anexosResultados = [];\nfor (const anexo of anexos) {\n  const resultado = await enviarAnexo(anexo);\n  anexosResultados.push(resultado);\n}\n\nreturn [{\n  json: {\n    descricao,\n    interacao,\n    anexosEnviados: anexosResultados\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2992,1696],"id":"80454d22-79ff-4892-90fc-63fea1301fa9","name":"Code10"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3216,1696],"id":"85b055f3-4aad-41f3-86b5-e58556de1568","name":"getToken7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3440,1680],"id":"b866114a-5602-4eb0-9651-a09f8f909f35","name":"Merge1"},{"parameters":{"operation":"executeQuery","query":"select distinct chaveGrupo from OPERADORES_DESK where grupo = '{{ $json.body.grupo }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3664,1216],"id":"09151340-5446-4a6a-ac67-2a113f7f40bd","name":"grupoCod","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select sequencia as chave_status from STATUS_DESK where status ='{{ $json.body.status }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3664,1504],"id":"ec88d013-506b-41b2-b92a-d971bf9838fd","name":"statusCod","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select chave as transferirOperador from OPERADORES_DESK where nome_completo = '{{ $json.body.operador }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3664,1696],"id":"d112b407-0bbd-4adc-9bed-f63b582395e8","name":"operadorCod2","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct chaveGrupo as transferirGrupo from OPERADORES_DESK where grupo = '{{ $json.body.grupo }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-3664,1888],"id":"2eef5b35-828e-4d9a-b9cb-244636cbf809","name":"grupoCod1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a69b4bf5-9510-49ee-bdc8-e8edb5af1365","leftValue":"={{ $json.chamado.erro }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2768,1024],"id":"d637fb45-746e-4688-ac5e-b6d6b869799e","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fc0e24b-f7a2-4b2c-842d-da990eba46da","leftValue":"={{ $json.interacao.erro }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2768,1696],"id":"05e57d88-ca10-429b-b681-3ffd27f53dab","name":"If2"},{"parameters":{"html":"<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Erro ao Criar Chamado</title>\n  <style>\n    body {\n      background-color: #FFFFFF;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #EDEDED;\n      color: #721c24;\n      max-width: 600px;\n      margin: 100px auto;\n      padding: 30px;\n      border: 1px solid #A6A4A4;\n      border-radius: 8px;\n      text-align: center;\n      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);\n    }\n    h1 {\n      font-size: 24px;\n      margin-bottom: 10px;\n    }\n    p {\n      font-size: 18px;\n      margin: 0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>❌ Erro ao Criar o Chamado</h1>\n    <p>Erro: {{ $json.chamado.erro }}</p>\n  </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2544,928],"id":"f965158a-f3a9-45bb-8b65-03424da5586b","name":"Erro"},{"parameters":{"html":"<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Chamado Criado com Sucesso</title>\n  <style>\n    body {\n      background-color: #FFFFFF;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #E6FFED;\n      color: #155724;\n      max-width: 600px;\n      margin: 100px auto;\n      padding: 30px;\n      border: 1px solid #C3E6CB;\n      border-radius: 8px;\n      text-align: center;\n      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);\n    }\n    h1 {\n      font-size: 24px;\n      margin-bottom: 10px;\n    }\n    p {\n      font-size: 18px;\n      margin: 0;\n    }\n    .numero {\n      font-size: 20px;\n      font-weight: bold;\n      color: #0b6623;\n      margin-top: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>✅ Chamado Criado com Sucesso!</h1>\n    <p>O número do seu chamado é:</p>\n    <div class=\"numero\">{{ $json.chamado }}</div>\n  </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2544,1120],"id":"bd0b5d14-b2fe-4d42-97eb-fb1ef83900cf","name":"Confirmacao"},{"parameters":{"html":"<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Erro ao interagir no Chamado</title>\n  <style>\n    body {\n      background-color: #FFFFFF;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #EDEDED;\n      color: #721c24;\n      max-width: 600px;\n      margin: 100px auto;\n      padding: 30px;\n      border: 1px solid #A6A4A4;\n      border-radius: 8px;\n      text-align: center;\n      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);\n    }\n    h1 {\n      font-size: 24px;\n      margin-bottom: 10px;\n    }\n    p {\n      font-size: 18px;\n      margin: 0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>❌ Erro ao interagir no chamado</h1>\n    <p>Erro: {{ $json.interacao.erro }}</p>\n  </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2544,1600],"id":"6de2dee5-6428-4e65-8200-a754bcc9a3a5","name":"Erro1"},{"parameters":{"html":"<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Interação criada com Sucesso</title>\n  <style>\n    body {\n      background-color: #FFFFFF;\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #E6FFED;\n      color: #155724;\n      max-width: 600px;\n      margin: 100px auto;\n      padding: 30px;\n      border: 1px solid #C3E6CB;\n      border-radius: 8px;\n      text-align: center;\n      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);\n    }\n    h1 {\n      font-size: 24px;\n      margin-bottom: 10px;\n    }\n    p {\n      font-size: 18px;\n      margin: 0;\n    }\n    .numero {\n      font-size: 20px;\n      font-weight: bold;\n      color: #0b6623;\n      margin-top: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>✅ Interação realizada com Sucesso!</h1>\n  </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2544,1792],"id":"1c9f4247-3740-4a6f-aa43-ed046a5cf6fa","name":"Confirmacao1"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3808,2160],"id":"35ef692a-4121-419b-a81f-3889428d2ec4","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - STW Chat Integração","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-3584,2160],"id":"c89fad6e-5580-4849-a40c-597ebc5afa98","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"operation":"executeQuery","query":"select status from STATUS_DESK where is_enabled = 1 order by status asc","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,1552],"id":"25e85aec-f23b-40f4-8d4e-ab26622214a7","name":"Execute a SQL query","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct categoria from AUTO_CATEGORIA_DESK where categoria <> 'Sem categoria' order by categoria","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,640],"id":"b93b5d83-de9b-439d-b8f8-41c4515ac739","name":"Execute a SQL query1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select cliente, nome_completo, chave as chave_solicitante from SOLICITANTES_DESK where telefone = {{ $('RequestDesk').item.json.body.number }}\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1312,1360],"id":"1c0cb6d5-f3cb-48e1-af94-606748209c9e","name":"Execute a SQL query2","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}}],"connections":{"Switch":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"MySQL3","type":"main","index":0}],[{"node":"MySQL2","type":"main","index":0}],[{"node":"MySQL","type":"main","index":0}],[{"node":"Execute a SQL query2","type":"main","index":0}],[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"MySQL6","type":"main","index":0}]]},"getToken":{"main":[[{"node":"Switch","type":"main","index":0}]]},"RequestDesk":{"main":[[{"node":"getToken","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"MySQL3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"HTML3":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"integration":{"main":[[{"node":"HTML3","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If1","type":"main","index":0}]]},"autocategoriaCod":{"main":[[{"node":"Merge","type":"main","index":0}]]},"operadorCod":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"getToken3","type":"main","index":0}]]},"getToken3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook9","type":"main","index":0}]]},"form-stwchat-chamado":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"form-stwchat-interacao":{"main":[[{"node":"HTML","type":"main","index":0}]]},"form-response-chamado":{"main":[[{"node":"autocategoriaCod","type":"main","index":0},{"node":"operadorCod","type":"main","index":0},{"node":"grupoCod","type":"main","index":0}]]},"form-response-interacao":{"main":[[{"node":"statusCod","type":"main","index":0},{"node":"operadorCod2","type":"main","index":0},{"node":"grupoCod1","type":"main","index":0}]]},"MySQL6":{"main":[[{"node":"If","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Respond to Webhook12","type":"main","index":0}]]},"If":{"main":[[{"node":"Code9","type":"main","index":0}],[{"node":"MySQL7","type":"main","index":0}]]},"MySQL7":{"main":[[{"node":"Code9","type":"main","index":0}]]},"getToken7":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"getToken7","type":"main","index":0}]]},"grupoCod":{"main":[[{"node":"Merge","type":"main","index":2}]]},"statusCod":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"operadorCod2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"grupoCod1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Code10":{"main":[[{"node":"If2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Erro","type":"main","index":0}],[{"node":"Confirmacao","type":"main","index":0}]]},"Erro":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Confirmacao":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"If2":{"main":[[{"node":"Erro1","type":"main","index":0}],[{"node":"Confirmacao1","type":"main","index":0}]]},"Confirmacao1":{"main":[[{"node":"Respond to Webhook11","type":"main","index":0}]]},"Erro1":{"main":[[{"node":"Respond to Webhook11","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook10","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Respond to Webhook8","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"form-stwchat-chamado":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2804:14c:6181:8f4a::6d4f","cf-ipcountry":"BR","cf-ray":"9472c4fa78da01c6-GRU","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"cfabca0c-f561-4a2c-af11-2fa01c9d0d35","priority":"u=0, i","referer":"https://app.stw.chat/","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"iframe","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","sec-fetch-storage-access":"active","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"2804:14c:6181:8f4a::6d4f","x-forwarded-proto":"https"},"params":{},"query":{"name":"Vinicius Marotti","chatId":"6834ac2d06706d21400d3805"},"body":{},"webhookUrl":"https://n8n.systemway.com.vc/webhook/teste2","executionMode":"production"}}],"form-response-interacao":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"349","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6","cache-control":"max-age=0","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"177.47.84.240","cf-ipcountry":"BR","cf-ray":"9733058cfe64f187-GRU","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"95f76b35-dd5e-4bd0-ba0c-38bc24a4cc2e","content-type":"application/x-www-form-urlencoded","origin":"https://n8n.systemway.com.vc","priority":"u=0, i","referer":"https://n8n.systemway.com.vc/webhook/ac8b649c-2328-4289-a979-b939f4c68f92?name=Rogerio%2FPrefeitura%20de%20Itatinga&chatId=68a86d0aa147c67bf04dfb79&number=5514981339492&setor=Suporte","sec-ch-ua":"\"Not;A=Brand\";v=\"99\", \"Microsoft Edge\";v=\"139\", \"Chromium\";v=\"139\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"iframe","sec-fetch-mode":"navigate","sec-fetch-site":"same-origin","sec-fetch-storage-access":"active","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"177.47.84.240","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"chatId":"68a86d0aa147c67bf04dfb79","chamados":"0825-000898 - STW Firewall - Acesso - Liberar","chamadoManual":"","status":"Andamento","obsInterna":"Acessamos a máquina do Rogerio e após análise, verificamos que se tratava da rota do link.\r\n\r\nO Rogério disse que irá acionar o suporte do link.","grupo":"","operador":"João Victor Romeda"},"webhookUrl":"https://n8n.systemway.com.vc/webhook/1cf835b4-5339-4a22-9cf9-d124d75f437a","executionMode":"production"}}],"RequestDesk":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"56","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0","accept":"*/*","accept-encoding":"gzip, br","accept-language":"pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"177.47.84.240","cf-ipcountry":"BR","cf-ray":"975563f44a97f24e-GRU","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"95f76b35-dd5e-4bd0-ba0c-38bc24a4cc2e","content-type":"application/json","origin":"https://n8n.systemway.com.vc","priority":"u=1, i","referer":"https://n8n.systemway.com.vc/webhook/a02c4e89-ce02-4c3e-bd21-9d49f69b1af0?name=Bianca%2FSAF&chatId=68adb1b7a147c67bf062fb60&number=5514996879033&setor=Suporte","sec-ch-ua":"\"Not;A=Brand\";v=\"99\", \"Microsoft Edge\";v=\"139\", \"Chromium\";v=\"139\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","sec-fetch-storage-access":"active","x-forwarded-for":"177.47.84.240","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"event":"get-applicants-list","number":"5514996879033"},"webhookUrl":"https://n8n.systemway.com.vc/webhook/proxy-integration-desk","executionMode":"production"}}],"form-response-chamado":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"252","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6","cache-control":"max-age=0","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"177.143.237.103","cf-ipcountry":"BR","cf-ray":"992a27d9da6a1d13-GRU","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"478622f3-8c9c-477a-a654-038c47ca2744","content-type":"application/x-www-form-urlencoded","origin":"https://n8n.systemway.com.vc","priority":"u=0, i","referer":"https://n8n.systemway.com.vc/webhook/a02c4e89-ce02-4c3e-bd21-9d49f69b1af0?name=Marcos%2FFungibras&chatId=68f8f3db486374d9a68c1fcc&number=5514998810454&setor=Suporte","sec-ch-ua":"\"Microsoft Edge\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"iframe","sec-fetch-mode":"navigate","sec-fetch-site":"same-origin","sec-fetch-storage-access":"active","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"177.143.237.103","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"chatId":"68f8f3db486374d9a68c1fcc","number":"5514998810454","cliente":"Fungibras","nomeSolicitante":"Marcos","solicitanteId":"420","solicitante":"Fungibras - Marcos","assunto":"STW Firewall","subcategoria":"Ativo de Rede","tipo":"Analisar","obsInterna":"","grupo":"Suporte","operador":"Felipe Brito"},"webhookUrl":"https://n8n.systemway.com.vc/webhook/749c4c10-156f-4044-845f-a7b1bc4c55a2","executionMode":"production"}}]},"versionId":"88336607-3442-4f0f-ba5c-7640c9fe248f","triggerCount":6,"shared":[{"createdAt":"2025-10-22T00:28:55.906Z","updatedAt":"2025-10-22T00:28:55.906Z","role":"workflow:owner","workflowId":"RMWFbJWTcYCUHj3G","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}