rZhyzJKoHqOuEs0L.json
{"createdAt":"2025-07-18T19:28:53.160Z","updatedAt":"2025-08-05T18:13:49.190Z","id":"rZhyzJKoHqOuEs0L","name":"DELETE EXECUTIONS","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"execution","filters":{"workflowId":{"__rl":true,"value":"vgEs5Onkfq6v5Dg5","mode":"list","cachedResultName":"[STW] CHAMADO FORMULARIO (#vgEs5Onkfq6v5Dg5)"}},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"8a2625d8-28df-4cea-86c3-7174c7d439f8","name":"n8n","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $json.id }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[700,0],"id":"55cedd47-65b9-4e4b-af06-2b87655636fe","name":"n8n1","credentials":{"n8nApi":{"id":"GPAel3OnX4NEEPlD","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,0],"id":"005de515-4516-444f-b64e-cb621745a26d","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"1512ef79-bbf8-46f5-9b20-aad27462849c","name":"Schedule Trigger"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95c03822-475c-4959-810e-60e01327fe88","triggerCount":1,"shared":[],"tags":[]}