ThzjgPtFAATETzOT.json
{"createdAt":"2025-10-22T00:22:52.667Z","updatedAt":"2025-10-22T00:22:52.667Z","id":"ThzjgPtFAATETzOT","name":"Agente Regional - Tratativa Calendly","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2304,272],"id":"cebcf802-a522-4789-8ccc-92fa44df3d1c","name":"Webhook","webhookId":"7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c2fd3fe-ec10-4c01-8efa-1c2e4823324d","leftValue":"={{ $json.data.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1856,272],"id":"cb009b21-aac3-456a-86a9-074155ac0c42","name":"If"},{"parameters":{"promptType":"define","text":"=status: {{ $json.message }}\nData Agendada: {{ $('VARS').first().json.data.schedulingDate }}","options":{"systemMessage":"Prompt para Agente de Confirmação de Agendamento\n**Você é um agente automatizado responsável apenas por informar ao usuário o resultado do agendamento solicitado anteriormente.\n\nResponda de forma clara, objetiva e cordial. Utilize as informações fornecidas pelo sistema para dizer se o agendamento foi realizado com sucesso ou se houve alguma falha.\n- Se o agendamento foi confirmado, comunique o sucesso, mencionando a data e horário marcados, se possível.\n- Se o agendamento falhou ou não pôde ser concluído, informe educadamente o usuário sobre o ocorrido e oriente a tentar novamente ou buscar suporte humano.\n\nNão faça perguntas, não ofereça novas opções e não tente agendar novamente. Apenas comunique o resultado do agendamento.\nExemplos de resposta:\n“Seu agendamento foi confirmado com sucesso para o dia {{data}} às {{hora}}.”\n“Não foi possível concluir o seu agendamento. Irei transferir você para um atendimento humano.”\n\nAguarde sempre a informação do status para responder, sem inventar respostas.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-320,272],"id":"08eb2e7b-ef4c-43b0-b180-d8538dfe2610","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-304,480],"id":"a9887236-d1c1-4ed8-b955-6d0c0905c466","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_memory_{{ $('VARS').first().json.data.telefone }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-144,480],"id":"2aaa18dc-6751-442e-9a4f-ce65590ef47c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UJOn0DtTZbC3khqm","name":"Postgres Supabase Regional"}}},{"parameters":{"assignments":{"assignments":[{"id":"513320e5-3bf3-4cb1-b3f5-7bc292358821","name":"data.nome","value":"={{ $json.body.formData[0].value }}","type":"string"},{"id":"3e45f891-487f-4064-a96e-b672b0f5fdda","name":"data.telefone","value":"={{ $json.body.formData[2].value.replace('+', '') }}","type":"string"},{"id":"feac81e6-799f-43c7-857d-3884ca5dae3d","name":"data.sinistro","value":"={{ $json.body.formData[3].value }}","type":"string"},{"id":"7cf13b76-cb33-4af1-97b3-221b74e21961","name":"data.error","value":"={{ $json.body.error }}","type":"string"},{"id":"d44c3d52-de00-47cf-ac25-01f2674051e9","name":"data.schedulingDate","value":"={{ $json.body.schedulingUrl.split('/').pop().toDateTime().toLocal().format('dd/MM/yyyy HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,272],"id":"bbd55b7d-25cb-4ef2-ac06-2eae69245fc7","name":"VARS"},{"parameters":{"tableId":"schedules","fieldsUi":{"fieldValues":[{"fieldId":"claim_number","fieldValue":"={{ $('VARS').first().json.data.sinistro }}"},{"fieldId":"scheduled_date","fieldValue":"={{ $('VARS').first().json.data.schedulingDate }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"status","fieldValue":"agendado"},{"fieldId":"phone","fieldValue":"={{ $('VARS').first().json.data.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,272],"id":"513e3534-153c-4ddb-b9fb-35ba25746ea8","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1f24473-95a0-48eb-89a7-0cf0fd55334e","name":"message","value":"={{ $json.info }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,272],"id":"99d6d9b4-98e1-4400-9c28-9100bdf304c7","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a82be8e4-a65b-47b8-9c4c-04b009943d45","name":"info","value":"=Erro ao tentar agendar: {{ $json.data.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,464],"id":"380abac6-f0ba-44a8-859b-b93c835a10be","name":"error"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-768,272],"id":"2d375475-cf93-4c7c-aaee-065b3eeb7ee5","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"504e0f93-ff93-4961-8a28-08da55546291","name":"info","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,272],"id":"446ffaa9-a6be-4ba8-99bb-df22e15bcef2","name":"Edit Fields1"},{"parameters":{"httpMethod":"POST","path":"c298dba5-eb81-4af6-a44b-c255d30e179e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2304,720],"id":"0a6e90a6-fd04-404e-aafd-e99077e8bc0a","name":"Webhook1","webhookId":"c298dba5-eb81-4af6-a44b-c255d30e179e"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2080,720],"id":"0d885e5f-95b5-4381-92e0-7837bf5004cd","name":"Wait","webhookId":"266c8a69-3ccd-4081-8641-8dc9cff6de9f"},{"parameters":{"operation":"update","tableId":"schedules","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $json.payload.questions_and_answers[1].answer }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"scheduled_link","fieldValue":"={{ $json.payload.scheduled_event.uri }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1856,720],"id":"fa1c6482-a35d-4a9e-9af5-dfeb234226da","name":"Supabase1","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"operation":"get","tableId":"schedules","filters":{"conditions":[{"keyName":"claim_number","keyValue":"={{ $json.data.sinistro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1648,160],"id":"f0571586-9c86-48ac-941b-d56d6a350fa3","name":"Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10f95ceb-ed2b-498a-806d-ad2d56bfdd64","leftValue":"={{ $json.claim_number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1424,160],"id":"a5ba6945-5f72-4f3d-b3f3-ae6e979d973d","name":"If1"},{"parameters":{"operation":"update","tableId":"schedules","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"status","fieldValue":"reagendado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,64],"id":"e8390cae-b88a-450c-bb5b-d91d59005d7c","name":"Supabase3","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"assignments":{"assignments":[{"id":"504e0f93-ff93-4961-8a28-08da55546291","name":"info","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,64],"id":"00a1b82b-cb95-41cd-a95e-813355f16189","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"sOaKjihBCfN0HFBa","mode":"list","cachedResultName":"[Regional] Agente MAIN"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}","telefone":"={{ $('VARS').first().json.data.telefone }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[240,272],"id":"af077703-6d30-4a6e-bb07-10c2521e7ec6","name":"Execute Workflow"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('VARS').first().json.data.telefone }}\",\n  \"message\": \"{{ $json.output }}\",\n  \"isWhisper\": false,\n  \"forceSend\": true,\n  \"verifyContact\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"3bf69408-fc0c-4791-8b80-b243571b3d6d","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"0c7944a2-566b-45b6-9e1b-7db361b15266","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,272],"id":"3c245a76-313c-4e99-b4bf-1060dbf9f3cc","name":"Edit Fields3"}],"connections":{"Webhook":{"main":[[{"node":"VARS","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase2","type":"main","index":0}],[{"node":"error","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"VARS":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"error":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Webhook1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Supabase3","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"created_at":"2025-07-04T15:16:59.000000Z","created_by":"https://api.calendly.com/users/1f8f12cd-5472-4547-afbb-192411752f27","event":"invitee.created","payload":{"cancel_url":"https://calendly.com/cancellations/6d3f53a5-ce33-4f43-b185-26f7744409d8","created_at":"2025-07-04T15:16:59.101079Z","email":"teste@email.com","event":"https://api.calendly.com/scheduled_events/c372d84f-0898-46b1-bcbd-50fc59b6cb8b","first_name":null,"invitee_scheduled_by":null,"last_name":null,"name":"Vinicius Marotti","new_invitee":null,"no_show":null,"old_invitee":null,"payment":null,"questions_and_answers":[{"answer":"+55 14 97400-9711","position":0,"question":"telefone"},{"answer":"45051562","position":1,"question":"Sinistro"}],"reconfirmation":null,"reschedule_url":"https://calendly.com/reschedulings/6d3f53a5-ce33-4f43-b185-26f7744409d8","rescheduled":false,"routing_form_submission":null,"scheduled_event":{"created_at":"2025-07-04T15:16:59.082161Z","end_time":"2025-07-08T20:10:00.000000Z","event_guests":[],"event_memberships":[{"user":"https://api.calendly.com/users/1f8f12cd-5472-4547-afbb-192411752f27","user_email":"suporte@audittecnica.com.br","user_name":"Maschetti Vistorias Online - Regional Eletrônica"}],"event_type":"https://api.calendly.com/event_types/d26edd71-8dcd-487b-89cf-5b8c1c3fc36c","invitees_counter":{"total":1,"active":1,"limit":10},"location":{"location":null,"type":"custom"},"meeting_notes_html":null,"meeting_notes_plain":null,"name":"Test Setter ia","start_time":"2025-07-08T19:50:00.000000Z","status":"active","updated_at":"2025-07-04T15:16:59.082161Z","uri":"https://api.calendly.com/scheduled_events/c372d84f-0898-46b1-bcbd-50fc59b6cb8b"},"scheduling_method":null,"status":"active","text_reminder_number":null,"timezone":"America/Sao_Paulo","tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"updated_at":"2025-07-04T15:16:59.101079Z","uri":"https://api.calendly.com/scheduled_events/c372d84f-0898-46b1-bcbd-50fc59b6cb8b/invitees/6d3f53a5-ce33-4f43-b185-26f7744409d8"}}}],"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"578","user-agent":"node","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"52.15.118.168","cf-ipcountry":"US","cf-ray":"95b847aa8a5839f9-YYZ","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"48776092-ebed-43b6-8fda-90f9a8338a85","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"52.15.118.168","x-forwarded-proto":"https","x-timestamp":"1751901144","x-webhook-signature":"oWsPfMVHFXH5juPhSSo7ollnklmmieclhw8VUj7Uv82/arl96D+Es34H69eFJ8ajPACJWfmNBmtbqVZ3Ql+Wr6WZVlhTDkL6oyTNydUb9GjfPX5zePQYIsF8DKLHxiQ+1UzLOL+9L3AU20AKlUNaPmC7tILf5zfw52EqoPN/fkZRKBcHbRSdRGIPfkWMp+8NC7rQ7tyjGyIk12vWdgKoD4yqor5IYkigPAn9JjfVcaxLV7vPXAYmmYDyNB4jh/xGT4ZWBNMwhwpGwj3/8A0yng49DD+2Oqpzb5MOcn9X4uHTzjxru5lHb9IdtYLkHNkUe1egJUQATulvryb3cKleDg=="},"params":{},"query":{},"body":{"schedulingUrl":"https://calendly.com/maschetti-vist/agendamento-online-m-v-clone/2025-07-08T11:50:00Z","location":null,"formData":[{"name":"Nome","type":"string","value":"Vinicius Marotti"},{"name":"E-mail","type":"string","value":"teste@email.com"},{"name":"telefone","type":"phone_number","value":"+5514974009711"},{"name":"Sinistro","type":"string","value":"45051562"}],"timeZone":"America/Sao_Paulo","webhookUrl":"https://n8n.systemway.com.vc/webhook/7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393","metadata":{},"type":"calendly_scheduling_completion","error":"time_not_available"},"webhookUrl":"https://n8n.systemway.com.vc/webhook/7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393","executionMode":"production"}}]},"versionId":"4e647249-7289-4994-a393-85c50b1deba1","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:22:52.667Z","updatedAt":"2025-10-22T00:22:52.667Z","role":"workflow:owner","workflowId":"ThzjgPtFAATETzOT","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}