U3KzONYnqmJrsGU4.json
{"createdAt":"2025-10-22T00:22:20.454Z","updatedAt":"2025-10-22T00:22:20.454Z","id":"U3KzONYnqmJrsGU4","name":"Agente Regional - MAIN","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4192,992],"id":"1a89a1a4-9b52-440c-91fb-4334e2de17de","name":"HTTP Request2"},{"parameters":{"url":"https://api.stw.chat/core/v2/api/sectors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,272],"id":"cbc742a6-8f81-43aa-a13a-bb0ffef00c9c","name":"SETORES"},{"parameters":{"url":"https://api.stw.chat/core/v2/api/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,528],"id":"a70de89c-45a8-4141-8bc9-c4f9bf42fd5c","name":"USUARIOS"},{"parameters":{"promptType":"define","text":"={{ $json.msg ? 'Mensagem: ' + $json.msg : ''}}\n{{ $json.confirmacao ? 'Confirmação: ' + $json.confirmacao : '' }}","options":{"systemMessage":"=# Agente Especializado em Agendamento de Vistorias Online\n\nVocê é o Assistente Virtual responsável pelo agendamento de vistorias online na Maschetti Vistorias.\nSeu objetivo é ajudar clientes a agendar, reagendar, consultar ou tirar dúvidas sobre vistorias de forma cordial, objetiva e clara, NUNCA inventando informações — sempre usando as ferramentas do sistema.\nSe não for possível resolver ou se o cliente solicitar, transfira para atendimento humano.\n\n## Fluxo Principal do Atendimento\n\n1. Mensagem inicial sempre vem de template WhatsApp com botão “AGENDAR”.\nAo receber a mensagem, utilize a ferramenta \"agendamento_info\" para checar se o cliente já possui vistoria agendada.\n  • Se o cliente já possui agendamento ativo:\nPergunte se ele deseja reagendar, cancelar, saber detalhes ou tirar dúvidas sobre o processo.\n  Exemplo: Você já possui uma vistoria agendada. Deseja reagendar, cancelar, consultar detalhes ou tirar dúvidas sobre o processo?\n\n  • Se o cliente NÃO possui agendamento ativo:\nUtilize imediatamente a ferramenta \"disponibilidade\" para listar os horários disponíveis e solicite a escolha do cliente.\n  Exemplo: Seguem os horários disponíveis para agendamento de sua vistoria. Por favor, escolha o melhor para você.\n\n2. Se o cliente escolher um horário:\nUtilize a ferramenta \"realizar_agendamento\" e informe que está processando o pedido. Aguarde confirmação do backend para dar retorno ao cliente.\n\n3. Se o cliente pedir para reagendar:\nConfirme agendamento existente com agendamento_info. Liste horários disponíveis com disponibilidade.\nAssim que o cliente escolher, use realizar_reagendamento e aguarde confirmação do backend.\n•\tSe sucesso, confirme o novo agendamento.\n•\tSe erro, informe que não foi possível e transfira para humano (não mostre horários novamente).\n\n4. Se o cliente desejar apenas consultar detalhes ou status:\nUse agendamento_info e responda com a informação.\n\n5. Se o cliente pedir para cancelar:\nUse a tool \"transferir_humano\" imediatamente.\n\n6. Se o cliente apresenta dúvidas:\nUtilize a ferramenta tirar_duvidas para responder apenas o necessário.\n\n7. Se houver confusão ou solicitação direta de transferência:\nUtilize a ferramenta \"transferir_humano\"\n\n8. Se a intenção do cliente for ambígua:\nPeça esclarecimento de forma breve:\n\"Por favor, me confirme: você deseja agendar, reagendar, consultar detalhes ou cancelar sua vistoria?\"\n\n9. Sempre confirme antes de encerrar ou transferir.\nNunca finalize sem perguntar se o cliente precisa de algo mais.\n\n## Ferramentas Disponíveis\n• agendamento_info: Consulta status do agendamento atual do cliente.\n• disponibilidade: Lista os horários disponíveis para agendamento.\n• realizar_agendamento: Realiza o agendamento na data escolhida.\n• realizar_reagendamento: Realiza o reagendamento em nova data.\n• tirar_duvidas: Responde dúvidas sobre o processo de vistoria online.\n• encerrar_conversa: Encerra o atendimento após confirmação do cliente.\n• transferir_humano: Transfere o atendimento para um humano, apenas em caso de impasse ou solicitação direta.\n\nIMPORTANTE: Sempre utilize apenas uma tool por vez, baseada na intenção principal da mensagem do cliente.\nNunca rode todas as tools ao mesmo tempo.\n\n\nContexto\n- Todas as interações iniciam após o cliente clicar no botão “AGENDAR” de um template do WhatsApp.\n- Dados disponíveis:\n  • Data atual: ${{ $now }}\n  • Número do Cliente: ${{ $json.telefone }}\n  • Sinistro: ${{ $json.sinistro }}\n\nRegras Gerais\n- Nunca invente informações; use sempre as ferramentas disponíveis.\n- Não execute múltiplas ferramentas ao mesmo tempo.\n- Se a intenção do cliente for ambígua, peça esclarecimento com mensagem curta.\n- Só transfira para humano se houver solicitação explícita ou impasse.\n- Nunca encerre sem perguntar se precisa de algo mais.\n- Mantenha o atendimento profissional, objetivo e acolhedor, dividindo as etapas em mensagens curtas.\n- Todas as respostas devem ser enviadas no formato JSON conforme exemplos abaixo.\n- Sempre que receber resultado de agendamento (sucesso ou erro), envie resposta JSON clara sobre o status, informando data/hora se sucesso, ou orientando nova tentativa/busca de suporte se erro.\n- Após usar realizar_agendamento ou realizar_reagendamento, não envie confirmação imediata: informe que está processando e aguarde o status do backend.\n- Priorize sempre responder ao cliente sobre qualquer resultado de agendamento recebido, e depois siga com suporte adicional ou pergunte se precisa de algo mais.\n- Sempre utilize TODOS os horários recebidos pela ferramenta disponibilidade (no máximo 10). Não reduza a lista manualmente.\n\n### REGRAS ESPECÍFICAS DE CONFIRMAÇÃO\n- Aguarde sempre o resultado do backend após acionar agendamento ou reagendamento.\n- Se sucesso: envie mensagem de confirmação em JSON e ofereça suporte adicional.\n- Se erro: informe a falha e transfira para humano. Não tente novo agendamento nem mostre horários novamente.\n\n## FORMATO DE RESPOSTA OBRIGATÓRIO\nExemplos de Formato de Resposta (JSON)\n- Mensagem de texto simples:\n\n1.Para mensagem de texto simples:\n{\n  \"type\": \"text\",\n  \"url\": \"https://api.stw.chat/core/v2/api/chats/send-text\",\n  \"payload\": \"{\\\"number\\\": \\\"{{ $json.telefone }}\\\", \\\"message\\\": \\\"Mensagem para o cliente\\\", \\\"isWhisper\\\": false, \\\"forceSend\\\": true, \\\"verifyContact\\\": false}\"\n}\n\n2. Para lista de horários disponíveis:\n{\n  \"type\": \"list-times\",\n  \"url\": \"https://api.stw.chat/core/v2/api/chats/{{ $json.chatId }}/send-sections\",\n  \"payload\": \"{\\\"scriptIdCallback\\\": \\\"test\\\", \\\"title\\\": \\\"Horários disponíveis\\\", \\\"footer\\\": \\\"Horários\\\", \\\"text\\\": \\\"Segue abaixo os horários disponíveis\\\", \\\"buttonText\\\": \\\"ver\\\", \\\"sections\\\": [{\\\"title\\\": \\\"teste\\\", \\\"rows\\\": [{\\\"title\\\": \\\"16/06/2025 - 10:50\\\", \\\"option\\\": \\\"1\\\"}, {\\\"title\\\": \\\"16/06/2025 - 11:10\\\", \\\"option\\\": \\\"2\\\"}]}]}\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3568,992],"id":"d8651834-0c32-483e-b594-820314981376","name":"AI Agent1"},{"parameters":{"operation":"get","propertyName":"list_array","key":"=chat:{{ $('VARS').item.json.data.number }}","keyType":"list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2208,880],"id":"0edd95eb-88ca-4909-bec0-93a2472a0856","name":"Get","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=chat:{{ $('VARS').item.json.data.number }}","messageData":"={{ JSON.stringify($json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1760,880],"id":"55230fc7-8f76-47c2-9e46-265e37420c82","name":"Push","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"69ae0f0e-5db7-48f1-9941-f94d14074dfd","name":"data","value":"={{ $('Webhook').item.json.body.data }}","type":"object"},{"id":"5d242de3-1212-4bad-8848-020cd5f21d72","name":"data.date","value":"={{ $now.toLocal() }}","type":"string"},{"id":"98a0e362-efd1-4a87-9e03-28fbb45ec1fa","name":"data.sinistro","value":"={{ $('InfoClient').first().json.claim_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,880],"id":"5612c308-d117-4b00-be09-7d449907009d","name":"VARS"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1984,880],"id":"b54b4523-51e8-4466-b16f-5603dd76bc77","name":"Wait1","webhookId":"86ca040e-35ef-4333-a8eb-aa6c36cbaa1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9616cfb-f576-4767-aa46-f17766876425","leftValue":"={{ JSON.parse($json.list_array.last()).text }}","rightValue":"={{ $('VARS').item.json.data.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2432,880],"id":"d428d593-3cf4-49a0-99e8-7cb0c24ce926","name":"If"},{"parameters":{"operation":"delete","key":"=chat:{{ $('VARS').item.json.data.number }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2640,880],"id":"7cb3afc6-0dc0-41b5-af00-7e207ee58140","name":"delete2","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.message.audio","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1104,992],"id":"07e3d022-8eb4-4e60-bca2-be3e256a2135","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1328,992],"id":"c6e25eae-02cc-4d02-ba21-cf31e1401f7b","name":"OpenAI"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.type }}","rightValue":"0","operator":{"type":"string","operation":"equals"},"id":"a39a1369-60f9-4980-83b5-8ba66c2be7c9"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fdae08-1229-4043-a0fc-6f73d991f2cd","leftValue":"={{ $json.data.type }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,880],"id":"d37745c4-7004-4371-b83c-8f2c488554ef","name":"Switch"},{"parameters":{"sseEndpoint":"http://n8n.systemway.com.vc:5678/mcp/0abc1ae5-9674-49c6-b316-089c9193c2f8/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[3760,1200],"id":"37e44373-0a11-4895-b3c0-bda442746e1b","name":"MCP Client"},{"parameters":{"httpMethod":"POST","path":"95c9e2d1-410a-40f9-a390-2645fa8a317c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,880],"id":"28408adc-aeb4-4ee8-bfb4-f1cb78dd6ca5","name":"Webhook","webhookId":"95c9e2d1-410a-40f9-a390-2645fa8a317c"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3520,1200],"id":"eb3605a2-ec6c-43d6-8931-06a305277686","name":"OpenAI Chat Model"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66ead4f9-d57c-46ed-a300-adcaf634391e","leftValue":"={{ $json.phone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,880],"id":"5d317079-f301-40ec-bcf0-121641efa63c","name":"If1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_memory_{{ $json.telefone }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3648,1200],"id":"353aeb6d-74c9-4f36-a7e5-152a4705790b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UJOn0DtTZbC3khqm","name":"Postgres Supabase Regional"}}},{"parameters":{"operation":"get","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $json.body.data.number }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,880],"id":"b90050c4-abe7-470a-8d2c-ed5aa7e88026","name":"InfoClient","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"assignments":{"assignments":[{"id":"d6d61980-2d21-4b46-b1a2-bb0f31e6a140","name":"message.text","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,784],"id":"fb47af30-c4d3-4ebb-9e74-d5031f145f68","name":"text"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,992],"id":"8a892ffa-63f7-4530-ac2c-b589f58e267f","name":"audio-text"},{"parameters":{"jsCode":"const rawOutput = $input.first().json.output;\n\ntry {\n  const main = JSON.parse(rawOutput.trim());\n  const payload = JSON.parse(main.payload);\n  return [{\n    json: {\n      type: main.type,\n      url: main.url,\n      payload: payload\n    }\n  }];\n} catch (error) {\n  return [{ json: { error: error.message, raw: rawOutput } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3968,992],"id":"cbc6f9d9-a063-49ad-a5e8-80591dd118dd","name":"Code"},{"parameters":{"operation":"delete","key":"chat:5514974009711"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,0],"id":"8436354a-934e-4e4b-8820-4af2f714116e","name":"delete","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"output"},{"name":"telefone"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[2640,1088],"id":"1b480d62-ef44-44dc-8ad7-26086d5c6658","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"2adebc97-e8b4-4168-8ed6-62a3fbd87eda","name":"confirmacao","value":"={{ $json.output }}","type":"string"},{"id":"b81b5f91-d09b-410e-839d-d155041f4b1f","name":"telefone","value":"={{ $json.telefone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2864,1088],"id":"612dc07c-b116-48fe-b199-d01f9b86f821","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3088,992],"id":"9f8e844b-f091-4b75-bd73-ab96b7b2e6b7","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"7569ac93-3a1c-4572-8b28-09d92b47ad91","name":"msg","value":"={{ $json.msg }}","type":"string"},{"id":"1f477c83-f6e0-491c-a4aa-907e00c6bd1d","name":"telefone","value":"={{ $json.telefone || $('VARS').item.json.data.number}}","type":"string"},{"id":"0d577448-639c-487e-aeec-3d81a14460d0","name":"confirmacao","value":"={{ $json.confirmacao || \"\"}}","type":"string"},{"id":"8834c0e3-26f8-4f4f-98dd-9f9e7ffb7f85","name":"chatId","value":"={{ $json.chatId }}","type":"string"},{"id":"94e00f0e-35ae-4400-9942-23a36febfd59","name":"sinistro","value":"={{ $json.sinistro }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3312,992],"id":"baa9105e-a079-4b1a-81c7-b37635e569fa","name":"context"},{"parameters":{"assignments":{"assignments":[{"id":"7569ac93-3a1c-4572-8b28-09d92b47ad91","name":"msg","value":"={{ $json.list_array.map(item => JSON.parse(item).text).join('\\n') }}","type":"string"},{"id":"1f477c83-f6e0-491c-a4aa-907e00c6bd1d","name":"telefone","value":"={{ $json.telefone || $('VARS').item.json.data.number}}","type":"string"},{"id":"0d577448-639c-487e-aeec-3d81a14460d0","name":"confirmacao","value":"={{ $json.confirmacao || \"\"}}","type":"string"},{"id":"8834c0e3-26f8-4f4f-98dd-9f9e7ffb7f85","name":"chatId","value":"={{ $('VARS').item.json.data.chatId }}","type":"string"},{"id":"94e00f0e-35ae-4400-9942-23a36febfd59","name":"sinistro","value":"={{ $('VARS').item.json.data.sinistro }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2864,880],"id":"6d355c16-2e6c-4041-963f-b05fe00a111c","name":"context1"}],"connections":{"Get":{"main":[[{"node":"If","type":"main","index":0}]]},"Push":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"VARS":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get","type":"main","index":0}]]},"If":{"main":[[{"node":"delete2","type":"main","index":0}]]},"delete2":{"main":[[{"node":"context1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"text","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"audio-text","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"InfoClient","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"VARS","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"InfoClient":{"main":[[{"node":"If1","type":"main","index":0}]]},"text":{"main":[[{"node":"Push","type":"main","index":0}]]},"audio-text":{"main":[[{"node":"Push","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"context","type":"main","index":0}]]},"context":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"context1":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"output":"Não foi possível concluir o seu agendamento para o dia 08/07/2025 às 13:50, pois o horário não está disponível. Por favor, tente novamente ou busque suporte humano para mais informações.","telefone":"5514974009711"}}],"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"284","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"128.140.121.45","cf-ipcountry":"DE","cf-ray":"95bfe41f1d6c39df-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"48776092-ebed-43b6-8fda-90f9a8338a85","content-type":"application/json","x-forwarded-for":"128.140.121.45","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"type":"MESSAGE_RECEIVE","typeLog":"MSG","data":{"chatId":"6867e5d4dc79d1a81363dc62","userId":"66cf854a8d45e52a01cf1144","name":"Vinicius Marotti","number":"5514974009711","text":"09/07/2025 09:30","type":"0","chatDateStart":"04/07/2025 11:31:48","audio":"@chat.mensagem.midia.url","date":"2025-07-08T10:22:34.183-03:00","sinistro":"45051562"}},"webhookUrl":"https://n8n.systemway.com.vc/webhook/95c9e2d1-410a-40f9-a390-2645fa8a317c","executionMode":"production"}}]},"versionId":"d94eb76d-39f7-4d36-982e-560536f34287","triggerCount":0,"shared":[{"createdAt":"2025-10-22T00:22:20.454Z","updatedAt":"2025-10-22T00:22:20.454Z","role":"workflow:owner","workflowId":"U3KzONYnqmJrsGU4","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}