UCh0qZ33P1iiTXNn.json
{"createdAt":"2025-10-21T17:48:51.176Z","updatedAt":"2025-10-22T00:18:35.857Z","id":"UCh0qZ33P1iiTXNn","name":"Agente STW - RAG","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,288],"id":"d68ebdb2-01b4-453c-b41b-f4571efb69e9","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"systemMessage":"Consulte a tool http"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1408,96],"id":"3ab384b4-2b38-4510-8ec7-4e91425641d0","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1472,320],"id":"cb25dc1a-1998-46e4-9375-9e260d0b5bdc","name":"Simple Memory"},{"parameters":{"toolDescription":"Use essa tool para consultar os dados na vector store. O parametro query representa o serviço solicitado","method":"POST","url":"https://bnjinlcfonzvxcdufldu.supabase.co/functions/v1/hybrid-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuamlubGNmb256dnhjZHVmbGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTA2MjcsImV4cCI6MjA3NTY2NjYyN30.VdZ1HvrCOl1LL-2A2ZgZzUNV2AQXtC7ULrJ7aaKV1sg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `duvida completa do cliente`, 'string') }}"},{"name":"type","value":"=category"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1600,320],"id":"3e075fdd-5774-446a-b29c-4cf2a0496009","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[672,112],"id":"2c0831fb-d1c4-4e96-986b-970c64a14ff9","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[704,-128],"id":"d9794eb6-1a8f-44dc-b54c-45557cf65065","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"rTK4RVgEtLDZbLVz","name":"Supabase RAG - Agente STW"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.service }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"service","value":"={{ $json.metadata.service }}"},{"name":"type","value":"category"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[800,112],"id":"33d3f905-1e32-40b5-9e46-8e8d63e6f6aa","name":"Default Data Loader2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[880,320],"id":"bc8cf85a-e1c8-42ba-b159-c8cd0082cb10","name":"Recursive Character Text Splitter"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01EXHUDS3OG5JMPWY75RF3WDHI6XCC3HXW","mode":"list","cachedResultName":"Treinamento IA - Auto Categorias","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{A20373AC-13C1-436A-A403-FEF0BCD6FC76}","mode":"list","cachedResultName":"Descrição Serviços","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Descri%C3%A7%C3%A3o%20Servi%C3%A7os!A1"},"options":{}},"id":"61933075-0ead-4803-83b4-031a11e5cf51","name":"Get Rows2","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[16,-160],"credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,-160],"id":"b239168f-36e2-4ade-bba9-a3e477bebe0d","name":"Loop Over Items2"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01EXHUDS3OG5JMPWY75RF3WDHI6XCC3HXW","mode":"list","cachedResultName":"Treinamento IA - Auto Categorias","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0000-000000000000}","mode":"list","cachedResultName":"Dados","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Dados!A1"},"options":{}},"id":"0b68645b-e3b5-4cdd-b3ca-56bef3fdd9e0","name":"Get Rows3","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[80,464],"credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,464],"id":"447905c0-febf-4d95-a63d-b2fa7f15ee60","name":"Loop Over Items3"},{"parameters":{"assignments":{"assignments":[{"id":"892ea28f-79b1-4ad9-92b2-095d8373abdc","name":"service","value":"=serviço: {{ $json.Serviço }}\ndescrição: {{ $json['Definição'] }}\nsintomas: {{ $json['Sintomas Comuns'] }}\npalavras chave: {{ $json['Palavras Chave'] }}\n","type":"string"},{"id":"e87f6a26-5955-4abf-93f9-065fd19cb0e8","name":"metadata.service","value":"={{ $json[\"Serviço\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-160],"id":"dc5f12bc-46fd-42aa-91f1-c1f466f0ecb9","name":"Edit Fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[1216,96],"id":"4a7e11be-a54b-465c-9699-f01b0eb7d136","name":"When chat message received","webhookId":"6da27444-547e-4af8-8878-f74bafd59e33"},{"parameters":{"assignments":{"assignments":[{"id":"892ea28f-79b1-4ad9-92b2-095d8373abdc","name":"auto_categoria","value":"=auto_categoria:{{ $json[\"Auto Categoria\"] }}\ncontexto: {{ $json.Contexto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,464],"id":"de925e5c-0d10-4961-b7ed-0d384462dbf2","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[752,688],"id":"a13f0ad0-5bfa-4d7a-9a71-260bfc51770f","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[784,464],"id":"79d6688d-7d00-4d96-8dfe-3be649c0ee03","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"rTK4RVgEtLDZbLVz","name":"Supabase RAG - Agente STW"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.auto_categoria }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"type","value":"auto-category"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[880,688],"id":"2d87cb97-74d3-449d-bedf-807ac089d371","name":"Default Data Loader3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[960,896],"id":"1bf2af14-ff2f-48ce-87cc-615a97ddee03","name":"Recursive Character Text Splitter1"},{"parameters":{"resource":"table","operation":"lookup","workbook":{"__rl":true,"mode":"list","value":""},"worksheet":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.2,"position":[-576,-224],"id":"bc25cbda-f25e-40aa-8232-9c98355c2ce2","name":"Lookup a column","credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Rows3","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Get Rows2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get Rows3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader3":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader3","type":"ai_textSplitter","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Supabase Vector Store1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d7c88b1-04f4-46f8-a536-35701b4ddc29","triggerCount":0,"shared":[{"createdAt":"2025-10-21T17:48:51.176Z","updatedAt":"2025-10-21T17:48:51.176Z","role":"workflow:owner","workflowId":"UCh0qZ33P1iiTXNn","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}