Z47FhMEplsVcsW4y.json
{"createdAt":"2025-10-22T00:24:03.241Z","updatedAt":"2025-10-22T16:16:00.271Z","id":"Z47FhMEplsVcsW4y","name":"Regional Agendamentos - Envio Templates","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1216,464],"id":"fccda5eb-b827-47de-84f4-f495f962db77","name":"Loop Over Items"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{}},"id":"18754f8e-482c-43e0-ab54-ccb73a492158","name":"Get Numbers","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1904,464],"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d435d2a7-53fa-4d60-a068-89b46eda7fd6","leftValue":"={{ $json[\"Erro no envio\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"0153035f-e679-468a-8712-9b6696456834","leftValue":"={{ $json[\"Temp Enviado\"] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fb40cadd-aa4d-459d-90b5-7f0b5eab130c","leftValue":"={{ $json.Agendado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"fc03d718-21bc-403b-af23-16ed91e9941b","name":"Is Scheduled?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1696,464]},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.Telefone }}\",\n    \"templateId\": \"67d80796031c821c70ee9f47\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json[\"Nome Cliente\"] }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.Produto }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json[\"Número Sinistro\"] }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"https://calendly.com/maschetti-vist/agendamento-online1\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"3857669b-8d1b-43b9-bf1b-39056a303c36","name":"Send Template","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,464],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be20e9c-127d-4c57-a097-4231d5272d32","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,464],"id":"0a33f93c-ba44-44c2-afd1-60813fea4e57","name":"Is Invalid Number?"},{"parameters":{"assignments":{"assignments":[{"id":"cc3ef584-7341-4276-8541-9770505af3e4","name":"error.number","value":"={{ $json.error.message.trim().match(/(\\d{11,15})/)[1] }}\n","type":"string"},{"id":"f89a9e57-e8e7-4d74-9ead-a4f09deca87f","name":"error.message","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,608],"id":"8ef8af1e-7355-4eed-b26f-4cde7a00d8e0","name":"Set Error"},{"parameters":{},"id":"4e391935-6bc4-4b4c-b630-802b39888330","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-608,224],"webhookId":"bb3a1c88-c0aa-4fe9-90a8-851ea3e99a9e","onError":"continueRegularOutput"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,384],"id":"0635c562-7fd2-453f-8129-a268d0525d62","name":"Wait2","webhookId":"1b7b61fa-5fa9-47b8-886c-74432201900d"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/messages/{{ $json.messageSentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"11784ca5-dcfa-40f6-af4e-49a01a004c73","name":"Message Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,224],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b7fe8a08-39d8-4948-8c36-8ac4bc9aeb91","leftValue":"={{ $json.status }}","rightValue":-1,"operator":{"type":"number","operation":"equals"}},{"id":"d435d2a7-53fa-4d60-a068-89b46eda7fd6","leftValue":"={{ $json[\"Erro no envio\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"2f9a92af-40c4-4c23-afde-208053f9d532","name":"Error Sent?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,224],"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Loop Over Items').item.json.Telefone }}","fieldsUi":{"values":[{"column":"Temp Enviado","fieldValue":"SIM"},{"column":"Qtde envio Temp","fieldValue":"1"}]},"options":{}},"id":"6a78dbd8-ff1d-4757-b1b1-8c3d044bce22","name":"Add Sent Correctly","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[0,384],"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Loop Over Items').item.json.Telefone }}","fieldsUi":{"values":[{"column":"Erro no envio","fieldValue":"={{ $json.errorMessage }}"}]},"options":{}},"id":"55de4a9e-bed0-4262-981c-2c5407f27efe","name":"Add Error","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[0,0],"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS3ZL6BVKBQHHNNB2HPMFQSXHPLZS","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0200-000000000000}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BA06AF02B-E7C0-436B-A3BD-8584AE77AF32%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Loop Over Items').item.json.Telefone }}","fieldsUi":{"values":[{"column":"Erro no envio","fieldValue":"={{ $json.error.message }}"}]},"options":{}},"id":"eb4c84df-3f50-47a4-bd46-54042ec60b14","name":"Error","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-384,608],"alwaysOutputData":true,"credentials":{"microsoftExcelOAuth2Api":{"id":"JA8wandiwpe6C56L","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"public":true,"initialMessages":"Para disparar, basta digitar \"Ok\"","options":{"subtitle":"Disparador de Mensagem","title":"Automação - Envio dos Templates"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2096,464],"id":"72027cd9-8207-4518-b239-a5f4c68c8db6","name":"When chat message received","webhookId":"a6eeb8b3-5673-4f3f-8c6e-a02d545b7c8e"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,48],"id":"ed756e83-d95b-4bc3-9983-9d29e81e9dba","name":"Wait1","webhookId":"11f3de69-bd88-4571-80c8-f4a8738da65f"},{"parameters":{"maxItems":2000},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1440,464],"id":"a59fdef0-6d04-4ee6-b8b9-ede37387d48a","name":"Limit"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-208,608],"id":"0f576935-964a-46a1-893c-bf4388b19516","name":"Wait3","webhookId":"1b7b61fa-5fa9-47b8-886c-74432201900d"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Send Template","type":"main","index":0}]]},"Get Numbers":{"main":[[{"node":"Is Scheduled?","type":"main","index":0}]]},"Is Scheduled?":{"main":[[],[{"node":"Limit","type":"main","index":0}]]},"Send Template":{"main":[[{"node":"Is Invalid Number?","type":"main","index":0}]]},"Is Invalid Number?":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Set Error","type":"main","index":0}]]},"Set Error":{"main":[[{"node":"Error","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Message Status","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Add Sent Correctly","type":"main","index":0}]]},"Message Status":{"main":[[{"node":"Error Sent?","type":"main","index":0}]]},"Error Sent?":{"main":[[{"node":"Add Error","type":"main","index":0}],[{"node":"Add Sent Correctly","type":"main","index":0}]]},"Add Sent Correctly":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Add Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Get Numbers","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Add Error","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6fc4ef5f-75f2-46e9-af9b-75c75c3c9abc","triggerCount":1,"shared":[{"createdAt":"2025-10-22T00:24:03.241Z","updatedAt":"2025-10-22T00:24:03.241Z","role":"workflow:owner","workflowId":"Z47FhMEplsVcsW4y","projectId":"ENlbdpWxrdAUmx1o"}],"tags":[]}